*:focus {
  outline: none;
}

.componentbar {
  background: #1e1e1e;
  color: #fbfbfb;
  font-size: 0.8em;
  height: 1.584em;
  height: 1.667em;
  line-height: 1.584;
}
.componentbar .sys-component-appname {
  margin-left: 0.5em;
}

.component-options {
  -webkit-order: 1;
  order: 1;
}
.component-options .button,
.component-options :not(.disabled).button:hover,
.component-options :not(.disabled).button:active,
.component-options .button.active {
  border-color: transparent;
  box-shadow: none;
  color: #cdcdcd;
}
.component-options .button {
  background-color: transparent;
  border-radius: 0px;
}
.component-options .button:hover:not(.disabled) {
  background-color: #373737;
}
.component-options .button:active:not(.disabled) {
  background-color: #282828;
}
.component-options .button.disabled {
  opacity: 0.6;
}
.component-options .overflowpanel-contentwrapper {
  vertical-align: middle;
}

.component-optionbutton {
  background-image: url(../../../images/component_options.png);
  background-position: 2px center;
  background-repeat: no-repeat;
  padding-left: 1.8em;
  padding-right: 0.5em;
}
.component-optionbutton:after {
  display: none;
}
.component-options .component-optionbutton {
  border-width: 0px 1px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}
.component-options .component-optionbutton:hover, .component-options .component-optionbutton.active, .component-options .component-optionbutton.disabled {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.component-maxbutton {
  padding: 0px 3px;
}
.component-maxbutton .button-img {
  height: initial;
}