/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Saira');

h1 {
  text-align: center;
  font-family: 'Saira', sans-serif;
}
h1:after {
  background: #F67280;
  content: '';
  display: block;
  height: 5px;
  margin: 10px;
}

#optionField {
  display: inline;
  width: 100%;
  margin: 10%;
}

form {
  display: inline-block;
  width: 70%;
  padding-bottom: 10px;
  font-family: 'Saira', sans-serif;
  font-size: 16px;
}

#inlinePositionOptions {
  display: none;
}

#blockPositionOptions {
  display: inline;
}

#manual {
  display: inline;
  width: 100px;
  height: 50px;
}

#container {
  width: 90%;
  height: 90%;
  margin: auto auto;
}

button {
  text-align: center;
  font-size: 100%;
  border-radius: 1em;
  padding: 1em;
  width: 200px;
  height: 150px;
  margin: 20px;
  justify-content: center;
  font-family: 'Saira', sans-serif;
}

#scrollBox {
  border: 1px solid gray;
  height: 400px;
  width: 400px;
  margin: 2em auto;
  padding: 10px;
}

.block-scrollBox {  
  overflow-y: scroll;
}

.inline-scrollBox {
  overflow-x: scroll;
  white-space: nowrap;
}

.box {
  text-align: center;
  font-size: 100%;
  border-radius: 1em;
  padding: 1em;
  margin: 1em auto;
  width: 100px;
  height: 100px;
  font-family: 'Saira', sans-serif;
  background-color: gray;
}

.targetBox {
  text-align: center;
  font-size: 100%;
  border-radius: 1em;
  padding: 1em;
  margin: 1em auto;
  width: 100px;
  height: 100px;
  font-family: 'Saira', sans-serif;
  background-color: gray;
  background-color: #D80546;
  box-shadow: inset 0 0 10px 10px #aaa;
  color: #fff;
  outline: none;
}

#statusBox {
  position: fixed;
  bottom: 2em;
  left: 10em;
  right: 10em;
  font-family: 'Saira', sans-serif;
  font-size: 100%;
  padding: 0.5em;
  margin: auto auto;
  background-color: #ff8;
  border: 3px solid #cc5;
  opacity: .9;
  text-align: center;
}

#statusBox.yes {
  background: #8f8;
  border-color: #5c5;
}

#statusBox.no {
  background: #f88;
  border-color: #c55;
}

#statusText{
  font-weight: bold;
	background-color: black;
	color: white;
	padding: 0.3em;
}