*:focus {
  outline: none;
}

.stackpanel {
  /**** just in case someone is using this style already  ***/
}
.stackpanel.sys-border {
  border: 1px solid #646464;
}
.stackpanel.sys-group {
  background: #282828;
  padding: 0.25em;
}
.stackpanel.sys-group > .separator.horz {
  margin-left: -0.25em;
  margin-right: -0.25em;
}
.stackpanel.sys-group > .sys-group-header {
  background: #232323;
  border-bottom: 1px solid #111111;
  margin: -0.25em -0.25em 0px -0.25em;
  padding: 0.125em 0.25em 0.25em 0.25em;
}
.stackpanel.sys-group > .sys-group-content {
  padding-top: 0.25em;
}
.stackpanel.sys-group .sys-group-listing {
  background: #232323;
  border-right: 1px solid #111111;
  margin: -0.25em 0px -0.25em -0.25em;
  padding: 0.25em 0px;
}
.stackpanel.sys-group .sys-group-detail {
  padding-left: 0.6em;
}
.stackpanel.sys-group-pod {
  background-color: #1e1e1e;
  border-radius: 0px;
  padding: 10px;
}
.stackpanel.sys-frame, .stackpanel.sys-frame-noborder-darker {
  background: #232323;
}
.stackpanel.sys-small {
  font-size: 0.866666em;
  line-height: 1.5;
}
.sys-tile .stackpanel.sys-small {
  font-size: 0.8em;
}
.stackpanel.sys-level1 {
  background-color: #1e1e1e;
  color: #d7d7d7;
  font-size: 0.866666em;
  padding: 0px 0px 1px;
}
.tabpanel .stackpanel.sys-level1 {
  margin: -3px -6px -2px;
}
.tabpanel.sys-compact .stackpanel.sys-level1 {
  margin: 0;
}
.stackpanel.sys-level2 {
  background-color: #1e1e1e;
  color: #d7d7d7;
  font-size: 0.866666em;
  padding: 0px 0px 1px;
}
.tabpanel .stackpanel.sys-level2 {
  margin: -2px 0px -2px 0px;
}
.tabpanel.sys-compact .stackpanel.sys-level2 {
  margin: 0;
}
.stackpanel.sys-footer {
  background-color: #1e1e1e;
  color: #d7d7d7;
  font-size: 0.866666em;
}
.stackpanel.sys-heading {
  background-image: -webkit-linear-gradient(top, #232323, #202020);
  box-shadow: inset 0px 1px rgba(255, 255, 255, 0.06);
  color: #d7d7d7;
  font-size: 0.866666em;
}
.stackpanel.sys-alert-high {
  background: #CD4B4B;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  color: #fbfbfb;
}
.stackpanel.sys-chat-alert-high {
  background: #CD4B4B;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  color: #fbfbfb;
}
.stackpanel.sys-notification-alert {
  background-color: #CD4B4B;
  padding: 10px;
}
.stackpanel.sys-blast-card {
  background: #191919;
  border: 1px solid #000000;
  box-shadow: inset 3px 0px #E67E7E;
}
.stackpanel.sys-chat-blast-card {
  background: #191919;
  border: 1px solid #000000;
  box-shadow: inset 3px 0px #E67E7E;
}
.stackpanel.sys-blast-item {
  background: #191919;
}
.stackpanel.sys-mouseover-menu::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -50px;
  height: 100%;
  width: 50px;
  background-color: rgba(0, 0, 0, 0);
  clip-path: polygon(0 90%, 50% 75%, 90% 30%, 100% 10%, 100% 100%, 0 100%);
}
.stackpanel.sys-mouseover-menu::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #414141;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6), inset 0px 1px 0px rgba(255, 255, 255, 0.08);
  border-radius: 2px;
  overflow: hidden;
}
.stackpanel.sys-expander-group {
  background: #1e1e1e;
}
.stackpanel.sys-action-footer {
  padding: 8px;
}
.stackpanel.sys-crop-box {
  border: 2px solid #fa5a28;
}
.stackpanel.sys-crop-source {
  border: 2px solid #414141;
}
.stackpanel.sys-mainbody {
  padding: 5px;
}
.stackpanel.sys-maincontent {
  padding: 5px;
}
.stackpanel.sys-maincontent > .inline {
  margin-right: 0.6em;
}
.stackpanel.sys-maincontent > .inline:last-child {
  margin-right: initial;
}
.stackpanel.sys-maincontent > .block {
  margin-bottom: 0.6em;
}
.stackpanel.sys-maincontent > .block:last-child {
  margin-bottom: initial;
}
.stackpanel.sys-maincontent > .separator.horz {
  margin-left: -0.25em;
  margin-right: -0.25em;
}
.stackpanel.sys-maincontent > .separator.vert {
  margin-bottom: -0.25em;
  margin-top: -0.25em;
}
.stackpanel.sys-bigspaced {
  padding-top: 4px;
  padding-left: 4px;
}
.stackpanel.sys-bigspaced > .stackpanel-child {
  margin-right: 8px;
  margin-bottom: 4px;
}
.stackpanel.sys-bigspaced-inner > .stackpanel-child {
  margin-right: 8px;
  margin-bottom: 4px;
}
.stackpanel.sys-bigspaced-inner > .stackpanel-child:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
.stackpanel.sys-spaced-outer {
  padding: 10px;
}
.stackpanel.sys-bigspaced-outer {
  padding: 0.6em;
}
.stackpanel.sys-spaced-column > .stackpanel-child {
  margin-right: 0.6em;
}
.stackpanel.sys-spaced-column > .stackpanel-child:last-child {
  margin-right: initial;
}
.stackpanel.sys-spaced-horz > .stackpanel-child {
  margin-right: 4px;
}
.stackpanel.sys-spaced-horz > .stackpanel-child:last-child {
  margin-right: 0px;
}
.stackpanel.sys-spaced-vert > .stackpanel-child {
  margin-top: 8px;
}
.stackpanel.sys-spaced-vert > .stackpanel-child:first-child {
  margin-top: 0px;
}
.stackpanel.sys-actionbar-bottom {
  padding-top: 12px;
}
.stackpanel.sys-actionbar-bottom > .stackpanel-child {
  margin-right: 8px;
}
.stackpanel.sys-actionbar-bottom > .stackpanel-child:last-child, .stackpanel.sys-actionbar-bottom > .stackpanel-child:only-child {
  margin-right: 0px;
}
.stackpanel.sys-spaced > .separator {
  margin-left: 1px;
}
.controlregion .stackpanel.sys-spaced > .separator {
  margin-left: 0px;
}
.stackpanel.sys-spaced > .inline {
  margin-right: 8px;
}
.controlregion .stackpanel.sys-spaced > .inline {
  margin-right: 5px;
}
.stackpanel.sys-spaced > .inline:last-child {
  margin-right: initial;
}
.stackpanel.sys-spaced > .block {
  margin-bottom: 8px;
}
.controlregion .stackpanel.sys-spaced > .block {
  margin-bottom: 4px;
}
.stackpanel.sys-spaced > .block:last-child {
  margin-bottom: initial;
}

.dialog .stackpanel, .popup .stackpanel {
  /**** just in case someone is using this style already  ***/
}
.dialog .stackpanel.sys-group, .popup .stackpanel.sys-group {
  border: 1px solid #000000;
  background: #1e1e1e;
  box-shadow: inset 0px 0px 1px 0px rgba(255, 255, 255, 0.2);
  padding: 0.8em;
}
.dialog .stackpanel.sys-group > .separator.horz, .popup .stackpanel.sys-group > .separator.horz {
  margin-left: -0.8em;
  margin-right: -0.8em;
}
.dialog .stackpanel.sys-group > .sys-group-header, .popup .stackpanel.sys-group > .sys-group-header {
  background: #1e1e1e;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid #111111;
  box-shadow: inset 0px 0px 1px 0px rgba(255, 255, 255, 0.2);
  margin: -0.8em -0.8em 0 -0.8em;
  padding: 0.4em 0.8em 0.4em 0.8em;
}
.dialog .stackpanel.sys-group > .sys-group-content, .popup .stackpanel.sys-group > .sys-group-content {
  padding-top: 0.8em;
}
.dialog .stackpanel.sys-group .sys-group-listing, .popup .stackpanel.sys-group .sys-group-listing {
  background: #1e1e1e;
  margin: -0.8em 0px -0.8em -0.8em;
  padding: 0.8em 0px;
}
.dialog .stackpanel.sys-group .sys-group-detail, .popup .stackpanel.sys-group .sys-group-detail {
  padding-left: 0.8em;
}
.dialog .stackpanel.sys-group-pod, .popup .stackpanel.sys-group-pod {
  border-right: 1px solid #484848;
  box-shadow: inset 1px 0px rgba(255, 255, 255, 0.05);
}
.dialog .stackpanel.sys-group-pod:last-child, .popup .stackpanel.sys-group-pod:last-child {
  border-right: none;
}
.dialog .stackpanel.sys-group-pod .sys-group-header, .popup .stackpanel.sys-group-pod .sys-group-header {
  margin: -0.6em -0.6em 0 -0.6em;
}
.dialog .stackpanel.sys-frame, .dialog .stackpanel.sys-frame-noborder-darker, .popup .stackpanel.sys-frame, .popup .stackpanel.sys-frame-noborder-darker {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}