*:focus {
  outline: none;
}

.hilolinechart-point-border {
  border: 1px solid #000000;
}

.triangle-hilo-orange {
  border-bottom-color: #C99283;
}

.hilo-marketup {
  background-color: #40B7FF;
}

.hilo-low-over-close {
  background-color: #40B7FF;
}

.hilo-current-over-close {
  background-color: #0074D1;
}

.hilo-marketdown {
  background-color: #FD9B7D;
}

.hilo-current-below-close {
  background-color: #FD9B7D;
}

.hilo-high-below-close {
  background-color: #FA5A28;
}

.hilolinechart-line {
  background-color: #bebebe;
}

.triangle-hilo-white {
  border-bottom-color: #fbfbfb;
}

.triangle-hilo-point {
  border-bottom-color: #fbfbfb;
}

.triangle-hilo-blue {
  border-bottom-color: #63b2ff;
}

.hilolinechart.sys-market-inverse .hilo-marketup {
  background-color: #FD9B7D;
}
.hilolinechart.sys-market-inverse .hilo-low-over-close {
  background-color: #FD9B7D;
}
.hilolinechart.sys-market-inverse .hilo-current-over-close {
  background-color: #FA5A28;
}
.hilolinechart.sys-market-inverse .hilo-marketdown {
  background-color: #40B7FF;
}
.hilolinechart.sys-market-inverse .hilo-current-below-close {
  background-color: #40B7FF;
}
.hilolinechart.sys-market-inverse .hilo-high-below-close {
  background-color: #0074D1;
}