*:focus {
  outline: none;
}

.hilolinechart-point-border {
  border: 1px solid #000000;
}

.triangle-hilo-orange {
  border-bottom-color: #d64d22;
}

.hilo-marketup {
  background-color: #006716;
}

.hilo-low-over-close {
  background-color: #006716;
}

.hilo-current-over-close {
  background-color: #50f06e;
}

.hilo-marketdown {
  background-color: #c31834;
}

.hilo-current-below-close {
  background-color: #c31834;
}

.hilo-high-below-close {
  background-color: #ff7486;
}

.hilolinechart-line {
  background-color: #141414;
}

.triangle-hilo-white {
  border-bottom-color: #000000;
}

.triangle-hilo-point {
  border-bottom-color: #000000;
}

.triangle-hilo-blue {
  border-bottom-color: #0073ff;
}

.hilolinechart.sys-market-inverse .hilo-marketup {
  background-color: #c31834;
}
.hilolinechart.sys-market-inverse .hilo-low-over-close {
  background-color: #c31834;
}
.hilolinechart.sys-market-inverse .hilo-current-over-close {
  background-color: #ff7486;
}
.hilolinechart.sys-market-inverse .hilo-marketdown {
  background-color: #006716;
}
.hilolinechart.sys-market-inverse .hilo-current-below-close {
  background-color: #006716;
}
.hilolinechart.sys-market-inverse .hilo-high-below-close {
  background-color: #50f06e;
}