*:focus {
  outline: none;
}

.hilolinechart-point-border {
  border: 1px solid #000000;
}

.triangle-hilo-orange {
  border-bottom-color: #fa5a28;
}

.hilo-marketup {
  background-color: #50f06e;
}

.hilo-low-over-close {
  background-color: #50f06e;
}

.hilo-current-over-close {
  background-color: #006716;
}

.hilo-marketdown {
  background-color: #ff415c;
}

.hilo-current-below-close {
  background-color: #ff415c;
}

.hilo-high-below-close {
  background-color: #a1122c;
}

.hilolinechart-line {
  background-color: #bebebe;
}

.triangle-hilo-white {
  border-bottom-color: #fbfbfb;
}

.triangle-hilo-point {
  border-bottom-color: #fbfbfb;
}

.triangle-hilo-blue {
  border-bottom-color: #63b2ff;
}

.hilolinechart.sys-market-inverse .hilo-marketup {
  background-color: #ff415c;
}
.hilolinechart.sys-market-inverse .hilo-low-over-close {
  background-color: #ff415c;
}
.hilolinechart.sys-market-inverse .hilo-current-over-close {
  background-color: #a1122c;
}
.hilolinechart.sys-market-inverse .hilo-marketdown {
  background-color: #50f06e;
}
.hilolinechart.sys-market-inverse .hilo-current-below-close {
  background-color: #50f06e;
}
.hilolinechart.sys-market-inverse .hilo-high-below-close {
  background-color: #006716;
}