*:focus {
  outline: none;
}

.tree {
  overflow: auto;
  overflow-x: hidden;
}
.tree .tree-wrapper {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}
.tree .tree-dim-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.33;
  display: none;
  pointer-events: none;
}
.tree.dimmed .tree-dim-layer {
  display: block;
}
.tree .tree-line-container + .tree-expander-none {
  width: 15px;
}
.tree.sys-folders .tree-expander-closed {
  background: url(/bbkitAssets/images/table-tree-arrow-collapsed.svg) center center no-repeat;
  margin-right: 7px;
}
.tree.sys-folders .tree-expander-open {
  background: url(/bbkitAssets/images/table-tree-arrow-expanded.svg) center center no-repeat;
  margin-right: 7px;
}
.tree .tree-expander-closed {
  background: url(/bbkitAssets/images/table-tree-arrow-collapsed.svg) center center no-repeat;
  position: relative;
  height: 19px;
  width: 15px;
}
.tree .tree-expander-open {
  background: url(/bbkitAssets/images/table-tree-arrow-expanded.svg) center center no-repeat;
  position: relative;
  height: 19px;
  width: 15px;
}
.tree .tree-child {
  margin-left: 15px;
  position: relative;
}
.tree:not(.disabled) .tree .tree-child.tree-selectable > .tree-child-content-container:hover, .tree .tree-child.forced-highlight > .tree-child-content-container {
  background: #505050;
}
.tree .tree-child > .tree-child-content-container > .tree-line-container {
  height: 19px;
  width: 15px;
}
.tree .tree-child.tree-nolines {
  background: none;
}
.tree .tree-child.tree-nolines > .tree-child-content-container > .tree-line-container, .tree .tree-child.tree-nolines:last-child > .tree-child-content-container > .tree-line-container {
  background: none;
}
.tree .tree-child-root > .tree-child {
  margin-left: 0;
}
.tree .tree-line-container {
  display: inline-block;
}
.tree .tree-wrapper > .tree-child {
  background: none;
  margin-left: 0;
}
.tree .tree-wrapper > .tree-child > .tree-child-content-container > .tree-line-container {
  display: none;
}
.tree .tree-child-children-container {
  display: none;
}
.tree .tree-child-children-container.visible {
  display: block;
}
.tree .tree-child > .tree-child-content-container {
  display: inline-block;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  padding-left: 4px;
  padding-right: 4px;
}
.tree .tree-child-root > .tree-child-children-container > .tree-child {
  margin-left: 0;
}
.tree .tree-child.highlight > .tree-child-content-container {
  box-shadow: inset 0 0 2px 2px blue;
}
.tree .tree-child.highlight.invalid-target > .tree-child-content-container {
  box-shadow: none;
  cursor: no-drop;
}
.tree .tree-child.selected > .tree-child-content-container {
  background: #1e6ab4;
}
.tree .tree-child.selected > .tree-child-content-container > .label {
  color: #fff;
}
.tree.can-dim .tree-child-content-container.tree-grabbed {
  z-index: 1;
}
.tree .tree-child.reorder-above > .tree-child-content-container {
  position: relative;
}
.tree .tree-child.reorder-above > .tree-child-content-container::after {
  content: "";
  height: 2px;
  background: green;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.tree .tree-child.reorder-below > .tree-child-content-container {
  position: relative;
}
.tree .tree-child.reorder-below > .tree-child-content-container::after {
  content: "";
  height: 2px;
  background: green;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.tree.sys-legacy-tree .tree-line-container + .tree-expander-none {
  width: auto;
}
.tree.sys-legacy-tree.sys-folders .tree-expander-closed {
  background: url(/bbkitAssets/images/tree-folder-closed.png) center center no-repeat;
  margin-right: 7px;
}
.tree.sys-legacy-tree.sys-folders .tree-expander-open {
  background: url(/bbkitAssets/images/tree-folder-open.png) center center no-repeat;
  margin-right: 7px;
}
.tree.sys-legacy-tree .tree-expander-closed {
  background: url(/bbkitAssets/images/tree-collapse.png) center center no-repeat;
  position: relative;
  height: 19px;
  width: 19px;
}
.tree.sys-legacy-tree .tree-expander-open {
  background: url(/bbkitAssets/images/tree-expand.png) center center no-repeat;
  position: relative;
  height: 19px;
  width: 19px;
}
.tree.sys-legacy-tree .tree-child {
  background: url(/bbkitAssets/images/tree-line.png) repeat-y 4px 0px;
  margin-left: 20px;
  position: relative;
}
.tree:not(.disabled) .tree.sys-legacy-tree .tree-child.tree-selectable > .tree-child-content-container:hover, .tree.sys-legacy-tree .tree-child.forced-highlight > .tree-child-content-container {
  background: #505050;
}
.tree.sys-legacy-tree .tree-child > .tree-child-content-container > .tree-line-container {
  background: url(/bbkitAssets/images/tree-leaf.png);
  height: 19px;
  width: 23px;
}
.tree.sys-legacy-tree .tree-child:last-child {
  background: none;
}
.tree.sys-legacy-tree .tree-child:last-child > .tree-child-content-container > .tree-line-container {
  background: url(/bbkitAssets/images/tree-lastleaf.png);
  height: 19px;
  width: 23px;
}
.tree.sys-legacy-tree .tree-child.tree-nolines {
  background: none;
}
.tree.sys-legacy-tree .tree-child.tree-nolines > .tree-child-content-container > .tree-line-container, .tree.sys-legacy-tree .tree-child.tree-nolines:last-child > .tree-child-content-container > .tree-line-container {
  background: none;
}
.tree.sys-legacy-tree .tree-wrapper > .tree-child {
  background: none;
  margin-left: 0;
}
.tree.sys-legacy-tree .tree-wrapper > .tree-child > .tree-child-content-container > .tree-line-container {
  display: none;
}