.tabpanel {
  -webkit-flex-direction: column;
  overflow: hidden;
  display: inline-flex;
}
.tabpanel.block {
  display: flex;
}
.tabpanel.tabpanel-size-parent > .tabpanelcontent {
  -webkit-flex: 1 0 0;
  min-height: 0;
  min-width: 0;
}