.overflowpanel {
  overflow: hidden;
  line-height: normal;
}
.overflowpanel.parent {
  display: -webkit-flex;
  display: flex;
}
.overflowpanel.parent > .widget {
  -webkit-flex: 1 1 0px;
  flex: 1 1 0px;
}
.overflowpanel.parent > .widget.measure {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
}
.overflowpanel > .widget {
  overflow: hidden;
}

.overflowpanel-debug-overlay-container,
.overflowpanel-debug-overlay-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overflowpanel-debug-overlay-container {
  background-color: rgba(99, 255, 60, 0.5);
  z-index: 99;
}

.overflowpanel-debug-overlay-content {
  background-color: rgba(92, 0, 255, 0.5);
  z-index: 100;
}

.overflowpanel-contentwrapper {
  display: inline-block;
  position: relative;
  /*This is to counter the extra space that webkit adds
  when nested divs with display: block; wrapping 
  display: inline-block; with overflow: hidden;
  in some of the children */
  vertical-align: top;
}