*:focus {
  outline: none;
}

.separator {
  border-width: 0px;
}
.separator.horz {
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  margin-top: 5px;
  margin-bottom: 5px;
}
.separator.vert {
  border-left: 1px solid rgba(255, 255, 255, 0.11);
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}
.separator.sys-controlregion.vert {
  margin-left: 2px;
  margin-right: 2px;
}
.separator.sys-divider {
  border-color: #929292;
}
.separator.sys-divider.horz {
  border-bottom-width: 2px;
}
.separator.sys-divider.vert {
  border-left-width: 2px;
}
.separator.sys-dashed {
  border-style: dashed;
}
.separator.sys-tile, .sys-tile .separator, .bgcolor-tile .separator, .sys-clickable-container .separator {
  border-color: #000000;
}
.separator.sys-tile.horz, .sys-tile .separator.horz, .bgcolor-tile .separator.horz, .sys-clickable-container .separator.horz {
  margin-bottom: 0px;
  margin-top: 0px;
}
.sys-group .separator {
  border-color: #282828;
}
.sys-group .separator.horz.sys-extend {
  margin-left: -0.25em;
  margin-right: -0.25em;
}