/* Copied from ssh://devgit/uiinf/jsblp repo "jsblp/css/fontconfig.css"
   c076570d2997202b32cb466d7b3eda670503049e*/
@font-face {
  font-family: "BB.Proportional";
  src: local("Arial");
}
@font-face {
  font-family: "BB.Proportional";
  src: local("Arial Unicode MS");
  unicode-range: U+2070-208e;
}
@font-face {
  font-family: "BB.Proportional";
  src: local("Bloomberg Prop Unicode N"), local("Bloomberg Prop Unicode K"), local("Bloomberg Prop Unicode I"), url(/bbkitAssets/fonts/Bloomberg-PropU_N.ttf);
  unicode-range: U+0000-2219, U+2713-2713, U+FE70-FEFF, U+FB50-FDFF, U+E000-E0FF;
}
@font-face {
  font-family: "BB.Proportional";
  src: local("EmojiOne"), url("../../fonts/emojione-svg.otf") format("opentype"), local("Segoe UI Symbol");
  unicode-range: U+023ED-023FA, U+026C8-026F9, U+1F1E6-1F1FF, U+1F300-1F64F, U+1F680-1F6F6, U+1F910-1F9C0, U+26000-26FFF; /* emojis */
}
@font-face {
  font-family: "BB.Proportional";
  src: local("Bloomberg Fixed Unicode N"), local("Bloomberg Fixed Unicode K"), local("Bloomberg Fixed Unicode I"), url(/bbkitAssets/fonts/Bloomberg-FixedU_N.ttf);
  unicode-range: U+e0c0-e0c9;
}
@font-face {
  font-family: "BB.Proportional";
  src: local("MS Gothic");
  unicode-range: U+2400-24e9, U+25cb-25cb, U+25ce-25d1, U+3000-3130, U+f000-ffff, U+3400-dfff, U+2605-2606;
}
@font-face {
  font-family: "BB.Proportional";
  src: local("Gulim");
  unicode-range: U+3131-318e, U+ac00-d790;
}
@font-face {
  font-family: "BB.Proportional";
  src: local("Segoe UI Symbol");
  unicode-range: U+2600-2604, U+2607-26C7, U+26FA-26FF;
}
@font-face {
  font-family: "BB.Medium.Proportional";
  src: local("Arial");
  font-weight: 500;
}
@font-face {
  font-family: "BB.Medium.Proportional";
  src: local("Arial Unicode MS");
  font-weight: 500;
  unicode-range: U+2070-208e;
}
@font-face {
  font-family: "BB.Medium.Proportional";
  src: url("../../fonts/Bloomberg-PropU_N-Medium.ttf") format("truetype"), local("Arial");
  unicode-range: U+0590-05ff, U+fe70-feff, U+fb50-fdff, U+0750-077f, U+0600-06ff, U+e000-e0ff, U+0700-2219, U+0000-058f, U+2713-2713;
}
@font-face {
  font-family: "BB.Medium.Proportional";
  src: local("MS Gothic");
  font-weight: 500;
  unicode-range: U+2400-24e9, U+25cb-25cb, U+25ce-25d1, U+3000-3130, U+f000-ffff, U+3400-dfff, U+2605-2606;
}
@font-face {
  font-family: "BB.Medium.Proportional";
  src: local("Gulim");
  font-weight: 500;
  unicode-range: U+3131-318e, U+ac00-d790;
}
@font-face {
  font-family: "BB.Medium.Proportional";
  src: local("Segoe UI Symbol");
  unicode-range: U+2600-2604, U+2607-26C7, U+26FA-26FF;
}
@font-face {
  font-family: "BB.Medium.Proportional";
  src: local("EmojiOne"), url("../../fonts/emojione-svg.otf") format("opentype"), local("Segoe UI Symbol");
  unicode-range: U+023ED-023FA, U+026C8-026F9, U+1F1E6-1F1FF, U+1F300-1F64F, U+1F680-1F6F6, U+1F910-1F9C0, U+26000-26FFF; /* emojis */
}
@font-face {
  font-family: "BB.Bold.Proportional";
  src: local("Arial");
  font-weight: 700;
}
@font-face {
  font-family: "BB.Bold.Proportional";
  src: local("Arial Unicode MS");
  font-weight: 700;
  unicode-range: U+2070-208e;
}
@font-face {
  font-family: "BB.Bold.Proportional";
  src: local("Bloomberg Prop Unicode B Bold"), url(/bbkitAssets/fonts/Bloomberg-PropU_N-Bold.ttf);
  unicode-range: U+0590-05ff, U+fe70-feff, U+fb50-fdff, U+0750-077f, U+0600-06ff, U+e000-e0ff, U+0700-2219, U+0000-058f, U+2713-2713;
}
@font-face {
  font-family: "BB.Bold.Proportional";
  src: local("MS Gothic");
  font-weight: 700;
  unicode-range: U+2400-24e9, U+25cb-25cb, U+25ce-25d1, U+3000-3130, U+f000-ffff, U+3400-dfff, U+2605-2606;
}
@font-face {
  font-family: "BB.Bold.Proportional";
  src: local("Gulim");
  font-weight: 700;
  unicode-range: U+3131-318e, U+ac00-d790;
}
@font-face {
  font-family: "BB.Bold.Proportional";
  src: local("Segoe UI Symbol");
  unicode-range: U+2600-2604, U+2607-26C7, U+26FA-26FF;
}
@font-face {
  font-family: "BB.Bold.Proportional";
  src: local("EmojiOne"), url("../../fonts/emojione-svg.otf") format("opentype"), local("Segoe UI Symbol");
  unicode-range: U+023ED-023FA, U+026C8-026F9, U+1F1E6-1F1FF, U+1F300-1F64F, U+1F680-1F6F6, U+1F910-1F9C0, U+26000-26FFF; /* emojis */
}
@font-face {
  font-family: "BB.Proportional";
  src: local("Bloomberg Fixed Unicode N");
  unicode-range: U+2026;
}
@font-face {
  font-family: "BB.Sans";
  src: local("Arial");
}
@font-face {
  font-family: "BB.Sans";
  src: local("Arial Unicode MS");
  unicode-range: U+2070-208e;
}
@font-face {
  font-family: "BB.Sans";
  src: url("../../fonts/Bloomberg-Sans-PropU_N.ttf") format("truetype"), local("Bloomberg Prop Unicode N"), local("Bloomberg Prop Unicode K"), local("Bloomberg Prop Unicode I");
  unicode-range: U+0000-2219, U+2713-2713, U+FE70-FEFF, U+FB50-FDFF, U+E000-E0FF;
}
@font-face {
  font-family: "BB.Sans";
  src: local("EmojiOne"), url("../../fonts/emojione-svg.otf") format("opentype"), local("Segoe UI Symbol");
  unicode-range: U+023ED-023FA, U+026C8-026F9, U+1F1E6-1F1FF, U+1F300-1F64F, U+1F680-1F6F6, U+1F910-1F9C0, U+26000-26FFF; /* emojis */
}
@font-face {
  font-family: "BB.Sans";
  src: local("Bloomberg Fixed Unicode N"), local("Bloomberg Fixed Unicode K"), local("Bloomberg Fixed Unicode I");
  unicode-range: U+e0c0-e0c9;
}
@font-face {
  font-family: "BB.Sans";
  src: local("MS Gothic");
  unicode-range: U+2400-24e9, U+25cb-25cb, U+25ce-25d1, U+3000-3130, U+f000-ffff, U+3400-dfff, U+2605-2606;
}
@font-face {
  font-family: "BB.Sans";
  src: local("Gulim");
  unicode-range: U+3131-318e, U+ac00-d790;
}
@font-face {
  font-family: "BB.Sans";
  src: local("Segoe UI Symbol");
  unicode-range: U+2600-2604, U+2607-26C7, U+26FA-26FF;
}
@font-face {
  font-family: "BB.Medium.Sans";
  src: local("Arial");
  font-weight: 500;
}
@font-face {
  font-family: "BB.Medium.Sans";
  src: local("Arial Unicode MS");
  font-weight: 500;
  unicode-range: U+2070-208e;
}
@font-face {
  font-family: "BB.Medium.Sans";
  src: url("../../fonts/Bloomberg-Sans-PropU_N-Medium.ttf") format("truetype"), local("Arial");
  unicode-range: U+0590-05ff, U+fe70-feff, U+fb50-fdff, U+0750-077f, U+0600-06ff, U+e000-e0ff, U+0700-2219, U+0000-058f, U+2713-2713;
}
@font-face {
  font-family: "BB.Medium.Sans";
  src: local("MS Gothic");
  font-weight: 500;
  unicode-range: U+2400-24e9, U+25cb-25cb, U+25ce-25d1, U+3000-3130, U+f000-ffff, U+3400-dfff, U+2605-2606;
}
@font-face {
  font-family: "BB.Medium.Sans";
  src: local("Gulim");
  font-weight: 500;
  unicode-range: U+3131-318e, U+ac00-d790;
}
@font-face {
  font-family: "BB.Medium.Sans";
  src: local("Segoe UI Symbol");
  unicode-range: U+2600-2604, U+2607-26C7, U+26FA-26FF;
}
@font-face {
  font-family: "BB.Medium.Sans";
  src: local("EmojiOne"), url("../../fonts/emojione-svg.otf") format("opentype"), local("Segoe UI Symbol");
  unicode-range: U+023ED-023FA, U+026C8-026F9, U+1F1E6-1F1FF, U+1F300-1F64F, U+1F680-1F6F6, U+1F910-1F9C0, U+26000-26FFF; /* emojis */
}
@font-face {
  font-family: "BB.FixedWidth";
  src: local("Lucida Console");
}
@font-face {
  font-family: "BB.FixedWidth";
  src: local("Arial Unicode MS");
  unicode-range: U+2070-208e;
}
@font-face {
  font-family: "BB.FixedWidth";
  src: local("Arial");
  unicode-range: U+2000-200a, U+0218-021b, U+2212-2212;
}
@font-face {
  font-family: "BB.FixedWidth";
  src: local("Bloomberg Fixed Unicode N"), local("Bloomberg Fixed Unicode K"), local("Bloomberg Fixed Unicode I"), url(/bbkitAssets/fonts/Bloomberg-FixedU_N.ttf);
  unicode-range: U+0590-05ff, U+fe70-feff, U+fb50-fdff, U+0750-077f, U+0600-06ff, U+e000-e0ff, U+0700-2219, U+0000-058f, U+2713-2713;
}
@font-face {
  font-family: "BB.FixedWidth";
  src: local("Bloomberg Fixed Unicode K");
  unicode-range: U+0020;
}
@font-face {
  font-family: "BB.FixedWidth";
  src: local("MS Gothic");
  unicode-range: U+2400-24e9, U+25cb-25cb, U+25ce-25d1, U+3000-3130, U+f000-ffff, U+3400-dfff, U+2605-2606;
}
@font-face {
  font-family: "BB.FixedWidth";
  src: local("Gulim");
  unicode-range: U+3131-318e, U+ac00-d790;
}
@font-face {
  font-family: "BB.FixedWidth";
  src: local("Segoe UI Symbol");
  unicode-range: U+2600-2604, U+2607-26C7, U+26FA-26FF;
}
@font-face {
  font-family: "BB.FixedWidth";
  src: local("EmojiOne"), url("../../fonts/emojione-svg.otf") format("opentype"), local("Segoe UI Symbol");
  unicode-range: U+023ED-023FA, U+026C8-026F9, U+1F1E6-1F1FF, U+1F300-1F64F, U+1F680-1F6F6, U+1F910-1F9C0, U+26000-26FFF; /* emojis */
}
@font-face {
  font-family: "BB.Crix";
  src: local("Bloomberg Prop Crix Unicode A"), url(/bbkitAssets/fonts/Bloomberg-PropCrixU_A-Regular.ttf);
}
@font-face {
  font-family: "BB.Crix";
  src: local("Bloomberg Fixed Unicode N"), local("Bloomberg Fixed Unicode K"), local("Bloomberg Fixed Unicode I"), url(/bbkitAssets/fonts/Bloomberg-FixedU_N.ttf);
  unicode-range: U+e0c0-e0c9;
}
@font-face {
  font-family: "BB.AvenirRegular";
  src: url("../../fonts/AvenirNextMForBBG-Regular.woff2") format("woff2"), local("Arial");
}
@font-face {
  font-family: "BB.AvenirDemi";
  src: url("../../fonts/AvenirNextMForBBG-Demi.woff2") format("woff2"), local("Arial Bold");
}
@font-face {
  font-family: "BB.AvenirMedium";
  src: url("../../fonts/AvenirNextMForBBG-Medium.woff2") format("woff2"), local("Arial");
}
@font-face {
  font-family: "BB.AvenirLight";
  src: url("../../fonts/AvenirNextMForBBG-Light.woff2") format("woff2"), local("Arial");
}
@font-face {
  font-family: "BB.AvenirBold";
  src: url("../../fonts/AvenirNextMForBBG-Bold.woff2") format("woff2"), local("Arial Bold");
}
@font-face {
  font-family: "BB.AvenirItalic";
  src: url("../../fonts/AvenirNextMForBBG-Italic.woff2") format("woff2"), local("Arial");
}