*:focus {
  outline: none;
}

#window-main {
  background-color: #191919;
}

.sys-window-chrome {
  color: #000000;
}
.sys-window-chrome.sys-lps {
  color: #000000;
}
.window-state-blur .sys-window-chrome.sys-lps {
  color: #d8d8d8;
}

.sys-chrome-title {
  top: 1px;
  left: 7px;
  font-size: 10px;
}

.sys-mid-menu, .sys-right-menu, .window-state-blur .sys-right-menu {
  background: initial;
  border: 0;
}

#window-main:not(.ui-content-window) #app-body {
  padding: 10px;
}

#window-main.ui-content-window #app-body {
  margin: 10px;
}

#app-anchor {
  width: -webkit-calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
}