*:focus {
  outline: none;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: default;
  -webkit-user-select: none;
  position: absolute;
}

#window-main {
  overflow: hidden;
  box-sizing: content-box;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

@media print {
  #window-main {
    background-color: #fffffe;
  }
}
#window-frame {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  overflow: hidden;
  margin-left: 1px;
  margin-top: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
}

.embedded .sys-window-chrome {
  display: none;
}

#window-content {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: stretch;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.sys-window-chrome {
  display: block;
  position: relative;
  -webkit-user-select: none;
}

.sys-chrome-title {
  -webkit-flex: 0 1 auto;
  overflow-x: hidden;
  max-width: -webkit-min-content;
  min-width: 30px;
  margin-left: 6px;
}

.sys-chrome-clock {
  margin-left: 6px;
}

.leftMenu {
  position: absolute;
}

.embedded .app-body, .embedded #app-anchor, .embedded #window-frame {
  pointer-events: all !important;
}

#window-header, .app-body, #app-anchor, #window-frame {
  pointer-events: none;
}

#window-root-widget {
  pointer-events: all;
}

#window-dedicated-toggle {
  pointer-events: all;
}

#app-body .style-window-options {
  display: block;
}

#app-body .style-window-options .style-window-options-item {
  display: block;
}

#app-body .style-window-options .style-window-options-item:hover:not(.disabled) {
  margin: 0;
  border-radius: 0;
  border: 0;
  display: block;
}

.style-window-options-item .button-text {
  display: block;
}

.sys-right-menu {
  overflow: clip;
  position: absolute;
}

.window-nonresizable {
  position: absolute;
}

#app-body {
  -webkit-flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  -webkit-transform-origin: 0 0;
}

#window-chrome-bar {
  pointer-events: all;
}

#app-anchor {
  position: absolute;
  width: 100%;
  height: 100%;
}

#app-wrapper {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform: scale(1, 1);
}

.stretched-app-body > #window-root-widget {
  width: 100%;
  height: 100%;
}

#app-wrapper.stretched-app-body-vertical {
  position: relative;
  vertical-align: top;
}

.stretched-app-body-vertical > #window-root-widget {
  display: flex;
}

#app-wrapper.stretched-app-body-horizontal {
  position: relative;
  text-align: left;
}

.stretched-app-body-horizontal > #window-root-widget {
  display: flex;
}

.non-stretched-app-body > .userwidget {
  display: flex;
}

#app-wrapper.non-stretched-app-body {
  display: inline-block;
  position: relative;
  vertical-align: top;
  -webkit-transform-origin: 0 0;
}

#app-wrapper.non-stretched-app-body > #window-root-widget {
  min-width: inherit;
  min-height: inherit;
  max-width: inherit;
  max-height: inherit;
  vertical-align: inherit;
}

#app-header {
  position: relative;
  display: none;
  pointer-events: all;
}
#app-header.visible {
  display: block;
}

#dimScreen {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  -webkit-transition: background-color 0.15s ease-in;
}

.sys-layered-window-content {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  background-color: transparent;
}

.display-none {
  display: none !important;
}

#dimScreen.dim {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 0.2s ease-out;
}

#tooltip {
  display: none;
  position: absolute;
  z-index: 9999;
  -webkit-pointer-events: none;
}

#tooltip::before {
  content: ".";
  width: 0;
  height: 0;
  top: -10px;
  display: block;
  position: absolute;
  z-index: 10000;
}

.badgesurface {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.badge {
  position: absolute;
  z-index: 1000;
}