*:focus {
  outline: none;
}

html,
.rplus-html {
  background-color: rgba(0, 0, 0, 0);
}

body,
.rplus-body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  font-size: 1.5em;
  line-height: 1.3;
}

body.window-effect-glass {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}

#window-main {
  background-color: black;
}

.transparent-view #window-main {
  background-color: rgba(0, 0, 0, 0);
}

@media print {
  #window-main {
    background-color: #fffffe;
  }
}
.title-temp {
  visibility: hidden;
  position: absolute !important;
  top: 0px;
  left: 0px;
  z-index: -100;
}

.anchor #window-frame {
  background-color: black;
}

#window-frame {
  border: 2px solid #cdcdcd;
}
.window-state-blur #window-frame {
  border-color: #424242;
}
#window-frame.local-script {
  border: 2px solid #FF0000;
}
#window-frame.sandboxed-environment {
  border: 2px solid #0000FF;
}
.style-tabbed-mode #window-frame {
  border: 1px solid #1883d7 !important;
}
.style-tabbed-mode.window-state-blur #window-frame {
  border: 1px solid #424242 !important;
}
.style-tabbed-mode.local-script #window-frame {
  border: 1px solid #FF0000 !important;
}
.embedded #window-frame {
  border: 0;
  border-radius: 0;
  margin: 0;
}
.borderless #window-frame, .maximized #window-frame {
  border: 0px;
  border-radius: 0;
  margin: 0;
}
#window-frame.lpad, #window-frame.panel-window {
  background-color: #cdcdcd;
}
.window-state-blur #window-frame.lpad, .window-state-blur #window-frame.panel-window {
  background-color: #424242;
}
#window-frame.lpad-locked, .window-state-blur #window-frame.lpad-locked {
  background-color: #000000;
}
#window-frame.lpad-locked {
  border: 1px solid #646464;
}
.window-state-blur #window-frame.lpad-locked {
  border: 1px solid #282828;
}
#window-frame.lpad-alternate {
  background-color: #8af59e;
}
.window-state-blur #window-frame.lpad-alternate {
  background-color: #1bbc3c;
}
#window-frame.lpad-alert, .window-state-blur #window-frame.lpad-alert {
  background-color: #e61e3c;
}
#window-frame.lpad, #window-frame.lpad-alternate, #window-frame.lpad-alert, #window-frame.panel-window {
  padding: 0;
  border: none;
}
#window-frame.lpad.collapse, #window-frame.lpad-locked.collapse, #window-frame.lpad-alternate.collapse, #window-frame.lpad-alert.collapse {
  border-top-width: 1px;
  padding: 1px;
}
#window-frame.lpad.collapse.sys-whats-new, #window-main.sys-whats-new #window-frame.lpad.collapse, #window-frame.lpad-locked.collapse.sys-whats-new, #window-main.sys-whats-new #window-frame.lpad-locked.collapse, #window-frame.lpad-alternate.collapse.sys-whats-new, #window-main.sys-whats-new #window-frame.lpad-alternate.collapse, #window-frame.lpad-alert.collapse.sys-whats-new, #window-main.sys-whats-new #window-frame.lpad-alert.collapse {
  padding: 0;
}
#window-frame.lpad:after, #window-frame.lpad-locked:after, #window-frame.lpad-alternate:after, #window-frame.lpad-alert:after {
  content: "";
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
#window-frame.lpad.single-highlight-left:after, #window-frame.lpad-locked.single-highlight-left:after, #window-frame.lpad-alternate.single-highlight-left:after, #window-frame.lpad-alert.single-highlight-left:after {
  border-left-color: #fff200;
}
.lpad-accessibility-mode #window-frame.lpad.single-highlight-left:after, .lpad-accessibility-mode #window-frame.lpad-locked.single-highlight-left:after, .lpad-accessibility-mode #window-frame.lpad-alternate.single-highlight-left:after, .lpad-accessibility-mode #window-frame.lpad-alert.single-highlight-left:after {
  border-left-color: #00e6ff;
}
#window-frame.lpad.single-highlight-right:after, #window-frame.lpad-locked.single-highlight-right:after, #window-frame.lpad-alternate.single-highlight-right:after, #window-frame.lpad-alert.single-highlight-right:after {
  border-right-color: #fff200;
}
.lpad-accessibility-mode #window-frame.lpad.single-highlight-right:after, .lpad-accessibility-mode #window-frame.lpad-locked.single-highlight-right:after, .lpad-accessibility-mode #window-frame.lpad-alternate.single-highlight-right:after, .lpad-accessibility-mode #window-frame.lpad-alert.single-highlight-right:after {
  border-right-color: #00e6ff;
}
#window-frame.lpad.single-highlight-top:after, #window-frame.lpad-locked.single-highlight-top:after, #window-frame.lpad-alternate.single-highlight-top:after, #window-frame.lpad-alert.single-highlight-top:after {
  border-top-color: #fff200;
}
.lpad-accessibility-mode #window-frame.lpad.single-highlight-top:after, .lpad-accessibility-mode #window-frame.lpad-locked.single-highlight-top:after, .lpad-accessibility-mode #window-frame.lpad-alternate.single-highlight-top:after, .lpad-accessibility-mode #window-frame.lpad-alert.single-highlight-top:after {
  border-top-color: #00e6ff;
}
#window-frame.lpad.single-highlight-bottom:after, #window-frame.lpad-locked.single-highlight-bottom:after, #window-frame.lpad-alternate.single-highlight-bottom:after, #window-frame.lpad-alert.single-highlight-bottom:after {
  border-bottom-color: #fff200;
}
.lpad-accessibility-mode #window-frame.lpad.single-highlight-bottom:after, .lpad-accessibility-mode #window-frame.lpad-locked.single-highlight-bottom:after, .lpad-accessibility-mode #window-frame.lpad-alternate.single-highlight-bottom:after, .lpad-accessibility-mode #window-frame.lpad-alert.single-highlight-bottom:after {
  border-bottom-color: #00e6ff;
}
#window-frame.lpad.group-highlight-left:after, #window-frame.lpad-locked.group-highlight-left:after, #window-frame.lpad-alternate.group-highlight-left:after, #window-frame.lpad-alert.group-highlight-left:after {
  border-left-color: #3c9fff;
}
.lpad-accessibility-mode #window-frame.lpad.group-highlight-left:after, .lpad-accessibility-mode #window-frame.lpad-locked.group-highlight-left:after, .lpad-accessibility-mode #window-frame.lpad-alternate.group-highlight-left:after, .lpad-accessibility-mode #window-frame.lpad-alert.group-highlight-left:after {
  border-left-color: #00e6ff;
}
#window-frame.lpad.group-highlight-right:after, #window-frame.lpad-locked.group-highlight-right:after, #window-frame.lpad-alternate.group-highlight-right:after, #window-frame.lpad-alert.group-highlight-right:after {
  border-right-color: #3c9fff;
}
.lpad-accessibility-mode #window-frame.lpad.group-highlight-right:after, .lpad-accessibility-mode #window-frame.lpad-locked.group-highlight-right:after, .lpad-accessibility-mode #window-frame.lpad-alternate.group-highlight-right:after, .lpad-accessibility-mode #window-frame.lpad-alert.group-highlight-right:after {
  border-right-color: #00e6ff;
}
#window-frame.lpad.group-highlight-top:after, #window-frame.lpad-locked.group-highlight-top:after, #window-frame.lpad-alternate.group-highlight-top:after, #window-frame.lpad-alert.group-highlight-top:after {
  border-top-color: #3c9fff;
}
.lpad-accessibility-mode #window-frame.lpad.group-highlight-top:after, .lpad-accessibility-mode #window-frame.lpad-locked.group-highlight-top:after, .lpad-accessibility-mode #window-frame.lpad-alternate.group-highlight-top:after, .lpad-accessibility-mode #window-frame.lpad-alert.group-highlight-top:after {
  border-top-color: #00e6ff;
}
#window-frame.lpad.group-highlight-bottom:after, #window-frame.lpad-locked.group-highlight-bottom:after, #window-frame.lpad-alternate.group-highlight-bottom:after, #window-frame.lpad-alert.group-highlight-bottom:after {
  border-bottom-color: #3c9fff;
}
.lpad-accessibility-mode #window-frame.lpad.group-highlight-bottom:after, .lpad-accessibility-mode #window-frame.lpad-locked.group-highlight-bottom:after, .lpad-accessibility-mode #window-frame.lpad-alternate.group-highlight-bottom:after, .lpad-accessibility-mode #window-frame.lpad-alert.group-highlight-bottom:after {
  border-bottom-color: #00e6ff;
}
#window-frame.lpad.lpad-spatial-navigation-highlight:after, #window-frame.lpad-locked.lpad-spatial-navigation-highlight:after, #window-frame.lpad-alternate.lpad-spatial-navigation-highlight:after, #window-frame.lpad-alert.lpad-spatial-navigation-highlight:after {
  border-color: #3c9fff;
}
.sys-demo-mode #window-frame, #window-frame.sys-demo-mode {
  background-color: #00e6ff;
  border-color: #00e6ff;
}
.window-state-blur .sys-demo-mode #window-frame, .window-state-blur #window-frame.sys-demo-mode {
  background-color: #00e6ff;
}
.window-state-blur .sys-demo-mode #window-frame.lpad-locked, .window-state-blur #window-frame.sys-demo-mode.lpad-locked {
  background-color: #00e6ff;
}
.sys-demo-mode #window-frame.lpad-alternate, #window-frame.sys-demo-mode.lpad-alternate {
  background-color: #00e6ff;
}
.window-state-blur .sys-demo-mode #window-frame.lpad-alternate, .window-state-blur #window-frame.sys-demo-mode.lpad-alternate {
  background-color: #00e6ff;
}
.borderless .sys-demo-mode #window-frame, .borderless #window-frame.sys-demo-mode {
  background-color: #000000;
}
.window-state-blur .borderless .sys-demo-mode #window-frame, .window-state-blur .borderless #window-frame.sys-demo-mode {
  background-color: #000000;
}

#window-chrome-bar {
  font-size: 11px;
  line-height: 12px;
}
.sys-demo-mode #window-chrome-bar {
  color: #000000;
}
.style-tabbed-mode #window-chrome-bar {
  background-color: #cdcdcd;
}
.style-tabbed-mode.window-state-blur #window-chrome-bar {
  background-color: #424242;
}

.sys-window-chrome {
  background-color: #cdcdcd;
  color: #000000;
  height: 15px;
  line-height: 15px;
  width: 100%;
}
.style-tabbed-mode .sys-window-chrome {
  height: initial;
}
.window-state-blur .sys-window-chrome {
  background-color: #424242;
  color: #d8d8d8;
}
.sys-demo-mode .sys-window-chrome {
  background-color: #00e6ff;
  color: #000000;
}
.window-state-blur .sys-demo-mode .sys-window-chrome {
  background-color: #00e6ff;
  color: #333;
}
.lpad .sys-window-chrome, .lpad-alert .sys-window-chrome, .lpad-alternate .sys-window-chrome, .lpad-locked .sys-window-chrome {
  box-shadow: none;
  height: 13px;
  line-height: 12px;
  background: none;
}
.window-state-blur .lpad .sys-window-chrome, .window-state-blur .lpad-alert .sys-window-chrome, .window-state-blur .lpad-alternate .sys-window-chrome, .window-state-blur .lpad-locked .sys-window-chrome {
  background: none;
}
.window-state-blur .lpad-alternate .sys-window-chrome {
  color: #000000;
}
.lpad-locked .sys-window-chrome {
  color: #a5a5a5;
}
.window-state-blur .lpad-locked .sys-window-chrome {
  color: #646464;
}
.lpad.lpad-accessibility-mode .sys-window-chrome, .lpad-locked.lpad-accessibility-mode .sys-window-chrome, .lpad-alert.lpad-accessibility-mode .sys-window-chrome, .lpad-alternate.lpad-accessibility-mode .sys-window-chrome, .panel-window .sys-window-chrome {
  height: 28px;
  line-height: 28px;
}
.lpad.lpad-accessibility-mode.sys-demo-mode .sys-window-chrome, .lpad-locked.lpad-accessibility-mode.sys-demo-mode .sys-window-chrome, .lpad-alert.lpad-accessibility-mode.sys-demo-mode .sys-window-chrome, .lpad-alternate.lpad-accessibility-mode.sys-demo-mode .sys-window-chrome {
  background-color: #00e6ff;
}

.leftMenu {
  background: url(../resources/images/window-menu.png) no-repeat 0 0, -webkit-linear-gradient(top, rgb(155, 155, 155), rgb(144, 144, 144));
  border-right: 1px solid rgb(119, 119, 119);
  width: 14px;
  left: 0;
  top: -2px;
  bottom: 0;
}
.leftMenu:hover:not(.disabled) {
  background: url(../resources/images/window-menu.png) no-repeat 0 0, -webkit-linear-gradient(top, rgb(204, 204, 204), rgb(182, 182, 182));
}
.leftMenu:active:not(.disabled) {
  background: url(../resources/images/window-menu.png) no-repeat 0 0, -webkit-linear-gradient(top, rgb(164, 164, 164), rgb(168, 168, 168));
}

.lpad #app-header, .lpad-locked #app-header, .lpad-alert #app-header, .lpad-alternate #app-header {
  margin: 0 2px;
}
.lpad-accessibility-mode #app-header {
  margin: 0 6px;
}

.lpad #app-body, .lpad-locked #app-body, .lpad-alert #app-body, .lpad-alternate #app-body {
  background-color: #000000;
  margin: 0 2px 2px;
}
#window-main.sys-whats-new .lpad #app-body, #window-frame.sys-whats-new .lpad #app-body, #window-main.sys-whats-new .lpad-locked #app-body, #window-frame.sys-whats-new .lpad-locked #app-body, #window-main.sys-whats-new .lpad-alert #app-body, #window-frame.sys-whats-new .lpad-alert #app-body, #window-main.sys-whats-new .lpad-alternate #app-body, #window-frame.sys-whats-new .lpad-alternate #app-body {
  margin: 0;
}
.sys-demo-mode #app-body {
  background-color: #000000;
}
.lpad-accessibility-mode #app-body, .panel-window #app-body {
  margin: 0 6px 6px;
}

#app-body .style-window-options {
  background: #ADADAD;
  color: #000 !important;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

#app-body .style-window-options .style-window-options-item {
  padding: 2px 5px;
  background: #ADADAD;
  margin: 0;
  border-radius: 0;
  border: 0;
  box-shadow: none;
}

#app-body .style-window-options .style-window-options-item:hover:not(.disabled) {
  background: #575757;
  color: #fff !important;
  margin: 0;
  border-radius: 0;
  border: 0;
  display: block;
}

.style-window-options-item .button-text {
  box-shadow: none !important;
  text-shadow: none !important;
  text-align: left !important;
  font-size: 10px !important;
  color: #000 !important;
}

.sys-right-menu {
  right: 0;
}
.window-state-blur .sys-right-menu {
  background: none;
}
.lpad-accessibility-mode .sys-right-menu {
  border: none;
}
.panel-window .sys-right-menu {
  margin-right: 5px;
}
.style-tabbed-mode .sys-right-menu {
  height: 25px;
}

.window-nonresizable .lpad-locked .sys-right-menu {
  border-left-color: transparent;
}
.window-nonresizable.window-state-blur .lpad .sys-right-menu,
.window-nonresizable.window-state-blur .lpad-alert .sys-right-menu,
.window-nonresizable.window-state-blur .lpad-alternate .sys-right-menu,
.window-nonresizable.window-state-blur .lpad-locked .sys-right-menu {
  border-left-width: 0px;
}

#tooltip {
  border: 2px solid #333333;
  border-radius: 3px;
  background: black;
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  color: #F09000;
}

#tooltip::before {
  content: ".";
  width: 0;
  height: 0;
  top: -10px;
  color: transparent;
  border-bottom: 10px solid #333333;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

@-webkit-keyframes group-foreground-black {
  0% {
    color: black;
  }
  50% {
    color: black;
  }
  100% {
    color: inherit;
  }
}
@-webkit-keyframes group-foreground-light {
  0% {
    color: #d8d8d8;
  }
  50% {
    color: #d8d8d8;
  }
  100% {
    color: inherit;
  }
}
@-webkit-keyframes group-A {
  0% {
    background-color: #0073ff;
  }
  50% {
    background-color: #0073ff;
  }
  100% {
    background-color: transparent;
  }
}
@-webkit-keyframes group-B {
  0% {
    background-color: #00851c;
  }
  50% {
    background-color: #00851c;
  }
  100% {
    background-color: transparent;
  }
}
@-webkit-keyframes group-C {
  0% {
    background-color: #ae1d86;
  }
  50% {
    background-color: #ae1d86;
  }
  100% {
    background-color: transparent;
  }
}
@-webkit-keyframes group-D {
  0% {
    background-color: #615500;
  }
  50% {
    background-color: #615500;
  }
  100% {
    background-color: transparent;
  }
}
@-webkit-keyframes group-E {
  0% {
    background-color: #b3401d;
  }
  50% {
    background-color: #b3401d;
  }
  100% {
    background-color: transparent;
  }
}
@-webkit-keyframes group-F {
  0% {
    background-color: #8f52b6;
  }
  50% {
    background-color: #8f52b6;
  }
  100% {
    background-color: transparent;
  }
}
@-webkit-keyframes group-G {
  0% {
    background-color: #c31834;
  }
  50% {
    background-color: #c31834;
  }
  100% {
    background-color: transparent;
  }
}
@-webkit-keyframes group-H {
  0% {
    background-color: #8af59e;
  }
  50% {
    background-color: #8af59e;
  }
  100% {
    background-color: transparent;
  }
}
@-webkit-keyframes group-I {
  0% {
    background-color: #00c2d7;
  }
  50% {
    background-color: #00c2d7;
  }
  100% {
    background-color: transparent;
  }
}
@-webkit-keyframes group-J {
  0% {
    background-color: #ffe100;
  }
  50% {
    background-color: #ffe100;
  }
  100% {
    background-color: transparent;
  }
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-A .sys-window-chrome .label,
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-A .sys-window-chrome .entry-input, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-A .sys-window-chrome .label,
.window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-A .sys-window-chrome .entry-input, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-A .sys-window-chrome .label,
.window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-A .sys-window-chrome .entry-input {
  -webkit-animation: group-foreground-light 2s;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-A .sys-window-chrome .sys-whats-new > .button-content > .label, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-A .sys-window-chrome .sys-whats-new > .button-content > .label, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-A .sys-window-chrome .sys-whats-new > .button-content > .label {
  -webkit-animation: none;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-A:before, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-A:before, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-A:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: group-A 2s;
  box-shadow: inset 0 0 0 1px black;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-B .sys-window-chrome .label,
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-B .sys-window-chrome .entry-input, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-B .sys-window-chrome .label,
.window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-B .sys-window-chrome .entry-input, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-B .sys-window-chrome .label,
.window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-B .sys-window-chrome .entry-input {
  -webkit-animation: group-foreground-light 2s;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-B .sys-window-chrome .sys-whats-new > .button-content > .label, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-B .sys-window-chrome .sys-whats-new > .button-content > .label, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-B .sys-window-chrome .sys-whats-new > .button-content > .label {
  -webkit-animation: none;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-B:before, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-B:before, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-B:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: group-B 2s;
  box-shadow: inset 0 0 0 1px black;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-C .sys-window-chrome .label,
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-C .sys-window-chrome .entry-input, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-C .sys-window-chrome .label,
.window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-C .sys-window-chrome .entry-input, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-C .sys-window-chrome .label,
.window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-C .sys-window-chrome .entry-input {
  -webkit-animation: group-foreground-light 2s;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-C .sys-window-chrome .sys-whats-new > .button-content > .label, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-C .sys-window-chrome .sys-whats-new > .button-content > .label, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-C .sys-window-chrome .sys-whats-new > .button-content > .label {
  -webkit-animation: none;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-C:before, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-C:before, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-C:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: group-C 2s;
  box-shadow: inset 0 0 0 1px black;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-D .sys-window-chrome .label,
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-D .sys-window-chrome .entry-input, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-D .sys-window-chrome .label,
.window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-D .sys-window-chrome .entry-input, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-D .sys-window-chrome .label,
.window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-D .sys-window-chrome .entry-input {
  -webkit-animation: group-foreground-light 2s;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-D .sys-window-chrome .sys-whats-new > .button-content > .label, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-D .sys-window-chrome .sys-whats-new > .button-content > .label, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-D .sys-window-chrome .sys-whats-new > .button-content > .label {
  -webkit-animation: none;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-D:before, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-D:before, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-D:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: group-D 2s;
  box-shadow: inset 0 0 0 1px black;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-E .sys-window-chrome .label,
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-E .sys-window-chrome .entry-input, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-E .sys-window-chrome .label,
.window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-E .sys-window-chrome .entry-input, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-E .sys-window-chrome .label,
.window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-E .sys-window-chrome .entry-input {
  -webkit-animation: group-foreground-light 2s;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-E .sys-window-chrome .sys-whats-new > .button-content > .label, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-E .sys-window-chrome .sys-whats-new > .button-content > .label, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-E .sys-window-chrome .sys-whats-new > .button-content > .label {
  -webkit-animation: none;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-E:before, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-E:before, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-E:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: group-E 2s;
  box-shadow: inset 0 0 0 1px black;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-F .sys-window-chrome .label,
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-F .sys-window-chrome .entry-input, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-F .sys-window-chrome .label,
.window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-F .sys-window-chrome .entry-input, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-F .sys-window-chrome .label,
.window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-F .sys-window-chrome .entry-input {
  -webkit-animation: group-foreground-light 2s;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-F .sys-window-chrome .sys-whats-new > .button-content > .label, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-F .sys-window-chrome .sys-whats-new > .button-content > .label, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-F .sys-window-chrome .sys-whats-new > .button-content > .label {
  -webkit-animation: none;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-F:before, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-F:before, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-F:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: group-F 2s;
  box-shadow: inset 0 0 0 1px black;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-G .sys-window-chrome .label,
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-G .sys-window-chrome .entry-input, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-G .sys-window-chrome .label,
.window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-G .sys-window-chrome .entry-input, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-G .sys-window-chrome .label,
.window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-G .sys-window-chrome .entry-input {
  -webkit-animation: group-foreground-light 2s;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-G .sys-window-chrome .sys-whats-new > .button-content > .label, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-G .sys-window-chrome .sys-whats-new > .button-content > .label, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-G .sys-window-chrome .sys-whats-new > .button-content > .label {
  -webkit-animation: none;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-G:before, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-G:before, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-G:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: group-G 2s;
  box-shadow: inset 0 0 0 1px black;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-H .sys-window-chrome .label,
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-H .sys-window-chrome .entry-input, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-H .sys-window-chrome .label,
.window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-H .sys-window-chrome .entry-input, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-H .sys-window-chrome .label,
.window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-H .sys-window-chrome .entry-input {
  -webkit-animation: group-foreground-black 2s;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-H .sys-window-chrome .sys-whats-new > .button-content > .label, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-H .sys-window-chrome .sys-whats-new > .button-content > .label, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-H .sys-window-chrome .sys-whats-new > .button-content > .label {
  -webkit-animation: none;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-H:before, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-H:before, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-H:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: group-H 2s;
  box-shadow: inset 0 0 0 1px black;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-I .sys-window-chrome .label,
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-I .sys-window-chrome .entry-input, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-I .sys-window-chrome .label,
.window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-I .sys-window-chrome .entry-input, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-I .sys-window-chrome .label,
.window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-I .sys-window-chrome .entry-input {
  -webkit-animation: group-foreground-black 2s;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-I .sys-window-chrome .sys-whats-new > .button-content > .label, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-I .sys-window-chrome .sys-whats-new > .button-content > .label, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-I .sys-window-chrome .sys-whats-new > .button-content > .label {
  -webkit-animation: none;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-I:before, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-I:before, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-I:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: group-I 2s;
  box-shadow: inset 0 0 0 1px black;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-J .sys-window-chrome .label,
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-J .sys-window-chrome .entry-input, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-J .sys-window-chrome .label,
.window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-J .sys-window-chrome .entry-input, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-J .sys-window-chrome .label,
.window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-J .sys-window-chrome .entry-input {
  -webkit-animation: group-foreground-black 2s;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-J .sys-window-chrome .sys-whats-new > .button-content > .label, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-J .sys-window-chrome .sys-whats-new > .button-content > .label, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-J .sys-window-chrome .sys-whats-new > .button-content > .label {
  -webkit-animation: none;
}
#window-frame.lpad-locked.lpad-grouping-animation.lpad-group-J:before, .window-state-blur #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-J:before, .window-state-blur #window-frame.lpad.lpad-grouping-animation.lpad-group-J:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: group-J 2s;
  box-shadow: inset 0 0 0 1px black;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-A .sys-window-chrome .label,
#window-frame.lpad.lpad-grouping-animation.lpad-group-A .sys-window-chrome .entry-input, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-A .sys-window-chrome .label,
#window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-A .sys-window-chrome .entry-input, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-A .sys-window-chrome .label,
#window-frame.lpad-alert.lpad-grouping-animation.lpad-group-A .sys-window-chrome .entry-input {
  -webkit-animation: group-foreground-black 2s;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-A .sys-window-chrome .sys-whats-new > .button-content > .label, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-A .sys-window-chrome .sys-whats-new > .button-content > .label, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-A .sys-window-chrome .sys-whats-new > .button-content > .label {
  -webkit-animation: none;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-A:before, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-A:before, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-A:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: group-A 2s;
  box-shadow: inset 0 0 0 1px black;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-B .sys-window-chrome .label,
#window-frame.lpad.lpad-grouping-animation.lpad-group-B .sys-window-chrome .entry-input, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-B .sys-window-chrome .label,
#window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-B .sys-window-chrome .entry-input, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-B .sys-window-chrome .label,
#window-frame.lpad-alert.lpad-grouping-animation.lpad-group-B .sys-window-chrome .entry-input {
  -webkit-animation: group-foreground-black 2s;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-B .sys-window-chrome .sys-whats-new > .button-content > .label, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-B .sys-window-chrome .sys-whats-new > .button-content > .label, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-B .sys-window-chrome .sys-whats-new > .button-content > .label {
  -webkit-animation: none;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-B:before, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-B:before, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-B:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: group-B 2s;
  box-shadow: inset 0 0 0 1px black;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-C .sys-window-chrome .label,
#window-frame.lpad.lpad-grouping-animation.lpad-group-C .sys-window-chrome .entry-input, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-C .sys-window-chrome .label,
#window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-C .sys-window-chrome .entry-input, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-C .sys-window-chrome .label,
#window-frame.lpad-alert.lpad-grouping-animation.lpad-group-C .sys-window-chrome .entry-input {
  -webkit-animation: group-foreground-black 2s;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-C .sys-window-chrome .sys-whats-new > .button-content > .label, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-C .sys-window-chrome .sys-whats-new > .button-content > .label, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-C .sys-window-chrome .sys-whats-new > .button-content > .label {
  -webkit-animation: none;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-C:before, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-C:before, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-C:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: group-C 2s;
  box-shadow: inset 0 0 0 1px black;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-D .sys-window-chrome .label,
#window-frame.lpad.lpad-grouping-animation.lpad-group-D .sys-window-chrome .entry-input, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-D .sys-window-chrome .label,
#window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-D .sys-window-chrome .entry-input, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-D .sys-window-chrome .label,
#window-frame.lpad-alert.lpad-grouping-animation.lpad-group-D .sys-window-chrome .entry-input {
  -webkit-animation: group-foreground-black 2s;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-D .sys-window-chrome .sys-whats-new > .button-content > .label, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-D .sys-window-chrome .sys-whats-new > .button-content > .label, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-D .sys-window-chrome .sys-whats-new > .button-content > .label {
  -webkit-animation: none;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-D:before, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-D:before, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-D:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: group-D 2s;
  box-shadow: inset 0 0 0 1px black;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-E .sys-window-chrome .label,
#window-frame.lpad.lpad-grouping-animation.lpad-group-E .sys-window-chrome .entry-input, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-E .sys-window-chrome .label,
#window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-E .sys-window-chrome .entry-input, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-E .sys-window-chrome .label,
#window-frame.lpad-alert.lpad-grouping-animation.lpad-group-E .sys-window-chrome .entry-input {
  -webkit-animation: group-foreground-black 2s;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-E .sys-window-chrome .sys-whats-new > .button-content > .label, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-E .sys-window-chrome .sys-whats-new > .button-content > .label, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-E .sys-window-chrome .sys-whats-new > .button-content > .label {
  -webkit-animation: none;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-E:before, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-E:before, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-E:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: group-E 2s;
  box-shadow: inset 0 0 0 1px black;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-F .sys-window-chrome .label,
#window-frame.lpad.lpad-grouping-animation.lpad-group-F .sys-window-chrome .entry-input, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-F .sys-window-chrome .label,
#window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-F .sys-window-chrome .entry-input, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-F .sys-window-chrome .label,
#window-frame.lpad-alert.lpad-grouping-animation.lpad-group-F .sys-window-chrome .entry-input {
  -webkit-animation: group-foreground-black 2s;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-F .sys-window-chrome .sys-whats-new > .button-content > .label, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-F .sys-window-chrome .sys-whats-new > .button-content > .label, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-F .sys-window-chrome .sys-whats-new > .button-content > .label {
  -webkit-animation: none;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-F:before, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-F:before, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-F:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: group-F 2s;
  box-shadow: inset 0 0 0 1px black;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-G .sys-window-chrome .label,
#window-frame.lpad.lpad-grouping-animation.lpad-group-G .sys-window-chrome .entry-input, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-G .sys-window-chrome .label,
#window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-G .sys-window-chrome .entry-input, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-G .sys-window-chrome .label,
#window-frame.lpad-alert.lpad-grouping-animation.lpad-group-G .sys-window-chrome .entry-input {
  -webkit-animation: group-foreground-black 2s;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-G .sys-window-chrome .sys-whats-new > .button-content > .label, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-G .sys-window-chrome .sys-whats-new > .button-content > .label, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-G .sys-window-chrome .sys-whats-new > .button-content > .label {
  -webkit-animation: none;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-G:before, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-G:before, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-G:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: group-G 2s;
  box-shadow: inset 0 0 0 1px black;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-H .sys-window-chrome .label,
#window-frame.lpad.lpad-grouping-animation.lpad-group-H .sys-window-chrome .entry-input, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-H .sys-window-chrome .label,
#window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-H .sys-window-chrome .entry-input, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-H .sys-window-chrome .label,
#window-frame.lpad-alert.lpad-grouping-animation.lpad-group-H .sys-window-chrome .entry-input {
  -webkit-animation: group-foreground-black 2s;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-H .sys-window-chrome .sys-whats-new > .button-content > .label, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-H .sys-window-chrome .sys-whats-new > .button-content > .label, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-H .sys-window-chrome .sys-whats-new > .button-content > .label {
  -webkit-animation: none;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-H:before, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-H:before, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-H:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: group-H 2s;
  box-shadow: inset 0 0 0 1px black;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-I .sys-window-chrome .label,
#window-frame.lpad.lpad-grouping-animation.lpad-group-I .sys-window-chrome .entry-input, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-I .sys-window-chrome .label,
#window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-I .sys-window-chrome .entry-input, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-I .sys-window-chrome .label,
#window-frame.lpad-alert.lpad-grouping-animation.lpad-group-I .sys-window-chrome .entry-input {
  -webkit-animation: group-foreground-black 2s;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-I .sys-window-chrome .sys-whats-new > .button-content > .label, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-I .sys-window-chrome .sys-whats-new > .button-content > .label, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-I .sys-window-chrome .sys-whats-new > .button-content > .label {
  -webkit-animation: none;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-I:before, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-I:before, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-I:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: group-I 2s;
  box-shadow: inset 0 0 0 1px black;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-J .sys-window-chrome .label,
#window-frame.lpad.lpad-grouping-animation.lpad-group-J .sys-window-chrome .entry-input, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-J .sys-window-chrome .label,
#window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-J .sys-window-chrome .entry-input, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-J .sys-window-chrome .label,
#window-frame.lpad-alert.lpad-grouping-animation.lpad-group-J .sys-window-chrome .entry-input {
  -webkit-animation: group-foreground-black 2s;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-J .sys-window-chrome .sys-whats-new > .button-content > .label, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-J .sys-window-chrome .sys-whats-new > .button-content > .label, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-J .sys-window-chrome .sys-whats-new > .button-content > .label {
  -webkit-animation: none;
}
#window-frame.lpad.lpad-grouping-animation.lpad-group-J:before, #window-frame.lpad-alternate.lpad-grouping-animation.lpad-group-J:before, #window-frame.lpad-alert.lpad-grouping-animation.lpad-group-J:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: group-J 2s;
  box-shadow: inset 0 0 0 1px black;
}
#window-frame.sys-demo-mode.lpad-grouping-animation .sys-window-chrome {
  background-color: unset;
}

#commandtron,
#commandtron-dimmer,
#commandtron-outline,
#commandtron-outline::after,
#commandtron-entry-overlays,
#commandtron-image-overlays {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#commandtron {
  pointer-events: none;
}

#commandtron-dimmer {
  opacity: 0;
  transition: opacity 200ms linear;
  z-index: 1;
}

#commandtron-dimmer.commandtron-activated {
  opacity: 0.25;
  pointer-events: all;
}

#commandtron-dimmer.commandtron-activated.commandtron-matching {
  opacity: 0.5;
}

#commandtron-dimmer1,
#commandtron-dimmer2,
#commandtron-dimmer3,
#commandtron-dimmer4 {
  background-color: #000000;
  position: absolute;
}

#commandtron-dimmer1 {
  height: 25%;
  width: 100%;
}

#commandtron-dimmer2 {
  height: 50%;
  top: 25%;
  width: 50%;
}

#commandtron-dimmer3 {
  height: 50%;
  left: 50%;
  top: 25%;
  width: 50%;
}

#commandtron-dimmer4 {
  height: 25%;
  top: 75%;
  width: 100%;
}

.commandtron-image-overlay {
  background: radial-gradient(rgba(20, 20, 20, 0.65), rgba(20, 20, 20, 0.9));
  border: 1px solid rgba(70, 70, 70, 0.9);
  box-sizing: border-box;
  color: white;
  font-size: 9px;
  height: 12px;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-indent: 1px;
  white-space: nowrap;
}

.commandtron-image-overlay-text {
  position: relative;
  transform-origin: 0 0;
}

#commandtron-outline {
  border: 1px solid #2b8eff;
  box-sizing: border-box;
  display: none;
  pointer-events: all;
  z-index: 2;
}

#commandtron-outline::after {
  border: 1px solid #000000;
  box-sizing: border-box;
  content: "";
  display: block;
}