*:focus {
  outline: none;
}

#window-main {
  box-sizing: border-box;
  border: 1px solid black;
  overflow: visible;
}

#window-frame, .borderless #window-frame {
  background-color: #1e1e1e;
  border: 1px solid #d7d7d7;
  box-sizing: content-box;
  margin-right: 1px;
  margin-bottom: 1px;
  padding: 12px;
}

.sys-compact #window-frame {
  padding: 0px;
}

.sys-window-chrome {
  background-image: -webkit-linear-gradient(top, #fbfbfb, #cdcdcd);
}

.window-state-blur .sys-window-chrome {
  background-image: -webkit-linear-gradient(top, #e2e2e2, #b4b4b4);
}

.sys-chrome-title {
  color: black;
  top: 1px;
  left: 7px;
  font-size: 10px;
}

.sys-mid-menu, .sys-right-menu, .window-state-blur .sys-right-menu {
  background: initial;
}

#window-main.sharktooth-top-left, #window-main.sharktooth-top-right, #window-main.sharktooth-top-center {
  margin-top: 9px;
}
#window-main.sharktooth-center-left {
  margin-left: 9px;
}
#window-main.sharktooth-center-right {
  margin-right: 9px;
}
#window-main.sharktooth-bottom-center {
  margin-bottom: 9px;
}
#window-main.sharktooth-bottom-left {
  margin-bottom: 9px;
}
#window-main.sharktooth-bottom-right {
  margin-bottom: 9px;
}

#window-frame.sharktooth-top-left, #window-frame.sharktooth-top-right, #window-frame.sharktooth-top-center {
  margin-right: 1px;
  margin-bottom: 10px;
}
#window-frame.sharktooth-center-left {
  margin-right: 10px;
  margin-bottom: 1px;
}
#window-frame.sharktooth-center-right {
  margin-right: 10px;
  margin-bottom: 1px;
}
#window-frame.sharktooth-bottom-center {
  margin-bottom: 9px;
  margin-right: 1px;
}
#window-frame.sharktooth-bottom-left {
  margin-bottom: 9px;
  margin-right: 1px;
}
#window-frame.sharktooth-bottom-right {
  margin-bottom: 9px;
  margin-right: 1px;
}
.sys-whats-new #window-frame {
  background-color: #ffe100;
  border: none;
  padding: 0;
}

#window-decorator {
  pointer-events: initial;
  position: absolute;
}
#window-decorator.sharktooth-top-left, #window-decorator.sharktooth-bottom-left, #window-decorator.sharktooth-bottom-center, #window-decorator.sharktooth-bottom-right, #window-decorator.sharktooth-top-center, #window-decorator.sharktooth-top-right {
  width: 100%;
  height: 11px;
}
#window-decorator.sharktooth-bottom-left, #window-decorator.sharktooth-bottom-center, #window-decorator.sharktooth-bottom-right {
  bottom: -3px;
  left: -1px;
  right: -1px;
}
#window-decorator.sharktooth-center-left, #window-decorator.sharktooth-center-right {
  height: 100%;
  width: 11px;
}
#window-decorator.sharktooth-center-right {
  right: 0px;
}
#window-decorator #window-sharktooth {
  display: block;
  content: "";
  position: absolute;
  background-image: url(../resources/images/sharktooth.png);
  background-repeat: no-repeat;
  height: 11px;
  width: 19px;
  top: -11px;
  z-index: 1;
}
#window-decorator #window-sharktooth.sharktooth-top-left {
  display: block;
  margin-top: 1px;
  margin-left: 12px;
}
#window-decorator #window-sharktooth.sharktooth-top-center {
  display: block;
  margin-top: 1px;
  left: -webkit-calc(50% - 9.5px);
}
#window-decorator #window-sharktooth.sharktooth-top-right {
  display: block;
  margin-top: 1px;
  left: -webkit-calc(100% - 19px - 12px);
  margin-right: 12px;
}
#window-decorator #window-sharktooth.sharktooth-center-left, #window-decorator #window-sharktooth.sharktooth-center-right {
  display: block;
  position: absolute;
  top: -webkit-calc(50% - 11px);
  bottom: 0;
  margin-left: -14px;
  -webkit-transform: rotate(-90deg);
}
#window-decorator #window-sharktooth.sharktooth-center-right {
  margin: 0;
  margin-top: -1px;
  left: -4px;
  -webkit-transform: rotate(90deg);
}
#window-decorator #window-sharktooth.sharktooth-bottom-center {
  display: block;
  position: absolute;
  height: 9px;
  top: -1px;
  left: -webkit-calc(50% - 9.5px);
  -webkit-transform: rotate(180deg);
}
#window-decorator #window-sharktooth.sharktooth-bottom-left {
  display: block;
  position: absolute;
  margin-left: 12px;
  left: 0px;
  height: 9px;
  top: -1px;
  -webkit-transform: rotate(180deg);
}
#window-decorator #window-sharktooth.sharktooth-bottom-right {
  display: block;
  position: absolute;
  left: -webkit-calc(100% - 19px - 12px);
  margin-right: 12px;
  height: 9px;
  top: -1px;
  -webkit-transform: rotate(180deg);
}
.sys-whats-new #window-decorator #window-sharktooth {
  background-image: url(../resources/images/sharktooth-whats-new.png);
}
#window-decorator.sharktooth-bottom-left {
  display: block;
  position: absolute;
  left: -1px;
  right: 0;
  bottom: 0;
  height: 8px;
}
#window-decorator.sharktooth-bottom-left::before {
  -webkit-transform: rotate(180deg);
  top: -3px;
  left: 12px;
}
#window-decorator.sharktooth-bottom-right {
  display: block;
  position: absolute;
  left: -1px;
  right: 0;
  bottom: 0;
  height: 8px;
}
#window-decorator.sharktooth-bottom-right::before {
  -webkit-transform: rotate(180deg);
  top: -3px;
  left: -webkit-calc(100% - 19px);
}

.style-contextual-help #sharktooth {
  fill: #ffe100;
}
.style-contextual-help #window-frame {
  font-family: "BB.AvenirRegular";
  color: #fbfbfb;
  padding: 16px;
  border: 2px solid #ffe100;
  background-color: #141414;
}
.style-contextual-help #window-frame .sys-contextual-help-content {
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  color: #d7d7d7;
  width: 230px;
}
.style-contextual-help #window-frame .sys-contextual-help-content > * {
  margin: 0;
}
.style-contextual-help #window-frame .sys-contextual-help-content > * + * {
  margin-top: 8px;
}
.style-contextual-help #window-frame .sys-contextual-help-content .label b {
  font-family: "BB.AvenirDemi";
}
.style-contextual-help #window-frame .sys-contextual-help-content .label i {
  font-family: "BB.AvenirItalic";
}
.style-contextual-help #window-frame .sys-contextual-help-content .label a {
  display: inline-block;
  text-decoration: none;
  color: #ffe100;
  font-family: "BB.AvenirDemi";
}
.style-contextual-help #window-frame .sys-contextual-help-content .label a:hover {
  color: #ffe100;
  text-decoration: underline;
}
.style-contextual-help #window-frame .sys-contextual-help-content .label.sys-contextual-help-h1 {
  color: #fbfbfb;
  font-family: "BB.AvenirDemi";
  font-size: 14px;
}
.style-contextual-help #window-frame .sys-contextual-help-content .label.sys-contextual-help-crosslink {
  color: #a5a5a5;
}
.style-contextual-help #window-frame .sys-contextual-help-content .label.sys-contextual-help-crosslink a {
  color: #66abff;
}
.style-contextual-help #window-frame .sys-contextual-help-content .separator.horz {
  border-bottom-color: #787878;
  box-shadow: none;
}
.style-contextual-help #window-frame .sys-contextual-help-content .button {
  font-family: "BB.AvenirDemi";
  letter-spacing: 0.05em;
  line-height: 16px;
  text-transform: uppercase;
  padding: 5px 7px 4px 7px;
  box-shadow: none;
  border: none;
  background: none;
}
.style-contextual-help #window-frame .sys-contextual-help-content .button .label {
  color: #bebebe;
  font-size: 11px;
}
.style-contextual-help #window-frame .sys-contextual-help-content .button:hover {
  background: #232323;
}
.style-contextual-help #window-frame .sys-contextual-help-content .button:hover .label {
  color: #d7d7d7;
}

#window-frame, .borderless #window-frame {
  background-color: transparent;
}