#window-frame, .borderless #window-frame {
  background: white;
  color: black;
  border: 2px solid #333333;
  border-radius: 3px;
  font-size: 12px;
}

/* Label */
.label {
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  pointer-events: none;
}