.sys-chat-text {
  color: #000000;
}

.sys-chat-current-user {
  color: #887800;
}

.sys-chat-user {
  color: #b6721d;
}

.sys-chat-mention {
  color: #b6721d;
}

.sys-richtext-notification-text {
  color: #e61e3c;
}

.sys-richtext-container {
  background-color: #ebebeb;
}

.sys-richtext-notification {
  background-color: #fbfbfb;
}

.sys-richtext-post-mouseover {
  background-color: rgba(0, 0, 0, 0.08);
}

.sys-richtext-post-mouseovermenu {
  background-color: #bebebe;
}

.sys-ib-pchat {
  color: #e61e3c;
}

.sys-ib-group {
  background-color: #cdcdcd;
}

.sys-richtext-post-flash {
  animation-name: richtextPostFlash-whitetheme;
  animation-timing-function: ease-out;
  animation-duration: 2.75s;
  animation-fill-mode: forwards;
}

@keyframes richtextPostFlash-whitetheme {
  0% {
    background-color: transparent;
  }
  15% {
    background-color: #a5a5a5;
  }
  100% {
    background-color: transparent;
  }
}
.custom-color .bgcolor-spdl-white {
  background-color: #000000;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-gray {
  background-color: #646464;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-yellow {
  background-color: #887800;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-amber {
  background-color: #b6721d;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-orange {
  background-color: #d64d22;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-lightblue {
  background-color: #2b8eff;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-blue {
  background-color: #0073ff;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-darkblue {
  background-color: #0051ba;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-lightgreen {
  background-color: #1bbc3c;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-green {
  background-color: #006716;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-magenta {
  background-color: #d022a0;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-lightred {
  background-color: #e61e3c;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-red {
  background-color: #a1122c;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-teal {
  background-color: #007b88;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-purple {
  background-color: #56316d;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-white-flashed {
  background-color: #414141;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-gray-flashed {
  background-color: #8c8c8c;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-yellow-flashed {
  background-color: #b09b00;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-amber-flashed {
  background-color: #db8922;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-orange-flashed {
  background-color: #fa5a28;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-lightblue-flashed {
  background-color: #66abff;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-blue-flashed {
  background-color: #2b8eff;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-darkblue-flashed {
  background-color: #2b8eff;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-lightgreen-flashed {
  background-color: #35d655;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-green-flashed {
  background-color: #00a223;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-magenta-flashed {
  background-color: #f328bb;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-lightred-flashed {
  background-color: #ff415c;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-red-flashed {
  background-color: #c31834;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-teal-flashed {
  background-color: #00c2d7;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-purple-flashed {
  background-color: #ab63db;
  color: #fbfbfb;
}
.custom-color .bgcolor-spdl-white-selected {
  background-color: #99c7ff;
  color: #000000;
}
.custom-color .bgcolor-spdl-gray-selected {
  background-color: #99c7ff;
  color: #646464;
}
.custom-color .bgcolor-spdl-yellow-selected {
  background-color: #99c7ff;
  color: #887800;
}
.custom-color .bgcolor-spdl-amber-selected {
  background-color: #99c7ff;
  color: #b6721d;
}
.custom-color .bgcolor-spdl-orange-selected {
  background-color: #99c7ff;
  color: #fa5a28;
}
.custom-color .bgcolor-spdl-lightblue-selected {
  background-color: #99c7ff;
  color: #2b8eff;
}
.custom-color .bgcolor-spdl-blue-selected {
  background-color: #99c7ff;
  color: #0062dd;
}
.custom-color .bgcolor-spdl-darkblue-selected {
  background-color: #99c7ff;
  color: #0051ba;
}
.custom-color .bgcolor-spdl-lightgreen-selected {
  background-color: #99c7ff;
  color: #00a223;
}
.custom-color .bgcolor-spdl-green-selected {
  background-color: #99c7ff;
  color: #006716;
}
.custom-color .bgcolor-spdl-magenta-selected {
  background-color: #99c7ff;
  color: #d022a0;
}
.custom-color .bgcolor-spdl-lightred-selected {
  background-color: #99c7ff;
  color: #ff415c;
}
.custom-color .bgcolor-spdl-red-selected {
  background-color: #99c7ff;
  color: #a1122c;
}
.custom-color .bgcolor-spdl-teal-selected {
  background-color: #99c7ff;
  color: #009eb0;
}
.custom-color .bgcolor-spdl-purple-selected {
  background-color: #99c7ff;
  color: #56316d;
}
.custom-color .bgcolor-fg-spdl-amber {
  background-color: #6d4511;
}
.custom-color .bgcolor-fg-spdl-yellow {
  background-color: #887800;
}
.custom-color .bgcolor-fg-spdl-magenta {
  background-color: #681150;
}
.custom-color .bgcolor-fg-spdl-gray {
  background-color: #141414;
}
.custom-color .bgcolor-fg-spdl-orange {
  background-color: #8f3317;
}
.custom-color .bgcolor-fg-spdl-red {
  background-color: #ff2c4a;
}
.custom-color .bgcolor-fg-spdl-green {
  background-color: #002c09;
}
.custom-color .bgcolor-fg-spdl-blue {
  background-color: #003075;
}
.custom-color .bgcolor-fg-spdl-purple {
  background-color: #56316d;
}
.custom-color .bgcolor-fg-spdl-teal {
  background-color: #005761;
}
.custom-color .bgcolor-fg-spdl-white {
  background-color: #fbfbfb;
}
.custom-color .bgcolor-fg-spdl-darkblue {
  background-color: #66abff;
}
.custom-color .bgcolor-fg-spdl-lightred {
  background-color: #a1122c;
}
.custom-color .bgcolor-fg-spdl-lightgreen {
  background-color: #002c09;
}
.custom-color .bgcolor-fg-spdl-lightblue {
  background-color: #005761;
}
.custom-color .color-spdl-amber {
  color: #b6721d;
}
.custom-color .color-spdl-yellow {
  color: #887800;
}
.custom-color .color-spdl-magenta {
  color: #d022a0;
}
.custom-color .color-spdl-gray {
  color: #646464;
}
.custom-color .color-spdl-orange {
  color: #fa5a28;
}
.custom-color .color-spdl-red {
  color: #a1122c;
}
.custom-color .color-spdl-green {
  color: #006716;
}
.custom-color .color-spdl-blue {
  color: #0062dd;
}
.custom-color .color-spdl-purple {
  color: #56316d;
}
.custom-color .color-spdl-teal {
  color: #009eb0;
}
.custom-color .color-spdl-white {
  color: #000000;
}
.custom-color .color-spdl-darkblue {
  color: #0051ba;
}
.custom-color .color-spdl-lightred {
  color: #ff415c;
}
.custom-color .color-spdl-lightgreen {
  color: #00a223;
}
.custom-color .color-spdl-lightblue {
  color: #2b8eff;
}
@keyframes keyframe-whitetheme-amber {
  0% {
    background-color: #b6721d;
  }
  50% {
    background-color: #db8922;
  }
  100% {
    background-color: #b6721d;
  }
}
@keyframes keyframe-whitetheme-magenta {
  0% {
    background-color: #d022a0;
  }
  50% {
    background-color: #f328bb;
  }
  100% {
    background-color: #d022a0;
  }
}
@keyframes keyframe-whitetheme-gray {
  0% {
    background-color: #646464;
  }
  50% {
    background-color: #8c8c8c;
  }
  100% {
    background-color: #646464;
  }
}
@keyframes keyframe-whitetheme-orange {
  0% {
    background-color: #d64d22;
  }
  50% {
    background-color: #fa5a28;
  }
  100% {
    background-color: #d64d22;
  }
}
@keyframes keyframe-whitetheme-yellow {
  0% {
    background-color: #887800;
  }
  50% {
    background-color: #b09b00;
  }
  100% {
    background-color: #887800;
  }
}
@keyframes keyframe-whitetheme-red {
  0% {
    background-color: #a1122c;
  }
  50% {
    background-color: #c31834;
  }
  100% {
    background-color: #a1122c;
  }
}
@keyframes keyframe-whitetheme-teal {
  0% {
    background-color: #007b88;
  }
  50% {
    background-color: #00c2d7;
  }
  100% {
    background-color: #007b88;
  }
}
@keyframes keyframe-whitetheme-blue {
  0% {
    background-color: #0073ff;
  }
  50% {
    background-color: #2b8eff;
  }
  100% {
    background-color: #0073ff;
  }
}
@keyframes keyframe-whitetheme-green {
  0% {
    background-color: #006716;
  }
  50% {
    background-color: #00a223;
  }
  100% {
    background-color: #006716;
  }
}
@keyframes keyframe-whitetheme-purple {
  0% {
    background-color: #56316d;
  }
  50% {
    background-color: #ab63db;
  }
  100% {
    background-color: #56316d;
  }
}
@keyframes keyframe-whitetheme-lightred {
  0% {
    background-color: #e61e3c;
  }
  50% {
    background-color: #ff415c;
  }
  100% {
    background-color: #e61e3c;
  }
}
@keyframes keyframe-whitetheme-lightblue {
  0% {
    background-color: #2b8eff;
  }
  50% {
    background-color: #66abff;
  }
  100% {
    background-color: #2b8eff;
  }
}
@keyframes keyframe-whitetheme-lightgreen {
  0% {
    background-color: #1bbc3c;
  }
  50% {
    background-color: #35d655;
  }
  100% {
    background-color: #1bbc3c;
  }
}
@keyframes keyframe-whitetheme-darkblue {
  0% {
    background-color: #0051ba;
  }
  50% {
    background-color: #2b8eff;
  }
  100% {
    background-color: #0051ba;
  }
}
@keyframes keyframe-whitetheme-white {
  0% {
    background-color: #000000;
  }
  50% {
    background-color: #414141;
  }
  100% {
    background-color: #000000;
  }
}
@keyframes keyframe-whitetheme-amber-transparent {
  0% {
    background-color: #b6721d;
  }
  50% {
    background-color: transparent;
    color: #b6721d;
  }
  100% {
    background-color: #b6721d;
  }
}
@keyframes keyframe-whitetheme-magenta-transparent {
  0% {
    background-color: #d022a0;
  }
  50% {
    background-color: transparent;
    color: #d022a0;
  }
  100% {
    background-color: #d022a0;
  }
}
@keyframes keyframe-whitetheme-gray-transparent {
  0% {
    background-color: #646464;
  }
  50% {
    background-color: transparent;
    color: #646464;
  }
  100% {
    background-color: #646464;
  }
}
@keyframes keyframe-whitetheme-orange-transparent {
  0% {
    background-color: #d64d22;
  }
  50% {
    background-color: transparent;
    color: #fa5a28;
  }
  100% {
    background-color: #d64d22;
  }
}
@keyframes keyframe-whitetheme-yellow-transparent {
  0% {
    background-color: #887800;
  }
  50% {
    background-color: transparent;
    color: #887800;
  }
  100% {
    background-color: #887800;
  }
}
@keyframes keyframe-whitetheme-red-transparent {
  0% {
    background-color: #a1122c;
  }
  50% {
    background-color: transparent;
    color: #a1122c;
  }
  100% {
    background-color: #a1122c;
  }
}
@keyframes keyframe-whitetheme-teal-transparent {
  0% {
    background-color: #007b88;
  }
  50% {
    background-color: transparent;
    color: #009eb0;
  }
  100% {
    background-color: #007b88;
  }
}
@keyframes keyframe-whitetheme-blue-transparent {
  0% {
    background-color: #0073ff;
  }
  50% {
    background-color: transparent;
    color: #0062dd;
  }
  100% {
    background-color: #0073ff;
  }
}
@keyframes keyframe-whitetheme-green-transparent {
  0% {
    background-color: #006716;
  }
  50% {
    background-color: transparent;
    color: #006716;
  }
  100% {
    background-color: #006716;
  }
}
@keyframes keyframe-whitetheme-purple-transparent {
  0% {
    background-color: #56316d;
  }
  50% {
    background-color: transparent;
    color: #56316d;
  }
  100% {
    background-color: #56316d;
  }
}
@keyframes keyframe-whitetheme-lightblue-transparent {
  0% {
    background-color: #2b8eff;
  }
  50% {
    background-color: transparent;
    color: #2b8eff;
  }
  100% {
    background-color: #2b8eff;
  }
}
@keyframes keyframe-whitetheme-lightred-transparent {
  0% {
    background-color: #e61e3c;
  }
  50% {
    background-color: transparent;
    color: #ff415c;
  }
  100% {
    background-color: #e61e3c;
  }
}
@keyframes keyframe-whitetheme-lightgreen-transparent {
  0% {
    background-color: #1bbc3c;
  }
  50% {
    background-color: transparent;
    color: #00a223;
  }
  100% {
    background-color: #1bbc3c;
  }
}
@keyframes keyframe-whitetheme-darkblue-transparent {
  0% {
    background-color: #0051ba;
  }
  50% {
    background-color: transparent;
    color: #0051ba;
  }
  100% {
    background-color: #0051ba;
  }
}
@keyframes keyframe-whitetheme-white-transparent {
  0% {
    background-color: #000000;
  }
  50% {
    background-color: transparent;
    color: #000000;
  }
  100% {
    background-color: #000000;
  }
}
.custom-color .bgcolor-spdl-flashing-amber,
.custom-color .bgcolor-flashing-spdl-amber {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-amber 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-yellow,
.custom-color .bgcolor-flashing-spdl-yellow {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-yellow 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-magenta,
.custom-color .bgcolor-flashing-spdl-magenta {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-magenta 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-gray,
.custom-color .bgcolor-flashing-spdl-gray {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-gray 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-orange,
.custom-color .bgcolor-flashing-spdl-orange {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-orange 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-teal,
.custom-color .bgcolor-flashing-spdl-teal {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-teal 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-red,
.custom-color .bgcolor-flashing-spdl-red {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-red 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-green,
.custom-color .bgcolor-flashing-spdl-green {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-green 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-blue,
.custom-color .bgcolor-flashing-spdl-blue {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-blue 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-purple,
.custom-color .bgcolor-flashing-spdl-purple {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-purple 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-white,
.custom-color .bgcolor-flashing-spdl-white {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-white 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-darkblue,
.custom-color .bgcolor-flashing-spdl-darkblue {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-darkblue 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-lightred,
.custom-color .bgcolor-flashing-spdl-lightred {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-lightred 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-lightgreen,
.custom-color .bgcolor-flashing-spdl-lightgreen {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-lightgreen 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-lightblue,
.custom-color .bgcolor-flashing-spdl-lightblue {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-lightblue 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-amber-transparent {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-amber-transparent 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-yellow-transparent {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-yellow-transparent 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-magenta-transparent {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-magenta-transparent 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-gray-transparent {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-gray-transparent 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-orange-transparent {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-orange-transparent 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-teal-transparent {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-teal-transparent 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-red-transparent {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-red-transparent 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-green-transparent {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-green-transparent 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-blue-transparent {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-blue-transparent 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-purple-transparent {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-purple-transparent 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-white-transparent {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-white-transparent 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-darkblue-transparent {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-darkblue-transparent 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-lightred-transparent {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-lightred-transparent 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-lightgreen-transparent {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-lightgreen-transparent 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-spdl-flashing-lightblue-transparent {
  color: #fbfbfb;
  -webkit-animation: keyframe-whitetheme-lightblue-transparent 1000ms step-start 0s infinite;
}
.custom-color .bgcolor-fave-gray {
  background-color: #8c8c8c;
}
.custom-color .bgcolor-fave-green {
  background-color: #1bbc3c;
}
.custom-color .bgcolor-fave-red {
  background-color: #ff415c;
}
.custom-color .bgcolor-fave-yellow {
  background-color: #ffe100;
}
.custom-color .bgcolor-fave-orange {
  background-color: #fb754c;
}
.custom-color .bgcolor-fave-white {
  background-color: #e1e1e1;
}
.custom-color .bgcolor-fave-blue {
  background-color: #2b8eff;
}
.custom-color .bgcolor-fave-teal {
  background-color: #b76b24;
}
.custom-color .bgcolor-fave-pink {
  background-color: #f54cc6;
}
.custom-color .bgcolor-fave-purple {
  background-color: #d18aff;
}

.sys-tile .sys-tile-neutral-high1 {
  color: #fbfbfb;
  background-color: #0073ff;
}
.sys-tile .sys-tile-neutral-high2 {
  color: rgba(255, 255, 255, 0.9);
  background-color: #66abff;
}
.sys-tile .sys-tile-neutral-high3 {
  color: rgba(255, 255, 255, 0.9);
  background-color: #cce3ff;
}
.sys-tile .sys-tile-neutral {
  color: #232323;
  background-color: #8c8c8c;
}
.sys-tile .sys-tile-neutral-low3 {
  color: rgba(255, 255, 255, 0.9);
  background-color: #fdc8b7;
}
.sys-tile .sys-tile-neutral-low2 {
  color: rgba(255, 255, 255, 0.9);
  background-color: #fc9170;
}
.sys-tile .sys-tile-neutral-low1 {
  color: #fbfbfb;
  background-color: #fa5a28;
}

.sys-transcript-timestamp {
  color: #646464;
}

.sys-transcript-announcement {
  color: #ffb04c;
}

.sys-transcript-text-future {
  color: #646464;
}

.sys-transcript-text {
  color: #b6721d;
}

.sys-transcript-text-new {
  animation-name: newTextFadeToAmber;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes newTextFadeToAmber {
  0% {
    color: #fbfbfb;
  }
  50% {
    color: #fbfbfb;
  }
  100% {
    color: #b6721d;
  }
}
.sys-buy {
  color: #006716;
}

.sys-positive {
  color: #006716;
}

.sys-positive-bg {
  background-color: #35d655;
  color: #fbfbfb;
}

.sys-positive-bg-strong {
  background-color: #006716;
  color: #000000;
}

.sys-sell {
  color: #e61e3c;
}

.sys-negative {
  color: #e61e3c;
}

.sys-negative-bg {
  background-color: #ff415c;
  color: #fbfbfb;
}

.sys-negative-bg-strong {
  background-color: #e61e3c;
  color: #000000;
}

.sys-alert-triggered,
.sys-warning-alert {
  background: #d7be00;
  color: #000000;
}

.sys-notice-machine-generated {
  background-color: #887800;
  color: #000000;
}

.sys-emphasis:not(.entry) {
  color: #615500;
}

.sys-strong-emphasis {
  color: #000000;
}

.sys-slight-emphasis {
  color: #232323;
}

.sys-slight-deemphasis {
  color: #414141;
}

.sys-deemphasis {
  color: #646464;
}

.custom-color .sys-weak {
  color: #646464;
}
.custom-color .color-strong-emphasis {
  color: #fbfbfb;
}
.custom-color .color-emphasis {
  color: #615500;
}
.custom-color .color-slight-emphasis {
  color: #232323;
}
.custom-color .color-deemphasis {
  color: #646464;
}
.custom-color .color-output {
  color: #232323;
}
.custom-color .color-marketup {
  color: #00851c;
}
.custom-color .color-buy {
  color: #006716;
}
.custom-color .color-positive {
  color: #006716;
}
.custom-color .color-success {
  color: #006716;
}
.custom-color .color-marketdown {
  color: #c31834;
}
.custom-color .color-sell {
  color: #e61e3c;
}
.custom-color .color-negative {
  color: #e61e3c;
}
.custom-color .color-fail {
  color: #e61e3c;
}

.color-marketdown {
  color: #c31834;
}

.color-sell {
  color: #e61e3c;
}

.color-negative {
  color: #e61e3c;
}

.color-fail {
  color: #e61e3c;
}

.color-ib-pchat {
  color: #e61e3c;
}

.bgcolor-group {
  background-color: #cdcdcd;
}

.sys-bond-preliminary {
  color: #ab63db;
}

.sys-buy-edit {
  color: #fbfbfb;
  background-color: #8af59e;
}

.sys-buy-edit-details {
  color: #fbfbfb;
  background-color: #c5facf;
}

.sys-sell-edit {
  color: #fbfbfb;
  background-color: #f9bbc3;
}

.sys-sell-edit-details {
  color: #fbfbfb;
  background-color: #f7cbd3;
}

.sys-twoway-edit {
  color: #fbfbfb;
  background-color: #bff9ff;
}

.sys-twoway-edit-details {
  color: #fbfbfb;
  background-color: #dffcff;
}

.sys-cover-edit {
  color: #fbfbfb;
  background-color: #fff399;
}

.sys-cover-edit-details {
  color: #fbfbfb;
  background-color: #fff9cc;
}

.sys-short-edit {
  color: #fbfbfb;
  background-color: #f993dd;
}

.sys-short-edit-details {
  color: #fbfbfb;
  background-color: #fbb7e8;
}

.sys-shortx-edit {
  color: #fbfbfb;
  background-color: #e4b9ff;
}

.sys-shortx-edit-details {
  color: #fbfbfb;
  background-color: #edd0ff;
}

.sys-bond-preliminary-edit {
  color: #fbfbfb;
  background-color: #e4b9ff;
}

.sys-bond-preliminary-edit-details {
  color: #fbfbfb;
  background-color: #edd0ff;
}

.sys-neutral-edit {
  color: #fbfbfb;
  background-color: #bebebe;
}

.sys-neutral-edit-details {
  color: #fbfbfb;
  background-color: #e1e1e1;
}

.sys-readonly {
  color: #fbfbfb;
  background-color: #e1e1e1;
}

.sys-readonly-details {
  color: #fbfbfb;
  background-color: #000000;
}

.sys-buy-received {
  color: #fbfbfb;
  background-color: #35d655;
}

.sys-sell-received {
  color: #fbfbfb;
  background-color: #ff7486;
}

.sys-twoway-received {
  color: #fbfbfb;
  background-color: #80f3ff;
}

.sys-cover-received {
  color: #fbfbfb;
  background-color: #fff399;
}

.sys-short-received {
  color: #fbfbfb;
  background-color: #f54cc6;
}

.sys-shortx-received {
  color: #fbfbfb;
  background-color: #d18aff;
}

.sys-bond-preliminary-received {
  color: #fbfbfb;
  background-color: #d18aff;
}

.sys-neutral-received {
  color: #fbfbfb;
  background-color: #8c8c8c;
}

.sys-user-defined-bg-teal {
  background-color: #dffcff;
}

.sys-user-defined-bg-black {
  background-color: #000000;
}

.sys-user-defined-bg-magenta {
  background-color: #fbb7e8;
}

.sys-user-defined-bg-blue {
  background-color: #cce3ff;
}

.sys-user-defined-bg-orange {
  background-color: #fdc8b7;
}

.sys-user-defined-bg-grey {
  background-color: #d7d7d7;
}

.sys-buy-readonly {
  color: #006716;
}

.sys-sell-readonly {
  color: #e61e3c;
}

.sys-twoway-readonly {
  color: #00c2d7;
}

.sys-cover-readonly {
  color: #d7be00;
}

.sys-short-readonly {
  color: #ae1d86;
}

.sys-shortx-readonly {
  color: #ab63db;
}

.sys-bond-preliminary-readonly {
  color: #ab63db;
}

.sys-neutral-readonly {
  color: #505050;
}

.sys-status-new-deal {
  color: #383200;
}

.sys-status-pricing-discussion {
  color: #615500;
}

.sys-status-final-stages {
  color: #d7be00;
}

.custom-color .color-black {
  color: #000000;
}
.custom-color .color-white {
  color: #fbfbfb;
}
.custom-color .color-gray1 {
  color: #141414;
}
.custom-color .color-gray2 {
  color: #191919;
}
.custom-color .color-gray3 {
  color: #1e1e1e;
}
.custom-color .color-gray4 {
  color: #232323;
}
.custom-color .color-gray5 {
  color: #282828;
}
.custom-color .color-gray6 {
  color: #373737;
}
.custom-color .color-gray7 {
  color: #414141;
}
.custom-color .color-gray8 {
  color: #505050;
}
.custom-color .color-gray9 {
  color: #646464;
}
.custom-color .color-gray10 {
  color: #787878;
}
.custom-color .color-gray11 {
  color: #8c8c8c;
}
.custom-color .color-gray12 {
  color: #a5a5a5;
}
.custom-color .color-gray13 {
  color: #bebebe;
}
.custom-color .color-gray14 {
  color: #cdcdcd;
}
.custom-color .color-gray15 {
  color: #d7d7d7;
}
.custom-color .color-gray16 {
  color: #e1e1e1;
}
.custom-color .color-gray17 {
  color: #ebebeb;
}
.custom-color .color-gray18 {
  color: #f0f0f0;
}
.custom-color .color-red1 {
  color: #7e0c24;
}
.custom-color .color-red2 {
  color: #a1122c;
}
.custom-color .color-red3 {
  color: #c31834;
}
.custom-color .color-red4 {
  color: #e61e3c;
}
.custom-color .color-red5 {
  color: #ff2c4a;
}
.custom-color .color-red6 {
  color: #ff415c;
}
.custom-color .color-red7 {
  color: #ff7486;
}
.custom-color .color-red8 {
  color: #ffa7af;
}
.custom-color .color-red9 {
  color: #f9bbc3;
}
.custom-color .color-red10 {
  color: #f7cbd3;
}
.custom-color .color-orange {
  color: #471a0b;
}
.custom-color .color-orange1 {
  color: #471a0b;
}
.custom-color .color-orange2 {
  color: #6b2711;
}
.custom-color .color-orange3 {
  color: #8f3317;
}
.custom-color .color-orange4 {
  color: #b3401d;
}
.custom-color .color-orange5 {
  color: #d64d22;
}
.custom-color .color-orange6 {
  color: #fa5a28;
}
.custom-color .color-orange7 {
  color: #fb754c;
}
.custom-color .color-orange8 {
  color: #fc9170;
}
.custom-color .color-orange9 {
  color: #fdac93;
}
.custom-color .color-orange10 {
  color: #fdc8b7;
}
.custom-color .color-amber {
  color: #2b1a0b;
}
.custom-color .color-amber1 {
  color: #2b1a0b;
}
.custom-color .color-amber2 {
  color: #492e0b;
}
.custom-color .color-amber3 {
  color: #6d4511;
}
.custom-color .color-amber4 {
  color: #925b17;
}
.custom-color .color-amber5 {
  color: #b6721d;
}
.custom-color .color-amber6 {
  color: #db8922;
}
.custom-color .color-amber7 {
  color: #ffa028;
}
.custom-color .color-amber8 {
  color: #ffb04c;
}
.custom-color .color-amber9 {
  color: #ffc070;
}
.custom-color .color-amber10 {
  color: #ffd093;
}
.custom-color .color-yellow {
  color: #383200;
}
.custom-color .color-yellow1 {
  color: #383200;
}
.custom-color .color-yellow2 {
  color: #615500;
}
.custom-color .color-yellow3 {
  color: #887800;
}
.custom-color .color-yellow4 {
  color: #b09b00;
}
.custom-color .color-yellow5 {
  color: #d7be00;
}
.custom-color .color-yellow6 {
  color: #ffe100;
}
.custom-color .color-yellow7 {
  color: #ffe733;
}
.custom-color .color-yellow8 {
  color: #ffed66;
}
.custom-color .color-yellow9 {
  color: #fff399;
}
.custom-color .color-yellow10 {
  color: #fff9cc;
}
.custom-color .color-brightyellow {
  color: #ffff00;
}
.custom-color .color-green {
  color: #002c09;
}
.custom-color .color-green1 {
  color: #002c09;
}
.custom-color .color-green2 {
  color: #004a0f;
}
.custom-color .color-green3 {
  color: #006716;
}
.custom-color .color-green4 {
  color: #00851c;
}
.custom-color .color-green5 {
  color: #00a223;
}
.custom-color .color-green6 {
  color: #1bbc3c;
}
.custom-color .color-green7 {
  color: #35d655;
}
.custom-color .color-green8 {
  color: #50f06e;
}
.custom-color .color-green9 {
  color: #8af59e;
}
.custom-color .color-green10 {
  color: #c5facf;
}
.custom-color .color-teal1 {
  color: #003339;
}
.custom-color .color-teal2 {
  color: #005761;
}
.custom-color .color-teal3 {
  color: #007b88;
}
.custom-color .color-teal4 {
  color: #009eb0;
}
.custom-color .color-teal5 {
  color: #00c2d7;
}
.custom-color .color-teal6 {
  color: #00e6ff;
}
.custom-color .color-teal7 {
  color: #40ecff;
}
.custom-color .color-teal8 {
  color: #80f3ff;
}
.custom-color .color-teal9 {
  color: #bff9ff;
}
.custom-color .color-teal10 {
  color: #dffcff;
}
.custom-color .color-selectionblue1 {
  color: #63b2ff;
}
.custom-color .color-selectionblue2 {
  color: #3c9fff;
}
.custom-color .color-selectionblue3 {
  color: #1e6ab4;
}
.custom-color .color-selectionblue4 {
  color: #99c7ff;
}
.custom-color .color-blue1 {
  color: #001f53;
}
.custom-color .color-blue2 {
  color: #003075;
}
.custom-color .color-blue3 {
  color: #004098;
}
.custom-color .color-blue4 {
  color: #0051ba;
}
.custom-color .color-blue5 {
  color: #0062dd;
}
.custom-color .color-blue6 {
  color: #0073ff;
}
.custom-color .color-blue7 {
  color: #2b8eff;
}
.custom-color .color-blue8 {
  color: #66abff;
}
.custom-color .color-blue9 {
  color: #99c7ff;
}
.custom-color .color-blue10 {
  color: #cce3ff;
}
.custom-color .color-blue11 {
  color: #e0effc;
}
.custom-color .color-magenta {
  color: #450b35;
}
.custom-color .color-magenta1 {
  color: #450b35;
}
.custom-color .color-magenta2 {
  color: #681150;
}
.custom-color .color-magenta3 {
  color: #8b176b;
}
.custom-color .color-magenta4 {
  color: #ae1d86;
}
.custom-color .color-magenta5 {
  color: #d022a0;
}
.custom-color .color-magenta6 {
  color: #f328bb;
}
.custom-color .color-magenta7 {
  color: #f54cc6;
}
.custom-color .color-magenta8 {
  color: #f770d2;
}
.custom-color .color-magenta9 {
  color: #f993dd;
}
.custom-color .color-magenta10 {
  color: #fbb7e8;
}
.custom-color .color-purple {
  color: #392149;
}
.custom-color .color-purple1 {
  color: #392149;
}
.custom-color .color-purple2 {
  color: #56316d;
}
.custom-color .color-purple3 {
  color: #724292;
}
.custom-color .color-purple4 {
  color: #8f52b6;
}
.custom-color .color-purple5 {
  color: #ab63db;
}
.custom-color .color-purple6 {
  color: #c873ff;
}
.custom-color .color-purple7 {
  color: #d18aff;
}
.custom-color .color-purple8 {
  color: #daa2ff;
}
.custom-color .color-purple9 {
  color: #e4b9ff;
}
.custom-color .color-purple10 {
  color: #edd0ff;
}
.custom-color .bgcolor-black {
  background-color: #000000;
}
.custom-color .bgcolor-white {
  background-color: #fbfbfb;
}
.custom-color .bgcolor-gray1 {
  background-color: #141414;
}
.custom-color .bgcolor-gray2 {
  background-color: #191919;
}
.custom-color .bgcolor-gray3 {
  background-color: #1e1e1e;
}
.custom-color .bgcolor-gray4 {
  background-color: #232323;
}
.custom-color .bgcolor-gray5 {
  background-color: #282828;
}
.custom-color .bgcolor-gray6 {
  background-color: #373737;
}
.custom-color .bgcolor-gray7 {
  background-color: #414141;
}
.custom-color .bgcolor-gray8 {
  background-color: #505050;
}
.custom-color .bgcolor-gray9 {
  background-color: #646464;
}
.custom-color .bgcolor-gray10 {
  background-color: #787878;
}
.custom-color .bgcolor-gray11 {
  background-color: #8c8c8c;
}
.custom-color .bgcolor-gray12 {
  background-color: #a5a5a5;
}
.custom-color .bgcolor-gray13 {
  background-color: #bebebe;
}
.custom-color .bgcolor-gray14 {
  background-color: #cdcdcd;
}
.custom-color .bgcolor-gray15 {
  background-color: #d7d7d7;
}
.custom-color .bgcolor-gray16 {
  background-color: #e1e1e1;
}
.custom-color .bgcolor-gray17 {
  background-color: #ebebeb;
}
.custom-color .bgcolor-gray18 {
  background-color: #f0f0f0;
}
.custom-color .bgcolor-red {
  background-color: #7e0c24;
}
.custom-color .bgcolor-red1 {
  background-color: #7e0c24;
}
.custom-color .bgcolor-red2 {
  background-color: #a1122c;
}
.custom-color .bgcolor-red3 {
  background-color: #c31834;
}
.custom-color .bgcolor-red4 {
  background-color: #e61e3c;
}
.custom-color .bgcolor-red5 {
  background-color: #ff2c4a;
}
.custom-color .bgcolor-red6 {
  background-color: #ff415c;
}
.custom-color .bgcolor-red7 {
  background-color: #ff7486;
}
.custom-color .bgcolor-red8 {
  background-color: #ffa7af;
}
.custom-color .bgcolor-red9 {
  background-color: #f9bbc3;
}
.custom-color .bgcolor-red10 {
  background-color: #f7cbd3;
}
.custom-color .bgcolor-orange {
  background-color: #471a0b;
}
.custom-color .bgcolor-orange {
  background-color: #471a0b;
}
.custom-color .bgcolor-orange1 {
  background-color: #471a0b;
}
.custom-color .bgcolor-orange2 {
  background-color: #6b2711;
}
.custom-color .bgcolor-orange3 {
  background-color: #8f3317;
}
.custom-color .bgcolor-orange4 {
  background-color: #b3401d;
}
.custom-color .bgcolor-orange5 {
  background-color: #d64d22;
}
.custom-color .bgcolor-orange6 {
  background-color: #fa5a28;
}
.custom-color .bgcolor-orange7 {
  background-color: #fb754c;
}
.custom-color .bgcolor-orange8 {
  background-color: #fc9170;
}
.custom-color .bgcolor-orange9 {
  background-color: #fdac93;
}
.custom-color .bgcolor-orange10 {
  background-color: #fdc8b7;
}
.custom-color .bgcolor-amber {
  background-color: #2b1a0b;
}
.custom-color .bgcolor-amber1 {
  background-color: #2b1a0b;
}
.custom-color .bgcolor-amber2 {
  background-color: #492e0b;
}
.custom-color .bgcolor-amber3 {
  background-color: #6d4511;
}
.custom-color .bgcolor-amber4 {
  background-color: #925b17;
}
.custom-color .bgcolor-amber5 {
  background-color: #b6721d;
}
.custom-color .bgcolor-amber6 {
  background-color: #db8922;
}
.custom-color .bgcolor-amber7 {
  background-color: #ffa028;
}
.custom-color .bgcolor-amber8 {
  background-color: #ffb04c;
}
.custom-color .bgcolor-amber9 {
  background-color: #ffc070;
}
.custom-color .bgcolor-amber10 {
  background-color: #ffd093;
}
.custom-color .bgcolor-yellow {
  background-color: #383200;
}
.custom-color .bgcolor-yellow1 {
  background-color: #383200;
}
.custom-color .bgcolor-yellow2 {
  background-color: #615500;
}
.custom-color .bgcolor-yellow3 {
  background-color: #887800;
}
.custom-color .bgcolor-yellow4 {
  background-color: #b09b00;
}
.custom-color .bgcolor-yellow5 {
  background-color: #d7be00;
}
.custom-color .bgcolor-yellow6 {
  background-color: #ffe100;
}
.custom-color .bgcolor-yellow7 {
  background-color: #ffe733;
}
.custom-color .bgcolor-yellow8 {
  background-color: #ffed66;
}
.custom-color .bgcolor-yellow9 {
  background-color: #fff399;
}
.custom-color .bgcolor-yellow10 {
  background-color: #fff9cc;
}
.custom-color .bgcolor-brightyellow {
  background-color: #ffff00;
}
.custom-color .bgcolor-green {
  background-color: #002c09;
}
.custom-color .bgcolor-green1 {
  background-color: #002c09;
}
.custom-color .bgcolor-green2 {
  background-color: #004a0f;
}
.custom-color .bgcolor-green3 {
  background-color: #006716;
}
.custom-color .bgcolor-green4 {
  background-color: #00851c;
}
.custom-color .bgcolor-green5 {
  background-color: #00a223;
}
.custom-color .bgcolor-green6 {
  background-color: #1bbc3c;
}
.custom-color .bgcolor-green7 {
  background-color: #35d655;
}
.custom-color .bgcolor-green8 {
  background-color: #50f06e;
}
.custom-color .bgcolor-green9 {
  background-color: #8af59e;
}
.custom-color .bgcolor-green10 {
  background-color: #c5facf;
}
.custom-color .bgcolor-teal1 {
  background-color: #003339;
}
.custom-color .bgcolor-teal2 {
  background-color: #005761;
}
.custom-color .bgcolor-teal3 {
  background-color: #007b88;
}
.custom-color .bgcolor-teal4 {
  background-color: #009eb0;
}
.custom-color .bgcolor-teal5 {
  background-color: #00c2d7;
}
.custom-color .bgcolor-teal6 {
  background-color: #00e6ff;
}
.custom-color .bgcolor-teal7 {
  background-color: #40ecff;
}
.custom-color .bgcolor-teal8 {
  background-color: #80f3ff;
}
.custom-color .bgcolor-teal9 {
  background-color: #bff9ff;
}
.custom-color .bgcolor-teal10 {
  background-color: #dffcff;
}
.custom-color .bgcolor-selectionblue1 {
  background-color: #63b2ff;
}
.custom-color .bgcolor-selectionblue2 {
  background-color: #3c9fff;
}
.custom-color .bgcolor-selectionblue3 {
  background-color: #1e6ab4;
}
.custom-color .bgcolor-selectionblue4 {
  background-color: #99c7ff;
}
.custom-color .bgcolor-blue {
  background-color: #001f53;
}
.custom-color .bgcolor-blue1 {
  background-color: #001f53;
}
.custom-color .bgcolor-blue2 {
  background-color: #003075;
}
.custom-color .bgcolor-blue3 {
  background-color: #004098;
}
.custom-color .bgcolor-blue4 {
  background-color: #0051ba;
}
.custom-color .bgcolor-blue5 {
  background-color: #0062dd;
}
.custom-color .bgcolor-blue6 {
  background-color: #0073ff;
}
.custom-color .bgcolor-blue7 {
  background-color: #2b8eff;
}
.custom-color .bgcolor-blue8 {
  background-color: #66abff;
}
.custom-color .bgcolor-blue9 {
  background-color: #99c7ff;
}
.custom-color .bgcolor-blue10 {
  background-color: #cce3ff;
}
.custom-color .bgcolor-magenta {
  background-color: #450b35;
}
.custom-color .bgcolor-magenta1 {
  background-color: #450b35;
}
.custom-color .bgcolor-magenta2 {
  background-color: #681150;
}
.custom-color .bgcolor-magenta3 {
  background-color: #8b176b;
}
.custom-color .bgcolor-magenta4 {
  background-color: #ae1d86;
}
.custom-color .bgcolor-magenta5 {
  background-color: #d022a0;
}
.custom-color .bgcolor-magenta6 {
  background-color: #f328bb;
}
.custom-color .bgcolor-magenta7 {
  background-color: #f54cc6;
}
.custom-color .bgcolor-magenta8 {
  background-color: #f770d2;
}
.custom-color .bgcolor-magenta9 {
  background-color: #f993dd;
}
.custom-color .bgcolor-magenta10 {
  background-color: #fbb7e8;
}
.custom-color .bgcolor-purple {
  background-color: #392149;
}
.custom-color .bgcolor-purple1 {
  background-color: #392149;
}
.custom-color .bgcolor-purple2 {
  background-color: #56316d;
}
.custom-color .bgcolor-purple3 {
  background-color: #724292;
}
.custom-color .bgcolor-purple4 {
  background-color: #8f52b6;
}
.custom-color .bgcolor-purple5 {
  background-color: #ab63db;
}
.custom-color .bgcolor-purple6 {
  background-color: #c873ff;
}
.custom-color .bgcolor-purple7 {
  background-color: #d18aff;
}
.custom-color .bgcolor-purple8 {
  background-color: #daa2ff;
}
.custom-color .bgcolor-purple9 {
  background-color: #e4b9ff;
}
.custom-color .bgcolor-purple10 {
  background-color: #edd0ff;
}

.bgcolor-hilo-point {
  background-color: #141414;
}

.bgcolor-hilo-white {
  background-color: #000000;
}

.bgcolor-hilo-tick {
  background-color: #000000;
}

.bgcolor-hilo-blue,
.bgcolor-hilo-now {
  background-color: #0073ff;
}

.bgcolor-hilo-marketup,
.bgcolor-hilo-low-over-close {
  background-color: #00a223;
}

.bgcolor-hilo-marketup-secondary,
.bgcolor-hilo-current-over-close {
  background-color: #35d655;
}

.bgcolor-hilo-marketdown,
.bgcolor-hilo-current-below-close {
  background-color: #e61e3c;
}

.bgcolor-hilo-marketdown-secondary,
.bgcolor-hilo-high-below-close {
  background-color: #ff415c;
}

.bgcolor-hilo-orange,
.bgcolor-hilo-average {
  background-color: #d64d22;
}

.listbox-container {
  -bb-lcd-background-color: none;
}