*:focus {
  outline: none;
}

html,
.rplus-html {
  font-family: "BB.Proportional";
  color: #FFBA12;
}

.widget::selection,
span::selection {
  background-color: #328efd;
  color: white;
}

.chromium-88-plus .widget::selection, .chromium-88-plus span::selection, .chromium-88-plus a::selection {
  background-color: #1e6ab4;
  color: white;
}

*:focus {
  outline: none;
}

.disabled {
  color: #787878;
  cursor: default;
}

.badgesurface {
  background-color: transparent;
}

.badge {
  height: 14px;
  line-height: 12px;
  background-color: #ffe100;
  color: black;
  padding: 0 2px;
  font-size: 12px;
  text-align: center;
  border: 1px solid black;
  border-radius: 2px;
}

.badge.drillin {
  background-color: white;
}

.badge.disabled {
  opacity: 0.5;
}

.leftMenu {
  background: url(/bbkitAssets/images/window-menu.png) no-repeat 0 0, -webkit-linear-gradient(top, rgb(155, 155, 155), rgb(144, 144, 144));
  border-right: 1px solid rgb(119, 119, 119);
  width: 14px;
  left: 0;
  top: -2px;
  bottom: 0;
}

.leftMenu:hover:not(.disabled) {
  background: url(/bbkitAssets/images/window-menu.png) no-repeat 0 0, -webkit-linear-gradient(top, rgb(204, 204, 204), rgb(182, 182, 182));
}

.leftMenu:active:not(.disabled) {
  background: url(/bbkitAssets/images/window-menu.png) no-repeat 0 0, -webkit-linear-gradient(top, rgb(164, 164, 164), rgb(168, 168, 168));
}

.height.oner-height {
  height: 19px;
}
.sys-small .height.oner-height, .height.oner-height.sys-small {
  height: 19px;
}
.sys-big .height.oner-height, .height.oner-height.sys-big {
  height: 19px;
}
.height.twor-height {
  height: 38px;
}
.sys-small .height.twor-height, .height.twor-height.sys-small {
  height: 38px;
}
.sys-big .height.twor-height, .height.twor-height.sys-big {
  height: 38px;
}
.height.threer-height {
  height: 57px;
}
.sys-small .height.threer-height, .height.threer-height.sys-small {
  height: 57px;
}
.sys-big .height.threer-height, .height.threer-height.sys-big {
  height: 57px;
}
.height.fourr-height {
  height: 76px;
}
.sys-small .height.fourr-height, .height.fourr-height.sys-small {
  height: 76px;
}
.sys-big .height.fourr-height, .height.fourr-height.sys-big {
  height: 76px;
}
.height.fiver-height {
  height: 95px;
}
.sys-small .height.fiver-height, .height.fiver-height.sys-small {
  height: 95px;
}
.sys-big .height.fiver-height, .height.fiver-height.sys-big {
  height: 95px;
}
.height.sixr-height {
  height: 114px;
}
.sys-small .height.sixr-height, .height.sixr-height.sys-small {
  height: 114px;
}
.sys-big .height.sixr-height, .height.sixr-height.sys-big {
  height: 114px;
}
.height.sevenr-height {
  height: 133px;
}
.sys-small .height.sevenr-height, .height.sevenr-height.sys-small {
  height: 133px;
}
.sys-big .height.sevenr-height, .height.sevenr-height.sys-big {
  height: 133px;
}
.height.eightr-height {
  height: 152px;
}
.sys-small .height.eightr-height, .height.eightr-height.sys-small {
  height: 152px;
}
.sys-big .height.eightr-height, .height.eightr-height.sys-big {
  height: 152px;
}
.height.niner-height {
  height: 171px;
}
.sys-small .height.niner-height, .height.niner-height.sys-small {
  height: 171px;
}
.sys-big .height.niner-height, .height.niner-height.sys-big {
  height: 171px;
}
.height.tenr-height {
  height: 190px;
}
.sys-small .height.tenr-height, .height.tenr-height.sys-small {
  height: 190px;
}
.sys-big .height.tenr-height, .height.tenr-height.sys-big {
  height: 190px;
}

.minheight.oner-minheight {
  min-height: 19px;
}
.sys-small .minheight.oner-minheight, .minheight.oner-minheight.sys-small {
  min-height: 19px;
}
.sys-big .minheight.oner-minheight, .minheight.oner-minheight.sys-big {
  min-height: 19px;
}
.minheight.twor-minheight {
  min-height: 38px;
}
.sys-small .minheight.twor-minheight, .minheight.twor-minheight.sys-small {
  min-height: 38px;
}
.sys-big .minheight.twor-minheight, .minheight.twor-minheight.sys-big {
  min-height: 38px;
}
.minheight.threer-minheight {
  min-height: 57px;
}
.sys-small .minheight.threer-minheight, .minheight.threer-minheight.sys-small {
  min-height: 57px;
}
.sys-big .minheight.threer-minheight, .minheight.threer-minheight.sys-big {
  min-height: 57px;
}
.minheight.fourr-minheight {
  min-height: 76px;
}
.sys-small .minheight.fourr-minheight, .minheight.fourr-minheight.sys-small {
  min-height: 76px;
}
.sys-big .minheight.fourr-minheight, .minheight.fourr-minheight.sys-big {
  min-height: 76px;
}
.minheight.fiver-minheight {
  min-height: 95px;
}
.sys-small .minheight.fiver-minheight, .minheight.fiver-minheight.sys-small {
  min-height: 95px;
}
.sys-big .minheight.fiver-minheight, .minheight.fiver-minheight.sys-big {
  min-height: 95px;
}
.minheight.sixr-minheight {
  min-height: 114px;
}
.sys-small .minheight.sixr-minheight, .minheight.sixr-minheight.sys-small {
  min-height: 114px;
}
.sys-big .minheight.sixr-minheight, .minheight.sixr-minheight.sys-big {
  min-height: 114px;
}
.minheight.sevenr-minheight {
  min-height: 133px;
}
.sys-small .minheight.sevenr-minheight, .minheight.sevenr-minheight.sys-small {
  min-height: 133px;
}
.sys-big .minheight.sevenr-minheight, .minheight.sevenr-minheight.sys-big {
  min-height: 133px;
}
.minheight.eightr-minheight {
  min-height: 152px;
}
.sys-small .minheight.eightr-minheight, .minheight.eightr-minheight.sys-small {
  min-height: 152px;
}
.sys-big .minheight.eightr-minheight, .minheight.eightr-minheight.sys-big {
  min-height: 152px;
}
.minheight.niner-minheight {
  min-height: 171px;
}
.sys-small .minheight.niner-minheight, .minheight.niner-minheight.sys-small {
  min-height: 171px;
}
.sys-big .minheight.niner-minheight, .minheight.niner-minheight.sys-big {
  min-height: 171px;
}
.minheight.tenr-minheight {
  min-height: 190px;
}
.sys-small .minheight.tenr-minheight, .minheight.tenr-minheight.sys-small {
  min-height: 190px;
}
.sys-big .minheight.tenr-minheight, .minheight.tenr-minheight.sys-big {
  min-height: 190px;
}

.maxheight.oner-maxheight {
  max-height: 19px;
}
.sys-small .maxheight.oner-maxheight, .maxheight.oner-maxheight.sys-small {
  max-height: 19px;
}
.sys-big .maxheight.oner-maxheight, .maxheight.oner-maxheight.sys-big {
  max-height: 19px;
}
.maxheight.twor-maxheight {
  max-height: 38px;
}
.sys-small .maxheight.twor-maxheight, .maxheight.twor-maxheight.sys-small {
  max-height: 38px;
}
.sys-big .maxheight.twor-maxheight, .maxheight.twor-maxheight.sys-big {
  max-height: 38px;
}
.maxheight.threer-maxheight {
  max-height: 57px;
}
.sys-small .maxheight.threer-maxheight, .maxheight.threer-maxheight.sys-small {
  max-height: 57px;
}
.sys-big .maxheight.threer-maxheight, .maxheight.threer-maxheight.sys-big {
  max-height: 57px;
}
.maxheight.fourr-maxheight {
  max-height: 76px;
}
.sys-small .maxheight.fourr-maxheight, .maxheight.fourr-maxheight.sys-small {
  max-height: 76px;
}
.sys-big .maxheight.fourr-maxheight, .maxheight.fourr-maxheight.sys-big {
  max-height: 76px;
}
.maxheight.fiver-maxheight {
  max-height: 95px;
}
.sys-small .maxheight.fiver-maxheight, .maxheight.fiver-maxheight.sys-small {
  max-height: 95px;
}
.sys-big .maxheight.fiver-maxheight, .maxheight.fiver-maxheight.sys-big {
  max-height: 95px;
}
.maxheight.sixr-maxheight {
  max-height: 114px;
}
.sys-small .maxheight.sixr-maxheight, .maxheight.sixr-maxheight.sys-small {
  max-height: 114px;
}
.sys-big .maxheight.sixr-maxheight, .maxheight.sixr-maxheight.sys-big {
  max-height: 114px;
}
.maxheight.sevenr-maxheight {
  max-height: 133px;
}
.sys-small .maxheight.sevenr-maxheight, .maxheight.sevenr-maxheight.sys-small {
  max-height: 133px;
}
.sys-big .maxheight.sevenr-maxheight, .maxheight.sevenr-maxheight.sys-big {
  max-height: 133px;
}
.maxheight.eightr-maxheight {
  max-height: 152px;
}
.sys-small .maxheight.eightr-maxheight, .maxheight.eightr-maxheight.sys-small {
  max-height: 152px;
}
.sys-big .maxheight.eightr-maxheight, .maxheight.eightr-maxheight.sys-big {
  max-height: 152px;
}
.maxheight.niner-maxheight {
  max-height: 171px;
}
.sys-small .maxheight.niner-maxheight, .maxheight.niner-maxheight.sys-small {
  max-height: 171px;
}
.sys-big .maxheight.niner-maxheight, .maxheight.niner-maxheight.sys-big {
  max-height: 171px;
}
.maxheight.tenr-maxheight {
  max-height: 190px;
}
.sys-small .maxheight.tenr-maxheight, .maxheight.tenr-maxheight.sys-small {
  max-height: 190px;
}
.sys-big .maxheight.tenr-maxheight, .maxheight.tenr-maxheight.sys-big {
  max-height: 190px;
}

.sys-translucent {
  opacity: 0.5;
}

.sys-tooltip {
  border: 2px solid #333333;
  border-radius: 3px;
  background: white;
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  color: #F09000;
  -webkit-pointer-events: none;
  color: black;
  font-size: 12px;
}

.scroll::-webkit-scrollbar {
  background: none;
  width: 10px;
  height: 10px;
}
.scroll::-webkit-scrollbar-corner {
  background: #1C1C1C;
}
.scroll::-webkit-scrollbar-button:vertical {
  width: 10px;
  height: 18px;
  background: #232323;
  border: unset;
}
.scroll::-webkit-scrollbar-button:end:decrement {
  display: none;
}
.scroll::-webkit-scrollbar-button:start:increment {
  display: none;
}
.scroll::-webkit-scrollbar-button:vertical:decrement {
  background: url(/bbkitAssets/images/scroll_button_vertical_decrement.png) no-repeat center #232323;
}
.scroll::-webkit-scrollbar-button:vertical:decrement:hover {
  background: url(/bbkitAssets/images/scroll_button_vertical_decrement.png) no-repeat center #373737;
}
.scroll::-webkit-scrollbar-button:vertical:decrement:active {
  background: url(/bbkitAssets/images/scroll_button_vertical_decrement.png) no-repeat center #414141;
}
.scroll::-webkit-scrollbar-button:vertical:increment {
  background: url(/bbkitAssets/images/scroll_button_vertical_increment.png) no-repeat center #232323;
}
.scroll::-webkit-scrollbar-button:vertical:increment:hover {
  background: url(/bbkitAssets/images/scroll_button_vertical_increment.png) no-repeat center #373737;
}
.scroll::-webkit-scrollbar-button:vertical:increment:active {
  background: url(/bbkitAssets/images/scroll_button_vertical_increment.png) no-repeat center #414141;
}
.scroll::-webkit-scrollbar-thumb:vertical {
  background: #646464;
  border: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.12);
}
.scroll::-webkit-scrollbar-thumb:vertical:hover {
  background: #787878;
}
.scroll::-webkit-scrollbar-thumb:vertical:active {
  background: #8c8c8c;
}
.scroll::-webkit-scrollbar-button:horizontal {
  width: 18px;
  height: 10px;
  background: #232323;
  border: unset;
}
.scroll::-webkit-scrollbar-button:horizontal:decrement {
  background: url(/bbkitAssets/images/scroll_button_horizontal_decrement.png) no-repeat center #232323;
}
.scroll::-webkit-scrollbar-button:horizontal:decrement:hover {
  background: url(/bbkitAssets/images/scroll_button_horizontal_decrement.png) no-repeat center #373737;
}
.scroll::-webkit-scrollbar-button:horizontal:decrement:active {
  background: url(/bbkitAssets/images/scroll_button_horizontal_decrement.png) no-repeat center #414141;
}
.scroll::-webkit-scrollbar-button:horizontal:increment {
  background: url(/bbkitAssets/images/scroll_button_horizontal_increment.png) no-repeat center #232323;
}
.scroll::-webkit-scrollbar-button:horizontal:increment:hover {
  background: url(/bbkitAssets/images/scroll_button_horizontal_increment.png) no-repeat center #373737;
}
.scroll::-webkit-scrollbar-button:horizontal:increment:active {
  background: url(/bbkitAssets/images/scroll_button_horizontal_increment.png) no-repeat center #414141;
}
.scroll::-webkit-scrollbar-thumb:horizontal {
  background: #646464;
  border: none;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.12);
}
.scroll::-webkit-scrollbar-thumb:horizontal:hover {
  background: #787878;
}
.scroll::-webkit-scrollbar-thumb:horizontal:active {
  background: #8c8c8c;
}
.scroll::-webkit-scrollbar-track {
  background: #232323;
}
:not(.blipbar-hidden) + .scroll.blipscroll::-webkit-scrollbar-track {
  background: none;
  pointer-events: none;
}