/* Variables */
/* Top Level Elements */
body {
  background-color: white !important;
  color: black !important;
  -webkit-print-color-adjust: exact;
}

body:not(.window-print) {
  zoom: 0.75 !important;
}

#window-main {
  background: white !important;
}

.sys-controlregion .tabpanelcontent {
  background: white !important;
  color: black !important;
  border-bottom: 1px solid black;
}

/* Tables */
.table-preview .table-main-viewport-layer div:not(.table-bg-holder-filled), .table-preview .table-main-viewport-layer span {
  background: white !important;
  color: black !important;
}
.table-preview .table-main-viewport-layer .table-bg-holder-filled, .table-preview .table-main-viewport-layer .table-bg-holder-filled div, .table-preview .table-main-viewport-layer .table-bg-holder-filled span {
  background: black !important;
  color: white !important;
}

.sys-table-spreadsheet .table-row-region,
.sys-table-spreadsheet .table-preview {
  background: white !important;
  color: black !important;
}
.sys-table-spreadsheet .table-bg-holder-empty {
  box-shadow: none !important;
}
.sys-table-spreadsheet .table-index-cell.table-cell-layer {
  border-right-color: #cdcdcd !important;
  border-bottom-color: #cdcdcd !important;
}

.table-index-cell {
  background: white !important;
  color: #414141 !important;
}

.table-preview-widget {
  display: block !important;
}

.table-preview {
  border-top: 1px solid black;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
  background: white !important;
}
.table-preview .table-viewport {
  display: block !important;
  height: auto !important;
}
.table-preview .table-viewport-layer {
  position: relative !important;
  height: auto !important;
  transform: none !important;
}
.table-preview .table-viewport-layer:not(.table-main-viewport-layer) {
  display: none !important;
}
.table-preview .table-row-layer {
  position: relative !important;
  transform: none !important;
  page-break-inside: avoid;
}
.table-preview .table-cell-first-visible {
  border-left: 1px solid black !important;
}

/* Labels */
.label.sys-subheading,
.sys-h2 {
  color: black !important;
}

.label.sys-subsubheading,
.sys-h3 {
  color: #414141 !important;
}

.frame-header {
  color: white !important;
  background: gray !important;
}

/* Buttons */
.button.button, .button.button.sys-controlregion, .button.button.sys-default {
  background: white;
  color: black;
  box-shadow: none !important;
}
.button.button.disabled, .button.button.sys-controlregion.disabled, .button.button.sys-default.disabled {
  color: gray !important;
  background: transparent !important;
}
.button.toggled {
  background: #9cceff !important;
  color: black !important;
}
.button .button-content .image,
.button .button-img {
  filter: grayscale(1) invert(1);
}

/* Radio Buttons */
.radio,
.radio.sys-controlregion {
  background: white !important;
  color: black !important;
  box-shadow: none !important;
}
.radio.disabled,
.radio.sys-controlregion.disabled {
  color: gray !important;
  background: transparent !important;
}

/* Input Types */
.entry,
.combobox2-input,
.segmentedentry,
.sys-pilledentry,
.pilledentry {
  filter: grayscale(1) brightness(1.25);
}
.entry.sys-invalid,
.combobox2-input.sys-invalid,
.segmentedentry.sys-invalid,
.sys-pilledentry.sys-invalid,
.pilledentry.sys-invalid {
  filter: none;
}

.combobox2-btn,
.increment-btn-plus,
.increment-btn-minus {
  filter: invert(1);
}

.checkbox.sys-button,
.sys-groupbutton-wrapper > .checkbox {
  background: white !important;
  color: black !important;
  box-shadow: none !important;
}

input::-webkit-input-placeholder {
  color: #333 !important;
}

/* TextArea */
.textarea {
  background: white !important;
  color: black !important;
  box-shadow: none !important;
}
.textarea.disabled {
  color: gray !important;
  background: transparent !important;
}

textarea,
.textarea {
  color: black !important;
  background: white !important;
  box-shadow: none;
}

/* Calendar */
.calendar {
  background: white !important;
  color: black !important;
  box-shadow: none !important;
}

.calendar-header {
  background: white !important;
  color: black !important;
  box-shadow: none !important;
}
.calendar-header > td {
  box-shadow: none;
}

.date-cell {
  background: white !important;
  color: black !important;
  box-shadow: none !important;
}
.date-cell.selected-cell {
  background: gray;
  box-shadow: none;
}
.date-cell.selected-cell:hover {
  background: white;
  color: black;
}

.calendar-month, .calendar-year {
  color: black !important;
}

.calendar-dayofweek-cell {
  color: gray !important;
}

.weekend-cell {
  color: gray !important;
}
.weekend-cell:hover {
  color: white !important;
  background: gray !important;
}

/* ListBox */
.listbox-item.listbox-item-selected {
  background: #9cceff !important;
  color: black !important;
}

/* Menulist */
.menulist {
  background: white;
  color: black;
}
.menulist.sys-navigator {
  background: white;
  color: black;
}

.menulist-item,
.expandable-row,
.sys-navigator .menulist-header {
  color: black;
}

.sys-navigator .menulist-header {
  background-color: lightgray;
}

.menulist-separator > .menulist-cell::after {
  box-shadow: none;
}

.menulist-check.visible {
  background: white !important;
  box-shadow: none;
}
.menulist-check.visible.checked {
  background: #9cceff url(../../../resources/images/checkbox_check.png) center no-repeat !important;
  box-shadow: none;
}
.disabled .menulist-check.visible.checked {
  opacity: 0.5;
  filter: grayscale(1);
}

.menulist-radio {
  background: white !important;
  box-shadow: none;
}
.menulist-radio.visible {
  background: #9cceff !important;
  box-shadow: none;
}
.disabled .menulist-radio.visible {
  opacity: 0.5;
  filter: grayscale(1);
}

/* ProgressBar */
.progressbar {
  border: 1px solid black;
  background: white;
}

.bar {
  background: gray;
  color: black;
}

.text {
  color: black;
}

/* ControlRegion */
.controlregion2 {
  background: lightgray;
}

.style-cat-qat {
  background: transparent;
}

/* colorpalettes */
.simplepalette-color-text, .extendedpalette-color-text, .default-color-text {
  color: black;
}

.style-sysblpui-apptitle {
  color: black;
}

.style-tabitem {
  background: white;
  color: black;
  border: 1px solid black;
}

/* Pill */
.pill-inner.selected {
  background: #9cceff !important;
}

/* Others */
.separator.horz, .separator.vert {
  border-color: lightgray;
}

.color-white {
  color: black !important;
}

.bgcolor-black {
  background-color: white !important;
}

.sys-group {
  background: lightgray !important;
}

.sys-heading {
  background: lightgray !important;
  color: black !important;
}

.sys-output {
  color: black !important;
}

.sys-bid {
  color: #ffffff;
  background: #578f00;
}

.sys-ask {
  color: #ffffff;
  background: #bf001b;
}

.sys-news-monitoring {
  color: #000;
}

.sys-strong,
.sys-strong-emphasize,
.sys-strong-emphasis,
.color-strong,
.color-strong-emphasis,
.color-emphasis,
.sys-emphasis {
  color: black !important;
}

.sys-mnemonic {
  color: #000;
}

.sys-chat-text {
  color: #000000 !important;
}

.sys-richtext-container {
  background-color: #ffffff !important;
}

.sys-richtext-container-contrast {
  background-color: #ffffff !important;
}

body > .panel-stretch,
body > .panel > .panel-stretch {
  position: relative !important;
}

@page {
  width: 100%;
  max-width: 100%;
  overflow: visible;
}