*:focus {
  outline: none;
}

.segmentedentry {
  background: #ffa028;
  color: #000000;
  font-family: inherit;
  padding: 0px 4px;
  border: 1px solid #000000;
  padding-right: 0px;
  min-height: 1.25em;
  overflow: hidden;
}
.sys-controlregion .segmentedentry, .controlregion .segmentedentry {
  font-size: 13px;
}
.segmentedentry.dirty, .segmentedentry.sys-dirty, .dirty .segmentedentry, .sys-dirty .segmentedentry {
  background-color: #ebddbd;
  box-shadow: inset 0px 1px 2px #b4a991;
}
.segmentedentry.invalid, .segmentedentry.sys-invalid, .invalid .segmentedentry, .sys-invalid .segmentedentry {
  background-color: #e81b38;
  border-color: #e81b38;
  box-shadow: inset 0px 0px 0px 1px #000000;
  color: #fbfbfb;
}
.segmentedentry.disabled, .disabled .segmentedentry {
  background: #a69785;
  box-shadow: inset 0px 1px 2px #908373;
}
.segmentedentry.read-only, .read-only .segmentedentry {
  background: none;
  box-shadow: none;
}
.sys-small .segmentedentry, .sys-level1 .segmentedentry, .sys-level2 .segmentedentry, .sys-heading .segmentedentry, .sys-footer .segmentedentry {
  font-size: 1em;
}
.sys-small .segmentedentry .entry-input, .sys-level1 .segmentedentry .entry-input, .sys-level2 .segmentedentry .entry-input, .sys-heading .segmentedentry .entry-input, .sys-footer .segmentedentry .entry-input {
  line-height: 1.35;
}
.segmentedentry.useroverwritten, .segmentedentry.sys-useroverwritten, .useroverwritten .segmentedentry, .sys-useroverwritten .segmentedentry {
  color: #0054d1;
}
.segmentedentry.calculated, .segmentedentry.sys-calculated, .calculated .segmentedentry, .sys-calculated .segmentedentry {
  color: #036a00;
}
.segmentedentry.focus, .segmentedentry:focus {
  border-color: #0090ff;
  box-shadow: inset 0px 0px 0px 1px #000000;
  outline: none;
}
.segmentedentry.focus.sys-hidden-focus, .sys-hidden-focus .segmentedentry.focus, .segmentedentry:focus.sys-hidden-focus, .sys-hidden-focus .segmentedentry:focus {
  box-shadow: none;
  border-color: #000000;
}

.sys-embedded > .segmentedentry {
  cursor: text;
}
.sys-embedded > .segmentedentry.disabled {
  cursor: default;
}
.sys-embedded > .segmentedentry .pill-closeicon {
  height: 1em;
}
.sys-embedded > .segmentedentry .pill {
  cursor: default;
}

.segment {
  margin: 0px 2px;
}
.segment:last-child:not(.label) {
  margin-right: 0px;
}
.segment:last-child.label {
  margin-right: 4px;
}
.segment.label {
  border: none;
  box-shadow: none;
  background: none;
  padding: 0px;
  margin-top: -1px;
  min-height: 1em;
  line-height: 1.2;
}
.segment.label.readonly {
  background: none;
}
.segment.label.sys-text-segment-placeholder {
  color: #77592d;
}
.segment.entry, .segment > .entry {
  background: none;
  border: none;
  box-shadow: none;
  margin: 0px;
  padding: 0px 0px 2px 0px;
}
.segment.entry.focus, .segment.entry:focus, .segment > .entry.focus, .segment > .entry:focus {
  box-shadow: none;
}
.segment.textarea {
  border: none;
  box-shadow: none;
  background: none;
  padding: 0px;
  min-width: 12px;
  overflow: hidden;
}
.segment.textarea.focus, .segment.textarea:focus {
  box-shadow: none;
}
.segment.combobox2 {
  border: none;
  box-shadow: none;
}
.segment.combobox2.focus, .segment.combobox2:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.segment.combobox2 > .combobox2-input {
  background: none;
  border: none;
  box-shadow: none;
  line-height: inherit;
}
.segment.combobox2 > .combobox2-btn {
  border: none;
  background: none;
  box-shadow: none;
}
.segment.combobox2 > .combobox2-btn::after {
  border-top: 4px solid black;
}

.sys-command-mode .segmentedentry {
  background-color: #000000;
  color: #fbfbfb;
  border-color: #003075;
}
.sys-command-mode .segmentedentry.style-focus, .sys-command-mode .segmentedentry.focus, .sys-command-mode .segmentedentry:focus {
  border-color: #0090ff;
  box-shadow: inset 0px 0px 0px 1px #000000;
  outline: none;
}
.sys-command-mode .segmentedentry.style-focus.sys-hidden-focus, .sys-hidden-focus .sys-command-mode .segmentedentry.style-focus, .sys-command-mode .segmentedentry.focus.sys-hidden-focus, .sys-hidden-focus .sys-command-mode .segmentedentry.focus, .sys-command-mode .segmentedentry:focus.sys-hidden-focus, .sys-hidden-focus .sys-command-mode .segmentedentry:focus {
  box-shadow: none;
  border-color: #000000;
}
.sys-command-mode .segmentedentry .entry, .sys-command-mode .segmentedentry > .entry, .sys-command-mode .segmentedentry .textarea-text {
  color: #fbfbfb;
}