*:focus {
  outline: none;
}

.anchorpanel {
  /**** just in case someone is using this style already  ***/
}
.anchorpanel.sys-border {
  border: 1px solid #646464;
}
.anchorpanel.sys-group {
  background: #282828;
  padding: 0.25em;
}
.anchorpanel.sys-group > .separator.horz {
  margin-left: -0.25em;
  margin-right: -0.25em;
}
.anchorpanel.sys-group > .sys-group-header {
  background: #232323;
  border-bottom: 1px solid #111111;
  margin: -0.25em -0.25em 0px -0.25em;
  padding: 0.125em 0.25em 0.25em 0.25em;
}
.anchorpanel.sys-group > .sys-group-content {
  padding-top: 0.25em;
}
.anchorpanel.sys-group .sys-group-listing {
  background: #232323;
  border-right: 1px solid #111111;
  margin: -0.25em 0px -0.25em -0.25em;
  padding: 0.25em 0px;
}
.anchorpanel.sys-group .sys-group-detail {
  padding-left: 0.6em;
}
.anchorpanel.sys-group-pod {
  background-color: #1e1e1e;
  border-radius: 0px;
  padding: 10px;
}
.anchorpanel.sys-frame, .anchorpanel.sys-frame-noborder-darker {
  background: #232323;
}
.anchorpanel.sys-crop-box {
  border: 2px solid #C99283;
}
.anchorpanel.sys-crop-source {
  border: 2px solid #414141;
}
.anchorpanel.sys-mainbody {
  margin: 5px;
}
.anchorpanel.sys-controlregion.sys-small {
  font-size: inherit;
}