.blipbar {
  -webkit-user-select: none;
}
.blipbar.layout-horizontal {
  width: 100%;
}
.blipbar.layout-vertical {
  height: 100%;
}
.blipbar.hover-on {
  cursor: pointer;
}
.blipbar.hover-off {
  cursor: default;
}
.blipbar.disabled {
  cursor: default;
}
.blipbar.blipbar-hidden {
  visibility: hidden;
}