.checkbox {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.checkbox.sys-expander, .checkbox.sys-expander-horizontal, .checkbox.sys-expander-button, .checkbox.sys-expander-horizontal-button {
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.checkbox.sys-expander.block, .checkbox.sys-expander-horizontal.block, .checkbox.sys-expander-button.block, .checkbox.sys-expander-horizontal-button.block {
  display: flex;
}
.checkbox.sys-expander .checkbox-content, .checkbox.sys-expander-horizontal .checkbox-content, .checkbox.sys-expander-button .checkbox-content, .checkbox.sys-expander-horizontal-button .checkbox-content {
  line-height: 1.3;
  flex: 0 0 0;
  margin-left: 0;
}
.checkbox.sys-expander input[type=checkbox], .checkbox.sys-expander-horizontal input[type=checkbox], .checkbox.sys-expander-button input[type=checkbox], .checkbox.sys-expander-horizontal-button input[type=checkbox] {
  appearance: none;
  order: 2;
  flex: 1 1 0;
}
.checkbox.sys-expander.containstext .checkbox-content, .checkbox.sys-expander-horizontal.containstext .checkbox-content, .checkbox.sys-expander-button.containstext .checkbox-content, .checkbox.sys-expander-horizontal-button.containstext .checkbox-content {
  flex: 1 0 0;
}
.checkbox.sys-expander.containstext input[type=checkbox], .checkbox.sys-expander-horizontal.containstext input[type=checkbox], .checkbox.sys-expander-button.containstext input[type=checkbox], .checkbox.sys-expander-horizontal-button.containstext input[type=checkbox] {
  flex: 0 0;
}
.checkbox.sys-blademode input[type=checkbox] {
  float: right;
}
.checkbox.sys-expander {
  display: inline-flex;
}
.checkbox.sys-expander.block {
  display: flex;
}
.checkbox.sys-ib-forum .checkbox-content::before {
  content: "";
  display: inline-block;
  -webkit-mask: url(/bbkitAssets/images/ib-forum-mask.svg) no-repeat center;
  background-color: currentColor;
  vertical-align: text-bottom;
  width: 1.125em;
  height: 1.25em;
  margin-right: 0.1em;
}
.checkbox.sys-ib-msteams .checkbox-content::before {
  content: "";
  display: inline-block;
  -webkit-mask: url(/bbkitAssets/images/ib-msteams-mask.svg) no-repeat center;
  background-color: currentColor;
  vertical-align: text-bottom;
  width: 1.125em;
  height: 1.25em;
  margin-right: 0.1em;
}

input[type=checkbox] {
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
}

.checkbox-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline;
  min-width: 0px;
}