.entry.commandlineentry {
  background-color: #000000;
  border: none;
  color: #fbfbfb;
  font-family: "BB.FixedWidth";
}
.entry.commandlineentry:active {
  border: none;
}
.entry.commandlineentry input {
  background-color: #000000;
  background-color: black;
  border: none;
  color: #fbfbfb;
  font-family: "BB.FixedWidth";
  width: inherit;
  padding: 0px;
}
.entry.commandlineentry .overwrite-mode-cursor::selection {
  color: #000000;
  background-color: #e61e3c;
}
.entry.commandlineentry .overwrite-mode-cursor.bright-blinker::selection {
  background-color: #ff7486;
}
.entry.commandlineentry .insert-mode-cursor::selection {
  color: #000000;
  background-color: #2363b1;
}
.entry.commandlineentry .insert-mode-cursor.bright-blinker::selection {
  background-color: #328efd;
}
.entry.commandlineentry .shift-selecting-cursor::selection {
  color: #000000;
  background-color: #cce3ff;
}
.entry.commandlineentry .shift-selecting-cursor.bright-blinker::selection {
  background-color: #cce3ff;
}
.entry.commandlineentry .blurred-entry-cursor::selection {
  color: #fbfbfb;
  background-color: transparent;
}
.entry.commandlineentry .blurred-entry-cursor.bright-blinker::selection {
  background-color: transparent;
}
.entry.commandlineentry .hide-mode-cursor {
  color: transparent;
  text-shadow: 0 0 0 #fbfbfb;
}
.entry.commandlineentry .hide-mode-cursor::selection {
  color: transparent;
  background-color: transparent;
}
.entry.commandlineentry .hide-mode-cursor.bright-blinker::selection {
  background-color: transparent;
}
.entry.commandlineentry .hide-mode-cursor.bright-blinker {
  color: transparent;
  text-shadow: 0 0 0 #fbfbfb;
}

.chromium-88-plus .entry.commandlineentry .overwrite-mode-cursor::selection {
  color: #000000;
  background-color: #a1122c;
}
.chromium-88-plus .entry.commandlineentry .overwrite-mode-cursor.bright-blinker::selection {
  background-color: #ff2c4a;
}
.chromium-88-plus .entry.commandlineentry .insert-mode-cursor::selection {
  color: #000000;
  background-color: #0051ba;
}
.chromium-88-plus .entry.commandlineentry .insert-mode-cursor.bright-blinker::selection {
  background-color: #2b8eff;
}
.chromium-88-plus .entry.commandlineentry .shift-selecting-cursor::selection {
  color: #000000;
  background-color: #3c9fff;
}
.chromium-88-plus .entry.commandlineentry .shift-selecting-cursor.bright-blinker::selection {
  background-color: #3c9fff;
}
.chromium-88-plus .entry.commandlineentry .blurred-entry-cursor::selection {
  color: #fbfbfb;
  background-color: transparent;
}
.chromium-88-plus .entry.commandlineentry .blurred-entry-cursor.bright-blinker::selection {
  background-color: transparent;
}
.chromium-88-plus .entry.commandlineentry .hide-mode-cursor::selection {
  color: transparent;
  background-color: transparent;
}
.chromium-88-plus .entry.commandlineentry .hide-mode-cursor.bright-blinker::selection {
  background-color: transparent;
}