*:focus {
  outline: none;
}

*:focus {
  outline: none;
}

.table-row-region, .table-preview {
  background-color: #1e1e1e;
}

.table-row-region.table-title-row-region.table-title-row-region-background-tunable {
  background-color: #282828;
}

.table-row-style-title.table-row-layer {
  background-color: #282828;
}
.table-row-style-title > .table-cell-layer.table-cell-decorator-actionable, .table-row-style-title > .table-cell-layer.table-cell-decorator-selectable, .table-row-style-title > .table-cell-layer.table-cell-decorator-drop-target {
  background-color: #373737;
}
.table-row-style-title > .table-cell-layer.table-cell-decorator-selecting {
  background-color: #1e1e1e;
}

.table-row-style-subheader.table-row-layer {
  background-color: #1e1e1e;
}

.table-row-style-summary.table-row-layer {
  background-color: #1e1e1e;
}

.table-row-region, .table-preview {
  background-color: #1e1e1e;
}

.table-row-style-title.table-row-layer {
  background-color: #282828;
}
.table-row-style-title > .table-cell-layer.table-cell-decorator-actionable, .table-row-style-title > .table-cell-layer.table-cell-decorator-selectable, .table-row-style-title > .table-cell-layer.table-cell-decorator-drop-target {
  background-color: #373737;
}
.table-row-style-title > .table-cell-layer.table-cell-decorator-selecting {
  background-color: #1e1e1e;
}

.table-row-style-subheader.table-row-layer {
  background-color: #1e1e1e;
}

.table-row-style-summary.table-row-layer {
  background-color: #1e1e1e;
}