.theme-white *:focus {
  outline: none;
}
.theme-white *:focus {
  outline: none;
}
.theme-white .table-row-region, .theme-white .table-preview {
  background-color: #e1e1e1;
}
.theme-white .table-row-region.table-title-row-region.table-title-row-region-background-tunable {
  background-color: #cdcdcd;
}
.theme-white .table-row-style-title.table-row-layer {
  background-color: #cdcdcd;
}
.theme-white .table-row-style-title > .table-cell-layer.table-cell-decorator-actionable, .theme-white .table-row-style-title > .table-cell-layer.table-cell-decorator-selectable, .theme-white .table-row-style-title > .table-cell-layer.table-cell-decorator-drop-target {
  background-color: #bebebe;
}
.theme-white .table-row-style-title > .table-cell-layer.table-cell-decorator-selecting {
  background-color: #e1e1e1;
}
.theme-white .table-row-style-subheader.table-row-layer {
  background-color: #e1e1e1;
}
.theme-white .table-row-style-summary.table-row-layer {
  background-color: #e1e1e1;
}
.theme-white .table-row-region, .theme-white .table-preview {
  background-color: #373737;
}
.theme-white .table-row-style-title.table-row-layer {
  background-color: #1e1e1e;
}
.theme-white .table-row-style-title > .table-cell-layer.table-cell-decorator-actionable, .theme-white .table-row-style-title > .table-cell-layer.table-cell-decorator-selectable, .theme-white .table-row-style-title > .table-cell-layer.table-cell-decorator-drop-target {
  background-color: #191919;
}
.theme-white .table-row-style-title > .table-cell-layer.table-cell-decorator-selecting {
  background-color: #414141;
}
.theme-white .table-row-style-subheader.table-row-layer {
  background-color: #373737;
}
.theme-white .table-row-style-summary.table-row-layer {
  background-color: #373737;
}