*:focus {
  outline: none;
}

.listbox {
  /**** just in case someone is using this style already  ***/
}
.listbox.sys-border {
  border: 1px solid #646464;
}
.listbox.sys-group {
  background: #282828;
  padding: 0.25em;
}
.listbox.sys-group > .separator.horz {
  margin-left: -0.25em;
  margin-right: -0.25em;
}
.listbox.sys-group > .sys-group-header {
  background: #232323;
  border-bottom: 1px solid #111111;
  margin: -0.25em -0.25em 0px -0.25em;
  padding: 0.125em 0.25em 0.25em 0.25em;
}
.listbox.sys-group > .sys-group-content {
  padding-top: 0.25em;
}
.listbox.sys-group .sys-group-listing {
  background: #232323;
  border-right: 1px solid #111111;
  margin: -0.25em 0px -0.25em -0.25em;
  padding: 0.25em 0px;
}
.listbox.sys-group .sys-group-detail {
  padding-left: 0.6em;
}
.listbox.sys-group-pod {
  background-color: #1e1e1e;
  border-radius: 0px;
  padding: 10px;
}
.listbox.sys-frame, .listbox.sys-frame-noborder-darker {
  background: #232323;
}
.listbox.sys-group {
  padding: 0;
}
.listbox.sys-maincontent {
  margin: 5px;
}
.listbox.sys-extend {
  margin-left: -0.25em;
  margin-right: -0.25em;
}
.listbox.sys-list .listbox-item {
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.sys-group-content > .listbox.sys-extend:last-child, .sys-group-content > .listbox.sys-extend:only-child {
  margin-bottom: -0.25em;
}
.sys-group-content > .listbox.sys-extend:first-child {
  margin-top: -0.25em;
}
.sys-group-content > .listbox.sys-extend:first-child .listbox-container {
  margin-top: 0.25em;
}
.sys-group-content > .listbox.sys-extend:only-child {
  margin-bottom: -0.25em;
  margin-top: -0.25em;
}
.sys-group-content .userwidget:last-child > .listbox.sys-extend {
  margin-bottom: -0.25em;
}
.sys-group-content .userwidget:first-child > .listbox.sys-extend {
  margin-top: -0.25em;
}
.sys-group-content .userwidget:first-child > .listbox.sys-extend .listbox-container {
  margin-top: 0.25em;
}
.sys-group-content .userwidget:only-child > .listbox.sys-extend {
  margin-bottom: -0.25em;
  margin-top: -0.25em;
}
.sys-group-content .userwidget:only-child > .listbox.sys-extend .listbox-container {
  margin-bottom: -0.25em;
  margin-top: -0.25em;
}

.listbox-item.listbox-item-selectable:hover:not(.disabled) {
  background: #252525;
}
.listbox-item.listbox-item-selected {
  background: #1e6ab4;
  color: #fff;
}
.listbox-item.listbox-item-selected:hover:not(.disabled) {
  background: #1e6ab4;
}
.listbox-item.listbox-item-selected .image.sys-react-to-select {
  -webkit-filter: brightness(0) invert(1);
}

.listbox:focus {
  outline: 1px solid #0090ff;
  box-shadow: inset 0px 0px 0px 1px #000000;
  outline-offset: -1px;
}

.style-listbox_wrapper {
  border: 1px solid #1a1a1a;
}