*:focus {
  outline: none;
}

.tabpanel.sys-level1, .tabpanel.sys-secondary {
  margin: -2px 0px -2px -6px;
}
.sys-compact .tabpanel.sys-level1, .sys-compact .tabpanel.sys-secondary {
  margin: 0px;
}
.tabpanel.sys-level1 .tabpanelstrip, .tabpanel.sys-secondary .tabpanelstrip {
  background-color: #373737;
  border-bottom: 0px;
}
.tabpanel.sys-level1 .tabpanelstrip-tab, .tabpanel.sys-secondary .tabpanelstrip-tab {
  background-color: #373737;
  border: 1px solid transparent;
  border-left-color: #141414;
  border-top-color: rgba(255, 255, 255, 0.08);
  border-radius: 0px;
  box-shadow: none;
  padding: 0px 10px;
  margin-right: 0px;
}
.tabpanel.sys-level1 .tabpanelstrip-tab:first-child, .tabpanel.sys-secondary .tabpanelstrip-tab:first-child {
  border-left-color: transparent;
}
.tabpanel.sys-level1 .tabpanelstrip-tab:last-child, .tabpanel.sys-secondary .tabpanelstrip-tab:last-child {
  border-right-color: #141414;
}
.tabpanel.sys-level1 .tabpanelstrip-tab:focus, .tabpanel.sys-level1 .tabpanelstrip-tab.focus, .tabpanel.sys-secondary .tabpanelstrip-tab:focus, .tabpanel.sys-secondary .tabpanelstrip-tab.focus {
  border-color: #0090ff;
  box-shadow: inset 0px 0px 0px 1px #141414;
}
.tabpanel.sys-level1 .tabpanelstrip-tab.tabpanelstrip-selected, .tabpanel.sys-secondary .tabpanelstrip-tab.tabpanelstrip-selected {
  background-color: #0d58a7;
}
.tabpanel.sys-level1 .tabpanelstrip-tab.tabpanelstrip-selected:focus, .tabpanel.sys-level1 .tabpanelstrip-tab.tabpanelstrip-selected.focus, .tabpanel.sys-secondary .tabpanelstrip-tab.tabpanelstrip-selected:focus, .tabpanel.sys-secondary .tabpanelstrip-tab.tabpanelstrip-selected.focus {
  border-color: #0090ff;
  box-shadow: inset 0px 0px 0px 1px #141414;
}
.tabpanel.sys-level1 .tabpanelstrip-tab.disabled, .tabpanel.sys-secondary .tabpanelstrip-tab.disabled {
  background-color: #383838;
  color: #787878;
}
.tabpanel.sys-level1:not(.disabled) .tabpanelstrip-tab:hover, .tabpanel.sys-secondary:not(.disabled) .tabpanelstrip-tab:hover {
  background-color: #575757;
}
.tabpanel.sys-level1:not(.disabled) .tabpanelstrip-tab:active, .tabpanel.sys-secondary:not(.disabled) .tabpanelstrip-tab:active {
  background-color: #2a2a2a;
  box-shadow: inset 0px 1px rgba(0, 0, 0, 0.15);
}
.tabpanel.sys-level1 .tabpanelstrip-title-content, .tabpanel.sys-secondary .tabpanelstrip-title-content {
  padding-bottom: 1px;
}
.tabpanel.sys-minor .tabpanelstrip {
  border-bottom: 1px solid #414141;
}
.tabpanel.sys-minor .tabpanelstrip-tab {
  background: #282828;
  box-shadow: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.tabpanel.sys-minor .tabpanelstrip-tab.tabpanelstrip-selected {
  background: #414141;
}
.tabpanel.sys-minor .tabpanelstrip-tab .label {
  /*override label padding and lightheight to make tab strip to be 19px height*/
  color: #d7d7d7;
  line-height: 1.15;
  padding-top: 0px;
  padding-bottom: 0px;
}
.tabpanel.sys-minor:not(.disabled) .tabpanelstrip-tab:hover {
  background: #373737;
}
.tabpanel.sys-minor:not(.disabled) .tabpanelstrip-tab.tabpanelstrip-selected:hover {
  background: #414141;
}
.tabpanel.sys-minor .tabpanelstrip-post {
  line-height: 1;
}
.tabpanel.sys-minor .button {
  font-size: 0.8em;
  margin: 0px 0px 1px 0px;
}
.tabpanel.sys-minor .button .label {
  line-height: 1.2;
}
.tabpanel .tabpanelstrip-title-content {
  bottom: 2px;
  position: relative;
}

.tabpanelstrip.tabpanelstrip-top {
  border-bottom: 2px solid #646464;
  box-shadow: 0px 1px 0px #181818;
}
.tabpanelstrip.tabpanelstrip-bottom {
  border-top: 2px solid #636363;
}

.tabpanelstrip-pre,
.tabpanelstrip-post {
  line-height: 1.1;
}

.tabpanelstrip-tab {
  background: #282828;
  border: 1px solid #000000;
  border-bottom-color: transparent;
  border-bottom-width: 0px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.08);
  font-size: 0.866666em;
  color: white;
  top: 1px;
  padding: 1px 8px 1px;
}
.tabpanelstrip-tab .label {
  line-height: 1.2;
}
.tabpanelstrip-tab.tabpanelstrip-tab-secondary {
  color: #787878;
}
.tabpanelstrip-tab:hover {
  background: #414141;
}
.tabpanelstrip-tab:active, .tabpanelstrip-tab.active {
  background: #323232;
}
.disabled .tabpanelstrip-tab, .tabpanelstrip-tab.disabled {
  border-bottom-color: #1a1a1a;
  background-color: #202020;
  color: #787878;
}
.tabpanelstrip-tab:focus, .tabpanelstrip-tab.focus {
  border-color: #0090ff;
  box-shadow: inset 0px -1px 0px 0px #282828, inset 0px 0px 0px 1px #000000;
}
.tabpanelstrip-tab.tabpanelstrip-selected {
  background-color: #646464;
  border-bottom-color: transparent;
}
.tabpanelstrip-tab.tabpanelstrip-selected:focus, .tabpanelstrip-tab.tabpanelstrip-selected.focus {
  box-shadow: inset 0px -1px 0px 0px #646464, inset 0px 0px 0px 1px #000000;
}

.tabpanelstrip-overflow-scroll.tabpanelstrip-overflow-scroll-left {
  background: url(/bbkitAssets/images/overflow-arrow-left.png) center center no-repeat;
}
.tabpanelstrip:not(.disabled) .tabpanelstrip-overflow-scroll.tabpanelstrip-overflow-scroll-left:not(.disabled):hover {
  background: url(/bbkitAssets/images/overflow-arrow-left.png) center center no-repeat, #414141;
}
.tabpanelstrip:not(.disabled) .tabpanelstrip-overflow-scroll.tabpanelstrip-overflow-scroll-left:not(.disabled):active {
  background: url(/bbkitAssets/images/overflow-arrow-left.png) center center no-repeat, -webkit-linear-gradient(top, #bebebe, #a5a5a5);
}
.tabpanelstrip-overflow-scroll.tabpanelstrip-overflow-scroll-left.disabled, .tabpanelstrip-overflow-scroll.tabpanelstrip-overflow-scroll-left.disabled:hover {
  opacity: 0.4;
}
.tabpanelstrip-overflow-scroll.tabpanelstrip-overflow-scroll-right {
  background: url(/bbkitAssets/images/overflow-arrow-right.png) center center no-repeat;
}
.tabpanelstrip:not(.disabled) .tabpanelstrip-overflow-scroll.tabpanelstrip-overflow-scroll-right:not(.disabled):hover {
  background: url(/bbkitAssets/images/overflow-arrow-right.png) center center no-repeat, #414141;
}
.tabpanelstrip:not(.disabled) .tabpanelstrip-overflow-scroll.tabpanelstrip-overflow-scroll-right:not(.disabled):active {
  background: url(/bbkitAssets/images/overflow-arrow-right.png) center center no-repeat, -webkit-linear-gradient(top, #bebebe, #a5a5a5);
}
.tabpanelstrip-overflow-scroll.tabpanelstrip-overflow-scroll-right.disabled, .tabpanelstrip-overflow-scroll.tabpanelstrip-overflow-scroll-right.disabled:hover {
  opacity: 0.4;
}

.tabpanelstrip-bottom .tabpanelstrip-tab {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 1px solid #282828;
  border-top: 0;
}

.tabpanelstrip-dropdown {
  background: url(/bbkitAssets/images/overflow.png) center center no-repeat;
  margin-top: 0px;
  margin-left: 3px;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.tabpanelstrip-dropdown.tabpanelstrip-expander-collapse {
  background: url(/bbkitAssets/images/overflow.png) center center no-repeat;
}
.tabpanelstrip-dropdown:hover {
  background-color: #414141;
}
.tabpanelstrip-dropdown:active {
  background-color: #333;
}
.disabled .tabpanelstrip-dropdown {
  background: url(/bbkitAssets/images/overflow.png) center center no-repeat;
}

.tabpanelstrip-expander {
  width: 20px;
  background: url(/bbkitAssets/images/expander_arrow_up.png) center center no-repeat;
  margin-top: 0px;
  margin-left: 3px;
}
.tabpanelstrip-expander.tabpanelstrip-expander-collapse {
  background: url(/bbkitAssets/images/expander_arrow_down.png) center center no-repeat;
}
.tabpanelstrip-expander.tabpanelstrip-expander-pin {
  background: url(/bbkitAssets/images/pin.png) center center no-repeat;
}
.tablepanelstrip:not(.disabled) .tabpanelstrip-expander:hover {
  background-color: #414141;
}
.tablepanelstrip:not(.disabled) .tabpanelstrip-expander:active {
  background-color: #333;
}

.sys-controlregion .tabpanelstrip-expander,
.controlregion .tabpanelstrip-expander {
  border: 1px solid #000000;
  border-bottom-color: #191919;
  top: 1px;
}
.sys-controlregion .tabpanelstrip,
.controlregion .tabpanelstrip {
  padding: 5px 10px 0 10px;
  background: #1e1e1e;
}
.sys-controlregion .tabpanelstrip.tabpanelstrip-bottom,
.controlregion .tabpanelstrip.tabpanelstrip-bottom {
  border-top: 1px solid #000000;
}
.sys-controlregion .tabpanelstrip.tabpanelstrip-bottom .tabpanelstrip-tab,
.controlregion .tabpanelstrip.tabpanelstrip-bottom .tabpanelstrip-tab {
  top: -1px;
}
.sys-controlregion .tabpanelstrip.tabpanelstrip-bottom .tabpanelstrip-tab.tabpanelstrip-selected,
.controlregion .tabpanelstrip.tabpanelstrip-bottom .tabpanelstrip-tab.tabpanelstrip-selected {
  border-bottom-color: #000000;
  border-top-color: #1e1e1e;
}
.sys-controlregion .tabpanelstrip.tabpanelstrip-bottom .tabpanelstrip-tab.tabpanelstrip-selected:hover:not(.disabled),
.controlregion .tabpanelstrip.tabpanelstrip-bottom .tabpanelstrip-tab.tabpanelstrip-selected:hover:not(.disabled) {
  border-bottom-color: #000000;
  border-top-color: #1e1e1e;
}
.sys-controlregion .tabpanelstrip-top,
.controlregion .tabpanelstrip-top {
  border-bottom: 1px solid #000000;
}
.sys-controlregion .tabpanelstrip-tab,
.controlregion .tabpanelstrip-tab {
  background: transparent;
  box-shadow: none;
  border-color: transparent;
  border-bottom: 1px solid transparent;
  padding: 0px 8px 2px;
  top: 1px;
  color: #a5a5a5;
  font-size: 1em;
}
.sys-controlregion .tabpanelstrip-tab > .tabpanelstrip-title-content,
.controlregion .tabpanelstrip-tab > .tabpanelstrip-title-content {
  color: inherit;
  text-overflow: clip;
}
.sys-controlregion .tabpanelstrip-tab.disabled,
.controlregion .tabpanelstrip-tab.disabled {
  color: #848484;
}
.sys-controlregion .tabpanelstrip-tab.disabled .tabpanelstrip-title-content,
.controlregion .tabpanelstrip-tab.disabled .tabpanelstrip-title-content {
  color: inherit;
}
.sys-controlregion .tabpanelstrip-tab.tabpanelstrip-selected,
.controlregion .tabpanelstrip-tab.tabpanelstrip-selected {
  border-color: #000000;
  border-bottom-color: #191919;
  box-shadow: none;
  background: #282828;
  color: #fbfbfb;
}
.sys-controlregion .tabpanelstrip-tab.tabpanelstrip-selected > .tabpanelstrip-title-content,
.controlregion .tabpanelstrip-tab.tabpanelstrip-selected > .tabpanelstrip-title-content {
  color: inherit;
}
.sys-controlregion .tabpanelstrip-tab.tabpanelstrip-selected:hover:not(.disabled),
.controlregion .tabpanelstrip-tab.tabpanelstrip-selected:hover:not(.disabled) {
  background: #282828;
  border-color: #000000;
  border-bottom-color: #191919;
}
.sys-controlregion .tabpanelstrip-tab:hover:not(.disabled),
.controlregion .tabpanelstrip-tab:hover:not(.disabled) {
  background: #414141;
  border-color: #000000;
}
.sys-controlregion .sys-secondary .tabpanelstrip,
.controlregion .sys-secondary .tabpanelstrip {
  background-color: transparent;
}
.sys-controlregion .sys-secondary .tabpanelstrip-tab,
.controlregion .sys-secondary .tabpanelstrip-tab {
  font-size: 1em;
}
.sys-controlregion .sys-secondary .tabpanelstrip-tab::first-child,
.controlregion .sys-secondary .tabpanelstrip-tab::first-child {
  border-left-color: transparent;
}
.sys-controlregion .sys-secondary .tabpanelstrip-top,
.controlregion .sys-secondary .tabpanelstrip-top {
  border-bottom-color: transparent;
}
.sys-controlregion .sys-secondary .tabpanelstrip-selected,
.controlregion .sys-secondary .tabpanelstrip-selected {
  border-bottom-color: #141414;
}
.sys-controlregion .sys-secondary .tabpanelstrip-selected:hover:not(.disabled),
.controlregion .sys-secondary .tabpanelstrip-selected:hover:not(.disabled) {
  border-bottom-color: #141414;
}
.sys-controlregion .sys-tabpanelstrip-dense-mode.tabpanelstrip,
.controlregion .sys-tabpanelstrip-dense-mode.tabpanelstrip {
  padding-top: 0;
}
.sys-controlregion .sys-tabpanelstrip-dense-mode.tabpanelstrip-top,
.controlregion .sys-tabpanelstrip-dense-mode.tabpanelstrip-top {
  border-bottom: none;
  box-shadow: inset 0px -1px 0px #000000, inset 0px 1px 0px #000000;
}
.sys-controlregion .sys-tabpanelstrip-dense-mode .tabpanelstrip-tabs,
.controlregion .sys-tabpanelstrip-dense-mode .tabpanelstrip-tabs {
  padding-right: 1px;
}
.sys-controlregion .sys-tabpanelstrip-dense-mode .tabpanelstrip-tab,
.controlregion .sys-tabpanelstrip-dense-mode .tabpanelstrip-tab {
  border-radius: 0;
}
.sys-controlregion .sys-tabpanelstrip-dense-mode .tabpanelstrip-tab:hover:not(.disabled),
.controlregion .sys-tabpanelstrip-dense-mode .tabpanelstrip-tab:hover:not(.disabled) {
  padding-bottom: 0;
}
.sys-controlregion .sys-tabpanelstrip-dense-mode .tabpanelstrip-tab.tabpanelstrip-selected,
.controlregion .sys-tabpanelstrip-dense-mode .tabpanelstrip-tab.tabpanelstrip-selected {
  box-shadow: inset 0px 1px 0px #003075;
  background-color: #1e1e1e;
}
.sys-controlregion .sys-tabpanelstrip-dense-mode .tabpanelstrip-tab.tabpanelstrip-selected:hover:not(.disabled),
.controlregion .sys-tabpanelstrip-dense-mode .tabpanelstrip-tab.tabpanelstrip-selected:hover:not(.disabled) {
  padding-bottom: 2px;
}
.sys-controlregion .sys-tabpanelstrip-dense-mode .tabpanelstrip-expander,
.controlregion .sys-tabpanelstrip-dense-mode .tabpanelstrip-expander {
  border-radius: 0;
  background-color: #191919;
  top: 0;
}