/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Saira');

h1 {
  text-align: center;
  font-family: 'Saira', sans-serif;
}
h1:after {
  background: #F67280;
  content: '';
  display: block;
  height: 5px;
  margin: 10px;
}

#container {
  display: block;
}

#optionField {
  display: inline;
  margin: 20%;
}

#buttonField {
  display: inline;
  margin: 20%;
}

form {
  display: inline-block;
  width: 70%;
  padding-bottom: 10px;
  font-family: 'Saira', sans-serif;
  font-size: 16px;
}

#scrollIntoViewOptions, #inlinePositionOptions {
  display: none;
}

#blockPositionOptions {
  display: inline;
}

#manual {
  display: inline;
}

#repeat {
  display: inline;
}

nav {
  border: 2px solid #D80546;
  padding: 1em 0;
  text-align: center;
  margin: 10px auto;
  width: 80%;
  font-family: 'Saira', sans-serif;
}

button {
  text-align: center;
  font-size: 100%;
  border-radius: 1em;
  padding: 1em;
  margin: 20px;
  justify-content: center;
  font-family: 'Saira', sans-serif;
}

#scrollBox {
  border: 1px solid gray;
  height: 400px;
  width: 400px;
  margin: 2em auto;
  padding: 10px;
}

.block-scrollBox {  
  overflow-y: scroll;
}

.inline-scrollBox {
  overflow-x: scroll;
  white-space: nowrap;
}

.box {
  text-align: center;
  font-size: 100%;
  border-radius: 1em;
  padding: 1em;
  margin: 1em auto;
  width: 100px;
  height: 100px;
  font-family: 'Saira', sans-serif;
  background-color: gray;
}

.box:hover,
.box:focus {
  color: #fff;
  outline: 5px solid #D80546;
}
