.radio {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[type=radio] {
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
}
input[type=radio]:checked::before {
  content: "";
  height: 5px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 5px;
}

.radio-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline;
  min-width: 0px;
}