body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.grid-layout {
  display: grid;
  width: 90%;
  height: 90%;
  grid-template-rows: repeat(4, 20vh);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2vw;
  margin: 5vw auto;
}

.detail-layout {
  display: block;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-grid {
  background-color: #E8E8E8;
  flex-direction: column;
}

.header-detail {
  background-color: #303030;
  flex-direction: row;
}

.header > #text {
  color: #303030;
}

.header > #closeButton {
  display: none;
  position: absolute;
  right: 5vw;
  height: 5vw;
}

.footer {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: #303030;
}

.footer > .button {
  object-fit: contain;
  height: 5vw;
}

.footer > :first-child {
  margin-left: 5vw;
}

.footer > :last-child {
  margin-right: 5vw;
}

.grid-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-image {
  display: block;
  width: 100%;
  height: 80%;
  object-fit: contain;
  position: absolute;
  left: 0;
  transform: translateX(0);
}