body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

nav, footer {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  font-size: 14px;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
}
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

@media all and (max-width: 360px) {
  .nav__list {
    flex-flow: column wrap;
  }

  .nav__item {
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .content {
    flex-flow: column wrap;
  }
  .subtitle {
    width: 100%;
  }
  .description {
    width: 100%;
  }
}

@media all and (min-width: 361px) and (max-width: 768px) {
  .nav__list {
    justify-content: space-around;
  }

  .content {
    flex-flow: row wrap;
  }
  .subtitle {
    width: 40%;
  }
  .description {
    width: 60%;
  }
}

@media all and (min-width: 769px) {
  .nav__list {
    justify-content: center;
  }

  .content {
    flex-flow: row wrap;
  }
  .subtitle {
    width: 30%;
  }
  .description {
    width: 70%;
  }
}

.header {
  background-color: #cb738d;
  padding: 5%;
}

.header__inner {
  margin: 5%;
  width: 200px;
  text-align: center;
  margin: auto;
}
.header__title {
  border: 3px solid #903e5a;
  border-radius: 5%;
  color: white;
}

.nav {
  background-color: #efa5a9;
  padding: 0;
}
.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav__item {
  display: block;
  font-size: 12px;
  padding: 0.5em;
}

.nav__item a {
  text-decoration: none;
}

.title {
  font-size: 16px;
}

.subtitle {
  font-size: 14px;
}

.content {
  display: flex;
}

.footer {
  background-color: #efa5a9;
  text-align: center;
  max-width: 100%;
}
.contact__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.contect__item{
  display: block;
  padding: 1em;
}
.contect_img {
  width: 25px;
}
