*:focus {
  outline: none;
}

.sys-table-spreadsheet .column-state-accessory {
  border-top: 1px solid transparent;
}

.column-state-accessory-unsorted.column-state-accessory-unfiltered {
  visibility: hidden;
}

.table:not(.disabled) .table-cell-layer:hover .column-state-accessory {
  visibility: visible;
}

.column-state-accessory:not(.empty) {
  background-color: #383838;
  box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border-left: 1px solid black;
}
.grid-cell-decorator-hovered .column-state-accessory:not(.empty), .grid-cell-decorator-selectable .column-state-accessory:not(.empty), .grid-cell-decorator-selected .column-state-accessory:not(.empty), .grid-cell-decorator-selecting .column-state-accessory:not(.empty), .table-cell-decorator-hovered .column-state-accessory:not(.empty), .table-cell-decorator-selectable .column-state-accessory:not(.empty), .table-cell-decorator-selected .column-state-accessory:not(.empty), .table-cell-decorator-selecting .column-state-accessory:not(.empty) {
  background-image: -webkit-linear-gradient(top, #464646, #424242);
}

.column-state-accessory.empty {
  background-image: -webkit-linear-gradient(left, rgba(35, 35, 35, 0), #232323 5px);
  background-color: initial;
  border-left: none;
}
.grid-cell-decorator-selectable .column-state-accessory.empty, .table-cell-decorator-selectable .column-state-accessory.empty {
  background-image: -webkit-linear-gradient(left, rgba(56, 56, 56, 0), #383838 5px);
}
.grid-cell-decorator-selected .column-state-accessory.empty, .table-cell-decorator-selected .column-state-accessory.empty {
  background-image: -webkit-linear-gradient(left, rgba(60, 60, 60, 0), #3c3c3c 5px);
}
.grid-cell-decorator-selectable.grid-cell-decorator-selecting .column-state-accessory.empty, .table-cell-decorator-selectable.table-cell-decorator-selecting .column-state-accessory.empty, .grid-cell-decorator-selected.grid-cell-decorator-selectable .column-state-accessory.empty, .table-cell-decorator-selected.table-cell-decorator-selectable .column-state-accessory.empty {
  background-image: -webkit-linear-gradient(left, rgba(72, 72, 72, 0), #484848 5px);
}
.sys-table-spreadsheet .column-state-accessory.empty {
  background-image: -webkit-linear-gradient(left, rgba(45, 45, 45, 0), #2d2d2d), -webkit-linear-gradient(top, #2f2f2f, #2a2a2a);
  background-size: 5px 100%, 100% 100%;
  background-position: 0 0, 5px 0;
  background-repeat: no-repeat, no-repeat;
}
.sys-table-spreadsheet .grid-cell-decorator-selectable .column-state-accessory.empty, .sys-table-spreadsheet .table-cell-decorator-selectable .column-state-accessory.empty, .sys-table-spreadsheet .grid-cell-decorator-selected .column-state-accessory.empty, .sys-table-spreadsheet .table-cell-decorator-selected .column-state-accessory.empty {
  background-image: -webkit-linear-gradient(left, rgba(70, 70, 70, 0), #464646), -webkit-linear-gradient(top, #484848, #434343);
  background-size: 5px 100%, 100% 100%;
  background-position: 0 0, 5px 0;
  background-repeat: no-repeat, no-repeat;
}
.sys-table-spreadsheet .grid-cell-decorator-selected.grid-cell-decorator-selectable .column-state-accessory.empty, .sys-table-spreadsheet .table-cell-decorator-selected.table-cell-decorator-selectable .column-state-accessory.empty {
  background-image: -webkit-linear-gradient(left, rgba(73, 73, 73, 0), #494949), -webkit-linear-gradient(top, #4b4b4b, #474747);
  background-size: 5px 100%, 100% 100%;
  background-position: 0 0, 5px 0;
  background-repeat: no-repeat, no-repeat;
}
.sys-table-spreadsheet .grid-cell-decorator-pressed .column-state-accessory.empty, .sys-table-spreadsheet .table-cell-decorator-pressed .column-state-accessory.empty {
  background-image: -webkit-linear-gradient(left, rgba(73, 73, 73, 0), #494949), -webkit-linear-gradient(top, #4b4b4b, #474747);
  background-size: 5px 100%, 100% 100%;
  background-position: 0 0, 5px 0;
  background-repeat: no-repeat, no-repeat;
}

.column-state-accessory-unsorted.column-state-accessory-unfiltered:before {
  border-top: 4px solid #d7d7d7;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 0;
}

.column-state-accessory-unsorted.column-state-accessory-unfiltered:before.disabled {
  border-top-color: #646464;
}

.column-state-accessory-unsorted.column-state-accessory-unfiltered:not(.empty):hover:before {
  background-image: url(/bbkitAssets/images/column-state-unsorted-unfiltered.png);
}

.column-state-accessory-unsorted.column-state-accessory-filtered:before {
  background-image: url(/bbkitAssets/images/column-state-unsorted-filtered.png);
}

.column-state-accessory-sorted-asc.column-state-accessory-filtered:before {
  background-image: url(/bbkitAssets/images/column-state-sorted-asc-filtered.png);
}

.column-state-accessory-sorted-asc.column-state-accessory-unfiltered:before {
  background-image: url(/bbkitAssets/images/column-state-sorted-asc-unfiltered.png);
}

.column-state-accessory-sorted-asc.column-state-accessory-unfiltered:not(.empty):hover:before {
  background-image: url(/bbkitAssets/images/column-state-sorted-asc-unfiltered-hover.png);
}

.column-state-accessory-sorted-desc.column-state-accessory-filtered:before {
  background-image: url(/bbkitAssets/images/column-state-sorted-desc-filtered.png);
}

.column-state-accessory-sorted-desc.column-state-accessory-unfiltered:before {
  background-image: url(/bbkitAssets/images/column-state-sorted-desc-unfiltered.png);
}

.column-state-accessory-sorted-desc.column-state-accessory-unfiltered:not(.empty):hover:before {
  background-image: url(/bbkitAssets/images/column-state-sorted-desc-unfiltered-hover.png);
}