.scrollpanel {
  min-height: 0;
  display: inline-flex;
}
.scrollpanel.block {
  display: flex;
}

.scrollpanel-scroller {
  position: relative;
  overflow: auto;
  min-width: 0;
  min-height: 0;
}
.scrollpanel-scroller.sizingmode-parent {
  -webkit-flex: 1 0 0;
}
.scrollpanel-scroller.scrollpanel-vert {
  display: -webkit-flex;
  -webkit-flex-direction: column;
}
.scrollpanel-scroller.scrollpanel-horz {
  display: -webkit-flex;
  -webkit-flex-direction: row;
}

.scrollpanel-child {
  -webkit-flex: 1 0 auto;
  -webkit-align-items: flex-start;
  min-width: 0;
  min-height: 0;
}
.sizingmode-parent > .scrollpanel-child {
  -webkit-align-items: stretch;
}

.scrollpanel-vert {
  overflow-x: hidden;
}

.scrollpanel-horz {
  overflow-y: hidden;
}

.scrollpanel-blipbar {
  position: absolute;
  top: 11px;
  bottom: 11px;
  right: 0;
  z-index: -1;
  background-color: #1C1C1C;
}