*:focus {
  outline: none;
}

.tabstrip {
  height: 29px;
  overflow: hidden;
  cursor: default;
  -webkit-user-select: none;
}

.tabstrip-tabs {
  position: relative;
  display: inline-block;
  height: 29px;
  max-width: -webkit-calc(100% - 60px);
  overflow: hidden;
}

@-webkit-keyframes tabstrip-tab-slideup {
  from {
    top: 29px;
  }
  to {
    top: 0;
  }
}
@-webkit-keyframes tabstrip-tab-slidedown {
  from {
    top: 0;
  }
  to {
    top: 29px;
  }
}
.tabstrip-tab {
  position: absolute;
  width: 153px;
  height: 23px;
  padding-right: 15px;
  -webkit-border-image: url(/bbkitAssets/images/tabnormal.png) 5 16 0 16 repeat;
  border-width: 5px 16px 0px 16px;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: left ease-in-out 0.2s;
}
.tabstrip-tab:hover {
  -webkit-border-image: url(/bbkitAssets/images/tabhover.png) 5 16 0 16 fill stretch;
}
.tabstrip-tab:hover .tabstrip-close {
  background: url(/bbkitAssets/images/tabclose.png) no-repeat center -1px;
}
.tabstrip-tab:hover .tabstrip-close:hover {
  background-position-y: -22px;
}
.tabstrip-tab:hover .tabstrip-close:active {
  background-position-y: -43px;
}
.tabstrip-tab.newtab {
  -webkit-animation-name: tabstrip-tab-slideup;
  -webkit-animation-duration: 0.1s;
}
.tabstrip-tab.closetab {
  -webkit-animation-name: tabstrip-tab-slidedown;
  -webkit-animation-duration: 0.1s;
}
.tabstrip-tab.selected {
  border-bottom: 1px solid transparent;
  color: #fbfbfb;
  height: 24px;
  z-index: 1;
  -webkit-border-image: url(/bbkitAssets/images/tabselected.png) 5 16 0 16 fill stretch;
}
.tabstrip-tab.selected .tabstrip-close {
  background: url(/bbkitAssets/images/tabcloseselected.png) no-repeat center -1px;
}
.tabstrip-tab.selected .tabstrip-close:hover {
  background-position-y: -22px;
}
.tabstrip-tab.selected .tabstrip-close:active {
  background-position-y: -43px;
}
.tabstrip-tab.moving {
  -webkit-transition: left ease-in-out 0s;
  -webkit-animation-name: none;
}
.tabstrip-tab.hidden {
  display: block !important;
  visibility: hidden;
}

.window-state-blur .tabstrip-tab.selected,
.window-state-blur .tabstrip-tab.selected:hover {
  z-index: 1;
  -webkit-border-image: url(/bbkitAssets/images/tabselected.png) 5 16 0 16 fill stretch;
}

.window-state-blur .tabstrip-tab,
.window-state-blur .tabstrip-tab:hover {
  -webkit-border-image: url(/bbkitAssets/images/tabblur.png) 5 16 0 16 fill stretch;
}

.window-state-blur .tabstrip-tab:hover .tabstrip-close {
  background-image: url(/bbkitAssets/images/tabcloseselected.png);
  background-position-y: -1px;
}
.window-state-blur .tabstrip-tab:hover .tabstrip-close:hover {
  background-position-y: -43px;
}

.tabstrip-addtab {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 5px;
  margin-top: 2px;
  vertical-align: top;
  border: 1px solid transparent;
  border-radius: 2px;
  background: url(/bbkitAssets/images/tab_add_normal.png) no-repeat 4px 3px;
  box-sizing: border-box;
}
.tabstrip-addtab:hover {
  background: url(/bbkitAssets/images/tab_add_normal.png) no-repeat 4px 3px, #ededed;
  border-color: #777;
}
.tabstrip-addtab:active {
  background: url(/bbkitAssets/images/tab_add_pressed.png) no-repeat 4px 3px, #a2a2a2;
}
.tabstrip-addtab.disabled, .tabstrip-addtab.disabled:hover {
  background: url(/bbkitAssets/images/tab_add_disabled.png) no-repeat 4px 3px;
  border-color: transparent;
}

.window-state-blur .tabstrip-addtab:hover {
  background-color: #d2d2d2;
  border-color: #828282;
}

.tabstrip-tab .style-tab-hotspot-link {
  margin: 0;
  border-radius: 1px;
  min-height: 13px;
  vertical-align: text-top;
}
.tabstrip-tab .style-tab-hotspot-link.dropdownbutton.sys-compact {
  padding: 0;
}
.tabstrip-tab .style-tab-hotspot-link.style-link-group {
  width: 15px;
  height: 15px;
  font-size: 10px;
  background: #1F2A3D;
  color: black;
  font-weight: bold;
  border-color: #646464;
}
.tabstrip-tab .style-tab-hotspot-link.style-link-group:hover, .tabstrip-tab .style-tab-hotspot-link.style-link-group:active, .tabstrip-tab .style-tab-hotspot-link.style-link-group.active {
  background: #1F2A3D;
  box-shadow: none;
}
.tabstrip-tab .style-tab-hotspot-link .button-img {
  display: none;
}
.tabstrip-tab.selected .style-tab-hotspot-link.btn-imagepresent .button-content .button-img {
  height: 13px;
  display: inline-block;
}
.tabstrip-tab.selected .style-tab-hotspot-link.btn-imagepresent:hover, .tabstrip-tab.selected .style-tab-hotspot-link.btn-imagepresent:active, .tabstrip-tab.selected .style-tab-hotspot-link.btn-imagepresent.active {
  box-shadow: none;
}
.tabstrip-tab.selected .style-tab-hotspot-link.btn-imagepresent:hover .button-content, .tabstrip-tab.selected .style-tab-hotspot-link.btn-imagepresent:active .button-content, .tabstrip-tab.selected .style-tab-hotspot-link.btn-imagepresent.active .button-content {
  height: 13px;
  width: 13px;
}
.tabstrip-tab.selected .style-tab-hotspot-link.btn-imagepresent:hover .button-content .button-img, .tabstrip-tab.selected .style-tab-hotspot-link.btn-imagepresent:active .button-content .button-img, .tabstrip-tab.selected .style-tab-hotspot-link.btn-imagepresent.active .button-content .button-img {
  display: none;
}
.tabstrip-tab.selected .style-tab-hotspot-link.btn-imagepresent:hover {
  border-color: #232323;
}
.tabstrip-tab.selected .style-tab-hotspot-link.btn-imagepresent:hover .button-content {
  background: #cfcfcf url(/bbkitAssets/images/link-browser-sprite.png) no-repeat 0px -13px;
}
.tabstrip-tab.selected .style-tab-hotspot-link.btn-imagepresent:active {
  border-color: #232323;
}
.tabstrip-tab.selected .style-tab-hotspot-link.btn-imagepresent:active .button-content {
  background: #8c8c8c url(/bbkitAssets/images/link-browser-sprite.png) no-repeat 0px -26px;
}
.tabstrip-tab.selected .style-tab-hotspot-link.btn-imagepresent.active {
  border-color: #000000;
}
.tabstrip-tab.selected .style-tab-hotspot-link.btn-imagepresent.active .button-content {
  background: #505050 url(/bbkitAssets/images/link-browser-sprite.png) no-repeat 0px -39px;
}
.tabstrip-tab.selected .style-tab-hotspot-link.style-link-group {
  border-color: #282828;
}

.tabstrip-overflow {
  display: inline-block;
  width: 23px;
  height: 23px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 3px 7px;
  vertical-align: top;
  background: url(/bbkitAssets/images/taboverflow.png) no-repeat center 5px;
}
.tabstrip-overflow.hidden {
  display: none;
}
.tabstrip-overflow:hover {
  border-color: #8c8c8c;
  background: url(/bbkitAssets/images/taboverflow.png) no-repeat center 5px, -webkit-linear-gradient(top, #bebebe, #d7d7d7);
}
.tabstrip-overflow:active, .tabstrip-overflow.active {
  border-color: #646464;
  background: url(/bbkitAssets/images/taboverflow.png) no-repeat center -13px, -webkit-linear-gradient(top, #8c8c8c, #787878);
}

.tabstrip-close {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 17px;
  height: 17px;
  background: url(/bbkitAssets/images/tabclose.png) no-repeat center 2000px;
}

.tabstrip-content {
  position: absolute;
  left: 0;
  right: 20px;
  overflow: hidden;
}

.tabstrip-overflow-scroll {
  display: inline-block;
  height: 23px;
  width: 23px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 2px;
  vertical-align: top;
}
.tabstrip-overflow-scroll.hidden {
  display: none;
}
.tabstrip-overflow-scroll:hover {
  border-color: #8c8c8c;
}
.tabstrip-overflow-scroll.disabled:hover {
  border-color: transparent;
}
.tabstrip-overflow-scroll.tabstrip-overflow-scroll-left {
  background: url(/bbkitAssets/images/tab_overflow_left_normal.png) no-repeat 4px 3px;
  margin-left: 5px;
}
.tabstrip-overflow-scroll.tabstrip-overflow-scroll-left:hover {
  background: url(/bbkitAssets/images/tab_overflow_left_normal.png) no-repeat 4px 3px, -webkit-linear-gradient(top, #bebebe, #a5a5a5);
}
.tabstrip-overflow-scroll.tabstrip-overflow-scroll-left:active, .tabstrip-overflow-scroll.tabstrip-overflow-scroll-left.active {
  background: url(/bbkitAssets/images/tab_overflow_left_pressed.png) no-repeat 4px 3px, -webkit-linear-gradient(top, #bebebe, #a5a5a5);
}
.tabstrip-overflow-scroll.tabstrip-overflow-scroll-left.disabled, .tabstrip-overflow-scroll.tabstrip-overflow-scroll-left.disabled:hover {
  background: url(/bbkitAssets/images/tab_overflow_left_disabled.png) no-repeat 4px 3px;
}
.tabstrip-overflow-scroll.tabstrip-overflow-scroll-right {
  background: url(/bbkitAssets/images/tab_overflow_right_normal.png) no-repeat 4px 3px;
}
.tabstrip-overflow-scroll.tabstrip-overflow-scroll-right:hover {
  background: url(/bbkitAssets/images/tab_overflow_right_normal.png) no-repeat 4px 3px, -webkit-linear-gradient(top, #bebebe, #a5a5a5);
}
.tabstrip-overflow-scroll.tabstrip-overflow-scroll-right:hover {
  background: url(/bbkitAssets/images/tab_overflow_right_pressed.png) no-repeat 4px 3px, -webkit-linear-gradient(top, #bebebe, #a5a5a5);
}
.tabstrip-overflow-scroll.tabstrip-overflow-scroll-right.disabled, .tabstrip-overflow-scroll.tabstrip-overflow-scroll-right.disabled:hover {
  background: url(/bbkitAssets/images/tab_overflow_right_disabled.png) no-repeat 4px 3px;
}