.splitter {
  display: -webkit-flex;
}
.splitter > div {
  position: relative;
}
.splitter > div > iframe {
  position: absolute;
}
.splitter .splitter-bar {
  background-color: #45484D;
}
.splitter .splitter-bar.layout-horizontal {
  width: 3px;
  cursor: e-resize;
}
.splitter .splitter-bar.layout-vertical {
  height: 3px;
  cursor: n-resize;
}
.splitter .disabled .splitter-bar {
  background-color: #222222;
}