*:focus {
  outline: none;
}

.partitionpanel-child-content.top {
  border-top-style: none;
}
.partitionpanel-child-content.left {
  border-left-style: none;
}
.partitionpanel-child-content.right {
  border-right-style: none;
}
.partitionpanel-child-content.bottom {
  border-bottom-style: none;
}

.partitionpanel-child-content {
  border: 1px solid #646464;
}